Repository EnMasseProject/enmasse, pull requests merged in 2018-09, with the labels that each got.

#1563 Update systemtests to use user api
  api-common/src/main/java/io/enmasse/api/common/DefaultExceptionMapper.java
  api-server/src/main/java/io/enmasse/api/server/HTTPServer.java
  api-server/src/main/java/io/enmasse/api/v1/http/HttpApiRootService.java
  api-server/src/main/java/io/enmasse/api/v1/http/HttpUserService.java
  api-server/src/main/resources/swagger.json
  api-server/src/test/java/io/enmasse/api/v1/http/HttpUserServiceTest.java
  api-server/src/test/java/io/enmasse/api/v1/http/TestUserApi.java
  documentation/design_docs/design/user-resource.adoc
  keycloak-controller/src/main/java/io/enmasse/keycloak/controller/Keycloak.java
  keycloak-controller/src/test/java/io/enmasse/keycloak/controller/KeycloakManagerTest.java
  keycloak-user-api/src/main/java/io/enmasse/user/keycloak/KeycloakUserApi.java
  systemtests/src/main/java/io/enmasse/systemtest/Environment.java
  systemtests/src/main/java/io/enmasse/systemtest/Group.java
  systemtests/src/main/java/io/enmasse/systemtest/JmsProvider.java
  systemtests/src/main/java/io/enmasse/systemtest/KeycloakClient.java
  systemtests/src/main/java/io/enmasse/systemtest/Kubernetes.java
  systemtests/src/main/java/io/enmasse/systemtest/User.java
  systemtests/src/main/java/io/enmasse/systemtest/UserCredentials.java
  systemtests/src/main/java/io/enmasse/systemtest/amqp/AmqpClientFactory.java
  systemtests/src/main/java/io/enmasse/systemtest/amqp/AmqpConnectOptions.java
  systemtests/src/main/java/io/enmasse/systemtest/apiclients/OSBApiClient.java
  systemtests/src/main/java/io/enmasse/systemtest/apiclients/UserApiClient.java
  systemtests/src/main/java/io/enmasse/systemtest/mqtt/MqttClientFactory.java
  systemtests/src/main/java/io/enmasse/systemtest/selenium/page/ConsoleWebPage.java
  systemtests/src/main/java/io/enmasse/systemtest/selenium/page/OpenshiftWebPage.java
  systemtests/src/main/java/io/enmasse/systemtest/selenium/page/RheaWebPage.java
  systemtests/src/main/java/io/enmasse/systemtest/selenium/resources/BindingSecretData.java
  systemtests/src/test/java/io/enmasse/systemtest/bases/TestBase.java
  systemtests/src/test/java/io/enmasse/systemtest/bases/TestBaseWithShared.java
  systemtests/src/test/java/io/enmasse/systemtest/bases/auth/AuthenticationTestBase.java
  systemtests/src/test/java/io/enmasse/systemtest/bases/authz/AuthorizationTestBase.java
  systemtests/src/test/java/io/enmasse/systemtest/bases/web/WebConsolePlansTest.java
  systemtests/src/test/java/io/enmasse/systemtest/bases/web/WebConsoleTest.java
  systemtests/src/test/java/io/enmasse/systemtest/brokered/SmokeTest.java
  systemtests/src/test/java/io/enmasse/systemtest/brokered/auth/AuthenticationTest.java
  systemtests/src/test/java/io/enmasse/systemtest/brokered/web/ChromeWebConsoleTest.java
  systemtests/src/test/java/io/enmasse/systemtest/brokered/web/FirefoxWebConsoleTest.java
  systemtests/src/test/java/io/enmasse/systemtest/common/api/ApiServerTest.java
  systemtests/src/test/java/io/enmasse/systemtest/common/api/CustomResourceDefinitionAddressSpacesTest.java
  systemtests/src/test/java/io/enmasse/systemtest/common/api/CustomResourceDefinitionAddressesTest.java
  systemtests/src/test/java/io/enmasse/systemtest/common/catalog/ServiceCatalogApiTest.java
  systemtests/src/test/java/io/enmasse/systemtest/common/catalog/ServiceCatalogWebTest.java
  systemtests/src/test/java/io/enmasse/systemtest/common/plans/PlansTest.java
  systemtests/src/test/java/io/enmasse/systemtest/marathon/MarathonTestBase.java
  systemtests/src/test/java/io/enmasse/systemtest/standard/QueueTest.java
  systemtests/src/test/java/io/enmasse/systemtest/standard/web/ChromeWebConsoleTest.java
  systemtests/src/test/java/io/enmasse/systemtest/standard/web/FirefoxWebConsoleTest.java
  templates/include/address-space-controller.jsonnet
  templates/include/api-server.jsonnet
  user-api/src/main/java/io/enmasse/user/api/UserApi.java
  user-api/src/main/java/io/enmasse/user/model/v1/User.java
  user-api/src/main/java/io/enmasse/user/model/v1/UserAuthentication.java
  user-api/src/main/java/io/enmasse/user/model/v1/UserAuthorization.java
  user-api/src/main/java/io/enmasse/user/model/v1/UserMetadata.java
  user-api/src/main/java/io/enmasse/user/model/v1/UserSpec.java
  user-api/src/test/java/io/enmasse/user/model/v1/UserModelTest.java
Labels: component/systemtests

#1516 Update documentation regarding using Service Catalog on Minishift
  documentation/common/attributes.adoc
  documentation/common/prerequisites-openshift.adoc
Labels: Peer Review Needed, component/documentation

#1618 Docs folder organization changes
  Makefile
  documentation/_images/favicon.ico
  documentation/_images/logo/enmasse_icon.png
  documentation/_images/logo/enmasse_icon.svg
  documentation/_images/logo/enmasse_icon_monochrome.svg
  documentation/_images/logo/enmasse_logo.png
  documentation/_images/logo/enmasse_logo.svg
  documentation/_images/logo/enmasse_sticker.png
  documentation/_images/logo/enmasse_sticker.svg
  documentation/assemblies/assembly-installing-kubernetes.adoc
  documentation/assemblies/assembly-installing-manual-steps.adoc
  documentation/assemblies/assembly-installing-openshift.adoc
  documentation/assemblies/assembly-managing-users.adoc
  documentation/assemblies/assembly-plans.adoc
  documentation/master.adoc
  documentation/modules/con-address-plans.adoc
  documentation/modules/con-address-space-plans.adoc
  documentation/modules/con-resource-definitions.adoc
  documentation/modules/proc-creating-project.adoc
  documentation/modules/proc-deploying-address-space-controller.adoc
  documentation/modules/proc-deploying-api-server.adoc
  documentation/modules/proc-deploying-auth-services.adoc
  documentation/modules/proc-deploying-service-broker.adoc
  documentation/modules/proc-deploying-single-namespace.adoc
  documentation/modules/proc-installing-using-ansible.adoc
  documentation/modules/ref-ansible-config-settings.adoc
  documentation/service_admin/assembly-installing-manual-steps.adoc
Labels: Peer Review Done, component/documentation

#1637 Docs: Issue 1636: modularize Monitoring chapter
  documentation/assemblies/assembly-installing-manual-steps.adoc
  documentation/assemblies/assembly-monitoring-kube.adoc
  documentation/assemblies/assembly-monitoring-oc.adoc
  documentation/common/proc-download-procedure.adoc
  documentation/master.adoc
  documentation/modules/proc-deploy-grafana.adoc
  documentation/modules/proc-deploy-prometheus.adoc
  documentation/service_admin/master.adoc
  documentation/service_admin/monitoring.adoc
Labels: Peer Review Done, component/documentation

#1660 Docs: Issue 1653: modularize Managing address spaces and addresses chapter
  agent/pom.xml
  documentation/assemblies/assembly-brokered-address-types.adoc
  documentation/assemblies/assembly-configure-address-spaces-addresses-cli-kube.adoc
  documentation/assemblies/assembly-configure-address-spaces-addresses-cli-oc.adoc
  documentation/assemblies/assembly-configure-address-spaces-addresses-restapi.adoc
  documentation/assemblies/assembly-managing-users.adoc
  documentation/assemblies/assembly-monitoring-kube.adoc
  documentation/assemblies/assembly-standard-address-types.adoc
  documentation/common/address-model.adoc
  documentation/common/address-space.adoc
  documentation/common/overview.adoc
  documentation/getting_started/configuring-addresses.adoc
  documentation/master.adoc
  documentation/modules/con-address-space.adoc
  documentation/modules/con-address.adoc
  documentation/modules/con-brokered-address-space.adoc
  documentation/modules/con-brokered-queue.adoc
  documentation/modules/con-brokered-topic.adoc
  documentation/modules/con-standard-address-space.adoc
  documentation/modules/con-standard-anycast.adoc
  documentation/modules/con-standard-multicast.adoc
  documentation/modules/con-standard-queue.adoc
  documentation/modules/con-standard-subscription.adoc
  documentation/modules/con-standard-topic.adoc
  documentation/modules/con-user-model.adoc
  documentation/modules/proc-create-address-cli.adoc
  documentation/modules/proc-create-address-restapi.adoc
  documentation/modules/proc-create-address-space-cli.adoc
  documentation/modules/proc-create-address-space-restapi.adoc
  documentation/modules/proc-creating-users-cli.adoc
  documentation/modules/proc-deleting-users-cli.adoc
  documentation/tenant/master.adoc
Labels: Peer Review Done, component/documentation, status/SME Review Needed

#1677 Use fully-fledged OpenShift oauthclient rather than the serviceaccount to simplify openshift login workflow
  keycloak-controller/pom.xml
  keycloak-controller/src/main/java/io/enmasse/keycloak/controller/IdentityProviderParams.java
  keycloak-controller/src/main/java/io/enmasse/keycloak/controller/Keycloak.java
  keycloak-controller/src/main/java/io/enmasse/keycloak/controller/KeycloakApi.java
  keycloak-controller/src/main/java/io/enmasse/keycloak/controller/KeycloakController.java
  keycloak-controller/src/main/java/io/enmasse/keycloak/controller/KeycloakManager.java
  keycloak-controller/src/test/java/io/enmasse/keycloak/controller/KeycloakManagerTest.java
  pom.xml
  templates/standard-authservice/020-ClusterRole-keycloak-controller.yaml
  templates/standard-authservice/050-Deployment-keycloak-controller.yaml
Labels: console
