Repository EnMasseProject/enmasse, pull requests merged in 2018-03, with the labels that each got.

#987 Webconsole fixes
  systemtests/pom.xml
  systemtests/src/main/java/io/enmasse/systemtest/selenium/SeleniumProvider.java
  systemtests/src/test/java/io/enmasse/systemtest/bases/web/WebConsoleTest.java
  templates/install/ansible/roles/systemtests_dependencies/defaults/main.yml
  templates/install/ansible/roles/systemtests_dependencies/tasks/clients.yml
  templates/install/ansible/roles/systemtests_dependencies/tasks/dependencies.yml
  templates/install/ansible/roles/systemtests_dependencies/tasks/firefox.yml
  templates/install/ansible/roles/systemtests_dependencies/tasks/main.yml
Labels: component/systemtests

#963 Store configmaps systests
  systemtests/src/main/java/io/enmasse/systemtest/GlobalLogCollector.java
  systemtests/src/main/java/io/enmasse/systemtest/Kubernetes.java
  systemtests/src/test/java/io/enmasse/systemtest/bases/TestBase.java
Labels: component/systemtests

#1039 REF create package for common tests
  Jenkinsfile
  Jenkinsfile-pr
  systemtests/src/test/java/io/enmasse/systemtest/common/plans/PlansTest.java
  systemtests/src/test/java/io/enmasse/systemtest/common/plans/web/ChromeWebConsolePlansTest.java
  systemtests/src/test/java/io/enmasse/systemtest/common/plans/web/FirefoxWebConsolePlansTest.java
Labels: Do Not Merge, component/systemtests

#1046 Fixes for webconsole tests
  systemtests/src/main/java/io/enmasse/systemtest/selenium/ConsoleWebPage.java
  systemtests/src/main/java/io/enmasse/systemtest/selenium/SeleniumProvider.java
  systemtests/src/test/java/io/enmasse/systemtest/bases/web/WebConsoleTest.java
Labels: component/systemtests

#1045 Api tests
  systemtests/src/main/java/io/enmasse/systemtest/Address.java
  systemtests/src/main/java/io/enmasse/systemtest/AddressApiClient.java
  systemtests/src/main/java/io/enmasse/systemtest/Destination.java
  systemtests/src/main/java/io/enmasse/systemtest/TestUtils.java
  systemtests/src/main/java/io/enmasse/systemtest/resources/AddressSpaceTypeData.java
  systemtests/src/main/java/io/enmasse/systemtest/resources/AddressTypeData.java
  systemtests/src/main/java/io/enmasse/systemtest/resources/PlanData.java
  systemtests/src/main/java/io/enmasse/systemtest/resources/SchemaData.java
  systemtests/src/test/java/io/enmasse/systemtest/bases/TestBase.java
  systemtests/src/test/java/io/enmasse/systemtest/bases/TestBaseWithShared.java
  systemtests/src/test/java/io/enmasse/systemtest/bases/authz/AuthorizationTestBase.java
  systemtests/src/test/java/io/enmasse/systemtest/brokered/QueueTest.java
  systemtests/src/test/java/io/enmasse/systemtest/brokered/TopicTest.java
  systemtests/src/test/java/io/enmasse/systemtest/common/api/AddressControllerApiTest.java
  systemtests/src/test/java/io/enmasse/systemtest/standard/AnycastTest.java
  systemtests/src/test/java/io/enmasse/systemtest/standard/MulticastTest.java
  systemtests/src/test/java/io/enmasse/systemtest/standard/QueueTest.java
  systemtests/src/test/java/io/enmasse/systemtest/standard/TopicTest.java
Labels: component/systemtests, test development

#1061 Enable logging FRM trace when client fails
  systemtests/src/main/java/io/enmasse/systemtest/clients/AbstractClient.java
  systemtests/src/main/java/io/enmasse/systemtest/clients/proton/java/ProtonJMSClientReceiver.java
  systemtests/src/main/java/io/enmasse/systemtest/clients/proton/java/ProtonJMSClientSender.java
  systemtests/src/main/java/io/enmasse/systemtest/clients/proton/python/PythonClientReceiver.java
  systemtests/src/main/java/io/enmasse/systemtest/clients/proton/python/PythonClientSender.java
  systemtests/src/main/java/io/enmasse/systemtest/clients/rhea/RheaClientConnector.java
  systemtests/src/main/java/io/enmasse/systemtest/clients/rhea/RheaClientReceiver.java
  systemtests/src/main/java/io/enmasse/systemtest/clients/rhea/RheaClientSender.java
  systemtests/src/main/java/io/enmasse/systemtest/executor/Executor.java
  systemtests/src/test/java/io/enmasse/systemtest/bases/clients/ClientTestBase.java
  systemtests/src/test/java/io/enmasse/systemtest/brokered/clients/openwire/MsgPatternsTest.java
  systemtests/src/test/java/io/enmasse/systemtest/brokered/clients/proton/java/MsgPatternsTest.java
  systemtests/src/test/java/io/enmasse/systemtest/brokered/clients/proton/python/MsgPatternsTest.java
  systemtests/src/test/java/io/enmasse/systemtest/brokered/clients/rhea/MsgPatternsTest.java
  systemtests/src/test/java/io/enmasse/systemtest/standard/clients/proton/java/MsgPatternsTest.java
  systemtests/src/test/java/io/enmasse/systemtest/standard/clients/proton/python/MsgPatternsTest.java
  systemtests/src/test/java/io/enmasse/systemtest/standard/clients/rhea/MsgPatternsTest.java
Labels: component/systemtests

#1083 Test global max size
  systemtests/src/main/java/io/enmasse/systemtest/Kubernetes.java
  systemtests/src/main/java/io/enmasse/systemtest/PlansProvider.java
  systemtests/src/main/java/io/enmasse/systemtest/TestUtils.java
  systemtests/src/main/java/io/enmasse/systemtest/clients/AbstractClient.java
  systemtests/src/main/java/io/enmasse/systemtest/clients/proton/java/ProtonJMSClientReceiver.java
  systemtests/src/main/java/io/enmasse/systemtest/clients/proton/java/ProtonJMSClientSender.java
  systemtests/src/main/java/io/enmasse/systemtest/resources/ResourceDefinition.java
  systemtests/src/main/java/io/enmasse/systemtest/resources/ResourceParameter.java
  systemtests/src/test/java/io/enmasse/systemtest/bases/TestBase.java
  systemtests/src/test/java/io/enmasse/systemtest/common/plans/PlansTest.java
Labels: component/systemtests, test development

#1108 NEW added standard tests to marathon tests suite
  Jenkinsfile-long
  systemtests/src/test/java/io/enmasse/systemtest/bases/TestBase.java
  systemtests/src/test/java/io/enmasse/systemtest/marathon/AddressSpaceTest.java
  systemtests/src/test/java/io/enmasse/systemtest/marathon/AuthenticationTest.java
  systemtests/src/test/java/io/enmasse/systemtest/marathon/BrokeredMarathonTest.java
  systemtests/src/test/java/io/enmasse/systemtest/marathon/ChromeWebConsoleTest.java
  systemtests/src/test/java/io/enmasse/systemtest/marathon/FirefoxWebConsoleTest.java
  systemtests/src/test/java/io/enmasse/systemtest/marathon/MarathonTestBase.java
  systemtests/src/test/java/io/enmasse/systemtest/marathon/QueueTest.java
  systemtests/src/test/java/io/enmasse/systemtest/marathon/StandardMarathonTest.java
  systemtests/src/test/java/io/enmasse/systemtest/marathon/TopicTest.java
  systemtests/src/test/java/io/enmasse/systemtest/marathon/WebConsoleTest.java
Labels: Do Not Merge, status/WIP
