Repository EnMasseProject/enmasse, pull requests merged in 2018-10, with the labels that each got.

#1725 Add error message for incorrect filters on connections tab too.
  agent/www/components/addresses/addresses_ctrl.js
  agent/www/components/connections/connections.html
  agent/www/components/connections/connections_ctrl.js
Labels: console

#1437 update file name recommendations
  documentation/contributing/files.adoc
Labels: Peer Review Done

#1783 Issue 1782: fix docs coding issue
  documentation/modules/proc-create-address-space-cli.adoc
Labels: Peer Review Done, component/documentation

#1663 Give an example on how to encode base64
  documentation/modules/con-user-model.adoc
Labels: Peer Review Done

#1796 Upgrade to oc 3.11
  systemtests/ansible/roles/systemtests_environment/defaults/main.yml
  systemtests/scripts/setup-openshift.sh
Labels: component/systemtests

#1816 Image location and doc fixes
  documentation/assemblies/assembly-configure-address-spaces-addresses-cli-kube.adoc
  documentation/assemblies/assembly-configure-address-spaces-addresses-cli-oc.adoc
  documentation/assemblies/assembly-installing-kubernetes.adoc
  documentation/assemblies/assembly-installing-openshift.adoc
  documentation/common/attributes.adoc
  documentation/common/snip-create-kubernetes-project.adoc
  documentation/common/snip-create-openshift-project.adoc
  documentation/common/snip-prerequisites-kubernetes.adoc
  documentation/common/snip-prerequisites-openshift.adoc
  documentation/getting_started/kubernetes.adoc
  documentation/modules/proc-deploying-address-space-controller.adoc
  documentation/modules/proc-deploying-api-server.adoc
  documentation/modules/proc-deploying-auth-services.adoc
  documentation/modules/proc-deploying-service-broker.adoc
  documentation/modules/proc-installing-using-bundle.adoc
  documentation/modules/proc-installing-using-template.adoc
  documentation/modules/proc-installing-without-cluster-admin-privileges.adoc
  documentation/service_admin/example.inventory
  scripts/check_docs.sh
  systemtests/scripts/run_test_kubernetes.sh
  templates/Makefile
  templates/tenant/address-space.yaml
  templates/tenant/address.yaml
Labels: Peer Review Needed, component/documentation, component/templates

#1874 De-springify the MQTT components.
  amqp-utils/src/main/java/io/enmasse/amqp/DispatchRouterJ.java
  amqp-utils/src/main/java/io/enmasse/amqp/ExternalSaslAuthenticator.java
  mqtt-gateway/pom.xml
  mqtt-gateway/src/main/java/enmasse/mqtt/Application.java
  mqtt-gateway/src/main/java/enmasse/mqtt/MqttGateway.java
  mqtt-gateway/src/main/java/enmasse/mqtt/MqttGatewayOptions.java
  mqtt-gateway/src/main/resources/log4j.properties
  mqtt-gateway/src/main/resources/logback.xml
  mqtt-gateway/src/test/java/enmasse/mqtt/AmqpSubscribeData.java
  mqtt-gateway/src/test/java/enmasse/mqtt/AmqpUnsubscribeData.java
  mqtt-gateway/src/test/java/enmasse/mqtt/AmqpWillData.java
  mqtt-gateway/src/test/java/enmasse/mqtt/ConnectionTest.java
  mqtt-gateway/src/test/java/enmasse/mqtt/DisconnectionTest.java
  mqtt-gateway/src/test/java/enmasse/mqtt/MockMqttGatewayTestBase.java
  mqtt-gateway/src/test/java/enmasse/mqtt/PublishTest.java
  mqtt-gateway/src/test/java/enmasse/mqtt/SslTest.java
  mqtt-gateway/src/test/java/enmasse/mqtt/SubscribeTest.java
  mqtt-gateway/src/test/java/enmasse/mqtt/UnsubscribeTest.java
  mqtt-gateway/src/test/java/enmasse/mqtt/mocks/Application.java
  mqtt-gateway/src/test/java/enmasse/mqtt/mocks/MockBroker.java
  mqtt-gateway/src/test/java/enmasse/mqtt/mocks/MockLwtService.java
  mqtt-gateway/src/test/java/enmasse/mqtt/mocks/MockSubscriptionService.java
  mqtt-gateway/src/test/java/enmasse/mqtt/mocks/MqttPublisherClient.java
  mqtt-gateway/src/test/java/enmasse/mqtt/mocks/MqttSubscriberClient.java
  mqtt-gateway/src/test/resources/logback-test.xml
  mqtt-lwt/pom.xml
  mqtt-lwt/src/main/java/enmasse/mqtt/Application.java
  mqtt-lwt/src/main/java/enmasse/mqtt/MqttLwt.java
  mqtt-lwt/src/main/java/enmasse/mqtt/MqttLwtOptions.java
  mqtt-lwt/src/main/java/enmasse/mqtt/storage/impl/InMemoryLwtStorage.java
  mqtt-lwt/src/main/resources/log4j.properties
  mqtt-lwt/src/main/resources/logback.xml
  mqtt-lwt/src/test/java/enmasse/mqtt/ConnectionTest.java
  mqtt-lwt/src/test/java/enmasse/mqtt/DisconnectionTest.java
  mqtt-lwt/src/test/java/enmasse/mqtt/MqttLwtTestBase.java
  mqtt-lwt/src/test/java/enmasse/mqtt/WillTest.java
  mqtt-lwt/src/test/resources/logback-test.xml
  pom.xml
Labels: component/mqtt, standard address space

#1853 Docs: miscellaneous minor edits and styling cleanup
  agent/lib/console_server.js
  documentation/modules/proc-deleting-users-cli.adoc
  documentation/modules/proc-deploying-address-space-controller.adoc
  documentation/modules/proc-deploying-api-server.adoc
  documentation/modules/proc-deploying-auth-services.adoc
  documentation/modules/proc-deploying-service-broker.adoc
  documentation/modules/proc-get-logs-broker.adoc
  documentation/modules/proc-get-logs-router.adoc
  documentation/modules/proc-installing-using-ansible.adoc
  documentation/modules/proc-installing-using-bundle.adoc
  documentation/modules/proc-logging-in-console.adoc
  documentation/modules/proc-restart-component.adoc
  documentation/modules/proc-upgrading-enmasse-using-ansible.adoc
  documentation/modules/ref-cpp-example.adoc
  documentation/modules/ref-dotnet-example.adoc
  documentation/modules/ref-javascript-example.adoc
  documentation/modules/ref-jms-example.adoc
  documentation/modules/ref-python-example.adoc
Labels: Peer Review Done, component/documentation

#1898 Parameterize the name of the install bundle
  documentation/common/attributes.adoc
  documentation/modules/proc-installing-using-bundle.adoc
  documentation/modules/proc-installing-using-template.adoc
  documentation/modules/proc-upgrading-enmasse-using-bundle.adoc
  documentation/modules/proc-upgrading-enmasse-using-template.adoc
Labels: Peer Review Done, Peer Review Needed
