Repository EnMasseProject/enmasse, pull requests merged in 2018-06, with the labels that each got.

#1303 Test debug
  systemtests/src/main/java/io/enmasse/systemtest/GlobalLogCollector.java
  systemtests/src/main/java/io/enmasse/systemtest/TimeoutBudget.java
  systemtests/src/main/java/io/enmasse/systemtest/apiclients/AddressApiClient.java
  systemtests/src/main/java/io/enmasse/systemtest/selenium/page/OpenshiftWebPage.java
  systemtests/src/test/java/io/enmasse/systemtest/bases/clients/ClientTestBase.java
  systemtests/src/test/java/io/enmasse/systemtest/common/api/ApiServerTest.java
  systemtests/src/test/java/io/enmasse/systemtest/common/plans/PlansTest.java
Labels: Do Not Merge

#1355 Add example rhea client using websockets
  documentation/messaging_app_developer/connecting.adoc
Labels: Peer Review Done, component/documentation

#1402 Fix increase timeout for subscribers
  systemtests/src/test/java/io/enmasse/systemtest/bases/clients/ClientTestBase.java
Labels: Do Not Merge

#1405 NEW: Time measuring system
  systemtests/src/main/java/io/enmasse/systemtest/KeycloakClient.java
  systemtests/src/main/java/io/enmasse/systemtest/TestUtils.java
  systemtests/src/main/java/io/enmasse/systemtest/ability/ExecutionListener.java
  systemtests/src/main/java/io/enmasse/systemtest/ability/ITestSeparator.java
  systemtests/src/main/java/io/enmasse/systemtest/messagingclients/AbstractClient.java
  systemtests/src/main/java/io/enmasse/systemtest/selenium/SeleniumContainers.java
  systemtests/src/main/java/io/enmasse/systemtest/selenium/SeleniumProvider.java
  systemtests/src/main/java/io/enmasse/systemtest/timemeasuring/Operation.java
  systemtests/src/main/java/io/enmasse/systemtest/timemeasuring/TimeMeasuringSystem.java
  systemtests/src/test/java/io/enmasse/systemtest/bases/TestBase.java
Labels: component/systemtests

#1403 Remove installed templates
  templates/Makefile
  templates/include/api-server/route.yaml
  templates/include/service-broker/route.yaml
  templates/install/.gitignore
  templates/install/resources/address-space-controller/address-space-definitions.yaml
  templates/install/resources/address-space-controller/deployment.yaml
  templates/install/resources/api-server/deployment.yaml
  templates/install/resources/api-server/service.yaml
  templates/install/resources/cluster-roles/api-server.yaml
  templates/install/resources/cluster-roles/developer.yaml
  templates/install/resources/cluster-roles/kubernetes/address-space-controller.yaml
  templates/install/resources/cluster-roles/kubernetes/k8s-api-get-root-url.yaml
  templates/install/resources/cluster-roles/openshift/address-space-controller.yaml
  templates/install/resources/cluster-roles/openshift/keycloak-controller.yaml
  templates/install/resources/cluster-roles/service-broker.yaml
  templates/install/resources/cluster-roles/tenant.yaml
  templates/install/resources/grafana/grafana.yaml
  templates/install/resources/none-authservice/deployment.yaml
  templates/install/resources/none-authservice/service.yaml
  templates/install/resources/plans/brokered-plans.yaml
  templates/install/resources/plans/standard-plans.yaml
  templates/install/resources/prometheus/prometheus.yaml
  templates/install/resources/resource-definitions/resource-definitions.yaml
  templates/install/resources/service-broker/deployment.yaml
  templates/install/resources/service-broker/service.yaml
  templates/install/resources/standard-authservice/controller-deployment.yaml
  templates/install/resources/standard-authservice/external-service.yaml
  templates/install/resources/standard-authservice/keycloak-deployment.yaml
  templates/install/resources/standard-authservice/pvc.yaml
  templates/install/resources/standard-authservice/route.yaml
  templates/install/resources/standard-authservice/service.yaml
  templates/install/resources/templates/address-space.yaml
  templates/install/resources/templates/address.yaml
  templates/install/resources/templates/api-service.yaml
  templates/install/resources/templates/persistent-volume.yaml
  templates/install/resources/templates/service-broker.yaml
Labels: component/templates
