Repository EnMasseProject/enmasse, pull requests merged in 2018-02, with the labels that each got.

#826 Proposal of plan-based quota check, scaling and scheduling
  documentation/design_docs/design/resource-scheduler.adoc
Labels: kind/proposal

#869 Enable openwire tests
  systemtests/src/main/java/io/enmasse/systemtest/executor/client/AbstractClient.java
  systemtests/src/main/java/io/enmasse/systemtest/executor/client/ClientType.java
  systemtests/src/main/java/io/enmasse/systemtest/executor/client/artemis/ArtemisJMSClientReceiver.java
  systemtests/src/main/java/io/enmasse/systemtest/executor/client/artemis/ArtemisJMSClientSender.java
  systemtests/src/main/java/io/enmasse/systemtest/executor/client/openwire/OpenwireJMSClientReceiver.java
  systemtests/src/main/java/io/enmasse/systemtest/executor/client/openwire/OpenwireJMSClientSender.java
  systemtests/src/main/java/io/enmasse/systemtest/executor/client/proton/java/ProtonJMSClientReceiver.java
  systemtests/src/main/java/io/enmasse/systemtest/executor/client/proton/java/ProtonJMSClientSender.java
  systemtests/src/test/java/io/enmasse/systemtest/bases/clients/ClientTestBase.java
  systemtests/src/test/java/io/enmasse/systemtest/bases/clients/MsgPatternsTestBase.java
  systemtests/src/test/java/io/enmasse/systemtest/brokered/clients/openwire/MsgPatternsTest.java
  systemtests/src/test/java/io/enmasse/systemtest/standard/clients/artemis/MsgPatternsTest.java
  systemtests/src/test/java/io/enmasse/systemtest/standard/clients/openwire/MsgPatternsTest.java
Labels: Do Not Merge, component/systemtests

#874 Issue 843 new plans
  systemtests/src/main/java/io/enmasse/systemtest/Address.java
  systemtests/src/main/java/io/enmasse/systemtest/AddressApiClient.java
  systemtests/src/main/java/io/enmasse/systemtest/AddressSpace.java
  systemtests/src/main/java/io/enmasse/systemtest/AuthService.java
  systemtests/src/main/java/io/enmasse/systemtest/Kubernetes.java
  systemtests/src/main/java/io/enmasse/systemtest/TestUtils.java
  systemtests/src/main/java/io/enmasse/systemtest/resources/AddressPlan.java
  systemtests/src/main/java/io/enmasse/systemtest/resources/AddressResource.java
  systemtests/src/main/java/io/enmasse/systemtest/resources/AddressSpacePlan.java
  systemtests/src/main/java/io/enmasse/systemtest/resources/AddressSpaceResource.java
  systemtests/src/test/java/io/enmasse/systemtest/bases/TestBase.java
  systemtests/src/test/java/io/enmasse/systemtest/bases/TestBaseWithShared.java
  systemtests/src/test/java/io/enmasse/systemtest/brokered/QueueTest.java
  systemtests/src/test/java/io/enmasse/systemtest/standard/PlansTest.java
Labels: component/systemtests

#893 Ansible systemtests scripts
  Jenkinsfile-long
  Jenkinsfile-pr
  Jenkinsfile-tests
  systemtests/scripts/run_test_component.sh
  templates/install/ansible/playbooks/openshift/systemtests-dependecies.yml
  templates/install/ansible/playbooks/openshift/systemtests.yml
  templates/install/ansible/roles/systemtests_dependencies/defaults/main.yml
  templates/install/ansible/roles/systemtests_dependencies/tasks/clients.yml
  templates/install/ansible/roles/systemtests_dependencies/tasks/dependencies.yml
  templates/install/ansible/roles/systemtests_dependencies/tasks/epel.yml
  templates/install/ansible/roles/systemtests_dependencies/tasks/main.yml
  templates/install/ansible/roles/systemtests_dependencies/tasks/webdrivers.yml
Labels: Do Not Merge, component/systemtests

#948 FIX WebConsoleTest - close all AbstractClients in tearDown
  systemtests/src/test/java/io/enmasse/systemtest/bases/web/WebConsoleTest.java
Labels: component/systemtests

#953 NEW: test for credit limitations
  systemtests/src/main/java/io/enmasse/systemtest/Address.java
  systemtests/src/main/java/io/enmasse/systemtest/Destination.java
  systemtests/src/main/java/io/enmasse/systemtest/TestUtils.java
  systemtests/src/main/resources/simplelogger.properties
  systemtests/src/test/java/io/enmasse/systemtest/bases/TestBase.java
  systemtests/src/test/java/io/enmasse/systemtest/plans/PlansTest.java
Labels: test development
