Repository EnMasseProject/enmasse, pull requests merged in 2018-11, with the labels that each got.

#1892 Docs: using qdstat docs
  documentation/assemblies/assembly-using-qdstat.adoc
  documentation/design_docs/operations/resources.adoc
  documentation/master.adoc
  documentation/modules/proc-view-connections-qdstat.adoc
  documentation/modules/proc-view-link-routes-qdstat.adoc
  documentation/modules/proc-view-router-addresses-qdstat.adoc
  documentation/modules/proc-view-router-links-qdstat.adoc
Labels: Peer Review Done, component/documentation, status/SME Review Needed

#1905 Decrease timeout between send and receive mqtt
  systemtests/src/test/java/io/enmasse/systemtest/bases/clients/ClusterClientTestBase.java
Labels: Do Not Merge

#1907 Docs: additional info about address spaces
  documentation/modules/con-brokered-address-space.adoc
  documentation/modules/con-standard-address-space.adoc
Labels: Peer Review Done, component/documentation, status/SME Review Needed

#1890 Docs: Using the Console to view message and connection stats
  documentation/assemblies/assembly-monitoring-oc.adoc
  documentation/modules/ref-view-message-conn-stats-table.adoc
Labels: Peer Review Needed, component/documentation, status/SME Review Needed

#1920 Docs: address filtering behavior in the console
  documentation/master.adoc
  documentation/modules/ref-console-address-filtering.adoc
Labels: component/documentation, status/SME Review Needed

#1910 Docs: dynamic subs on topics and wildcard behavior
  documentation/modules/con-brokered-topic.adoc
  documentation/modules/con-standard-topic.adoc
Labels: Peer Review Done, component/documentation, status/SME Review Needed

#1936 Docs: issue 1935
  documentation/modules/proc-deploying-auth-services.adoc
  documentation/modules/proc-installing-using-ansible.adoc
Labels: Peer Review Needed, component/documentation, status/SME Review Needed

#1954 Add missing enable_monitoring attribute in example
  documentation/service_admin/example.inventory
Labels: Peer Review Needed

#1958 Docs: fixed code block highlighting and C++ rendering error
  documentation/common/attributes.adoc
  documentation/modules/proc-deploy-alertmanager.adoc
  documentation/modules/ref-cpp-example.adoc
Labels: Peer Review Needed, component/documentation, status/SME Review Needed

#1960 Issue 1959: add step to creating a user procedure
  documentation/modules/proc-creating-users-cli.adoc
Labels: Peer Review Done, component/documentation, status/SME Review Needed

#1967 Docs: issue-1691: document known issue with durable subs and topics
  documentation/modules/con-brokered-topic.adoc
  documentation/modules/con-standard-topic.adoc
Labels: component/documentation, status/SME Review Needed

#1970 Docs: issue 1969: add info about message ordering on queues
  documentation/modules/con-brokered-queue.adoc
  documentation/modules/con-standard-queue.adoc
Labels: component/documentation, status/SME Review Needed

#1964 Add guide for uninstalling EnMasse
  documentation/assemblies/assembly-uninstalling-kubernetes.adoc
  documentation/assemblies/assembly-uninstalling-openshift.adoc
  documentation/master.adoc
  documentation/modules/proc-uninstalling.adoc
Labels: Peer Review Needed

#1971 Docs: fix prereqs in installation section
  documentation/common/attributes.adoc
  documentation/common/snip-prerequisites-openshift.adoc
Labels: Peer Review Needed, component/documentation, status/SME Review Needed

#1962 Docs: issue 1961: fix qdstat procedures
  documentation/assemblies/assembly-using-qdstat-kube.adoc
  documentation/assemblies/assembly-using-qdstat-oc.adoc
  documentation/master.adoc
  documentation/modules/proc-view-connections-qdstat.adoc
  documentation/modules/proc-view-link-routes-qdstat.adoc
  documentation/modules/proc-view-router-addresses-qdstat.adoc
  documentation/modules/proc-view-router-links-qdstat.adoc
Labels: component/documentation, status/SME Review Needed

#1972 Docs: fix code in view broker logs procedure
  documentation/modules/proc-get-logs-broker.adoc
Labels: component/documentation, status/SME Review Needed

#1979 Docs: remove links to yaml files
  documentation/assemblies/assembly-managing-address-spaces.adoc
  documentation/assemblies/assembly-managing-addresses.adoc
  documentation/modules/con-address-plans.adoc
  documentation/modules/con-address-space-plans.adoc
  documentation/modules/con-brokered-infra-config.adoc
  documentation/modules/con-standard-infra-config.adoc
  documentation/modules/con-user-model.adoc
  documentation/modules/proc-applying-infra-config.adoc
  documentation/modules/proc-create-address-cli.adoc
  documentation/modules/proc-create-address-plans-cli.adoc
  documentation/modules/proc-create-address-space-cli.adoc
  documentation/modules/proc-create-address-space-plans-cli.adoc
  documentation/modules/proc-creating-users-cli.adoc
Labels: Peer Review Done, component/documentation

#2011 Add missing instructions to remove CRDs
  documentation/modules/proc-uninstalling.adoc
Labels: Peer Review Done

#2012 Switch order of commands to ensure uninstall is successfull
  documentation/modules/proc-uninstalling.adoc
Labels: Peer Review Needed

#2013 Avoid n addr list retrievals when creating n addresses
  api-server/src/main/java/io/enmasse/api/v1/AddressApiHelper.java
  api-server/src/main/java/io/enmasse/api/v1/http/HttpAddressServiceBase.java
  api-server/src/test/java/io/enmasse/api/v1/AddressApiHelperTest.java
Labels: Do Not Merge

#2021 Use data-url for service broker icon (avoid reliance on Internet resource)
  service-broker/src/main/resources/service.properties
Labels: service-catalog
