Repository EnMasseProject/enmasse, pull requests merged in 2019-08, with the labels that each got.

#3058 Capture the logs from the Firefox console during Selenium tests
  systemtests/src/main/java/io/enmasse/systemtest/GlobalLogCollector.java
  systemtests/src/main/java/io/enmasse/systemtest/selenium/SeleniumManagement.java
  systemtests/src/main/java/io/enmasse/systemtest/selenium/SeleniumProvider.java
  systemtests/src/main/java/io/enmasse/systemtest/utils/TestUtils.java
Labels: component/systemtests

#3048 FirefoxWebConsoleTest#testCannotOpenConsolePage fails sporadically
  systemtests/src/main/java/io/enmasse/systemtest/selenium/page/ConsoleWebPage.java
  systemtests/src/test/java/io/enmasse/systemtest/bases/web/WebConsoleTest.java
  systemtests/src/test/java/io/enmasse/systemtest/brokered/web/ChromeWebConsoleTest.java
  systemtests/src/test/java/io/enmasse/systemtest/brokered/web/FirefoxWebConsoleTest.java
  systemtests/src/test/java/io/enmasse/systemtest/standard/web/ChromeWebConsoleTest.java
  systemtests/src/test/java/io/enmasse/systemtest/standard/web/FirefoxWebConsoleTest.java
Labels: component/systemtests

#3057 Docs issue 3056: fix misspelling linkCapcity
  documentation/modules/con-standard-infra-config.adoc
  documentation/modules/proc-applying-infra-config.adoc
  documentation/modules/ref-standard-infra-config-fields.adoc
Labels: component/documentation, status/SME Review Needed

#3060 Docs issue-3059: switch titles and minor copyedits
  documentation/modules/ref-address-space-example-exposing-endpoints.adoc
Labels: component/documentation, status/SME Review Needed

#3066 Augment the server side provided firefox profile with devtools.console.stdout.content=true
  systemtests/src/main/java/io/enmasse/systemtest/utils/TestUtils.java
Labels: component/systemtests

#3061 Handle error when creating addresses fails
  pkg/controller/iotproject/iotproject_controller.go
  pkg/controller/iotproject/managed.go
Labels: iot, lang/go

#3046 Fix unreliable WebConsoleTest tests
  systemtests/src/main/java/io/enmasse/systemtest/SystemtestsKubernetesApps.java
  systemtests/src/main/java/io/enmasse/systemtest/ability/TestWatcher.java
  systemtests/src/main/java/io/enmasse/systemtest/messagingclients/ExternalClientsExtension.java
  systemtests/src/main/java/io/enmasse/systemtest/selenium/SeleniumProvider.java
  systemtests/src/main/java/io/enmasse/systemtest/selenium/page/ConsoleWebPage.java
  systemtests/src/test/java/io/enmasse/systemtest/bases/TestBase.java
  systemtests/src/test/java/io/enmasse/systemtest/bases/TestBaseWithShared.java
  systemtests/src/test/java/io/enmasse/systemtest/bases/web/WebConsoleTest.java
Labels: component/systemtests

#3064 Switch to Hono 1.0-M6
  iot/iot-device-registry-infinispan/src/main/java/io/enmasse/iot/registry/infinispan/DeviceRegistryAmqpServer.java
  iot/iot-device-registry-infinispan/src/main/java/io/enmasse/iot/registry/infinispan/DeviceRegistryRestServer.java
  iot/iot-device-registry-infinispan/src/main/java/io/enmasse/iot/registry/infinispan/InfinispanRegistry.java
  iot/iot-device-registry-infinispan/src/main/java/io/enmasse/iot/registry/infinispan/config/InfinispanRegistryConfig.java
  iot/iot-tenant-service/src/main/java/io/enmasse/iot/tenant/config/HealthConfiguration.java
  iot/iot-tenant-service/src/main/java/io/enmasse/iot/tenant/impl/TenantServiceImpl.java
  iot/iot-tenant-service/src/main/resources/config/application.yml
  iot/pom.xml
  pkg/controller/iotconfig/auth_service.go
  pkg/controller/iotconfig/file_device_registry.go
  pkg/controller/iotconfig/http_adapter.go
  pkg/controller/iotconfig/infinispan_device_registry.go
  pkg/controller/iotconfig/mqtt_adapter.go
  systemtests/pom.xml
  systemtests/src/main/java/io/enmasse/systemtest/Environment.java
  systemtests/src/main/java/io/enmasse/systemtest/ability/TestWatcher.java
  systemtests/src/main/java/io/enmasse/systemtest/apiclients/ApiClient.java
  systemtests/src/main/java/io/enmasse/systemtest/iot/CredentialsRegistryClient.java
  systemtests/src/main/java/io/enmasse/systemtest/iot/DeviceRegistryClient.java
  systemtests/src/main/java/io/enmasse/systemtest/iot/HonoApiClient.java
  systemtests/src/test/java/io/enmasse/systemtest/bases/DefaultDeviceRegistry.java
  systemtests/src/test/java/io/enmasse/systemtest/bases/IoTTestBaseWithShared.java
  systemtests/src/test/java/io/enmasse/systemtest/iot/CredentialsTest.java
  systemtests/src/test/java/io/enmasse/systemtest/iot/registry/DeviceRegistryTestBase.java
  systemtests/src/test/java/io/enmasse/systemtest/iot/registry/InfinispanDeviceRegistryTest.java
Labels: iot

#3073 Await API service registration before ending CommonTest#testMessagingDuringRestartComponents
  systemtests/scripts/run_tests.sh
  systemtests/src/main/java/io/enmasse/systemtest/cmdclients/KubeCMDClient.java
  systemtests/src/test/java/io/enmasse/systemtest/bases/TestBase.java
  systemtests/src/test/java/io/enmasse/systemtest/common/CommonTest.java
Labels: component/systemtests

#3077 Put the IoT tenant name in the status section
  api-model/src/main/java/io/enmasse/iot/model/v1/IoTProjectStatus.java
  pkg/apis/iot/v1alpha1/funcs.go
  pkg/apis/iot/v1alpha1/types.go
  pkg/controller/iotproject/iotproject_controller.go
  pkg/util/tenant.go
  templates/iot/api/010-CustomResourceDefinition-iot-project.yaml
Labels: iot, lang/go, lang/java

#3074 Update only the status section
  pkg/controller/iotconfig/iotconfig_controller.go
  templates/crds/010-iotconfigs.crd.yaml
  templates/csv/enmasse.clusterserviceversion.yaml
  templates/enmasse-operator/020-Role-enmasse-operator.yaml
Labels: lang/go

#3079 Drop code no longer required with Hono 1.0-M6
  iot/iot-tenant-service/src/main/java/io/enmasse/iot/tenant/Application.java
  iot/iot-tenant-service/src/main/java/io/enmasse/iot/tenant/config/AmqpEndpointConfiguration.java
  iot/iot-tenant-service/src/main/java/io/enmasse/iot/tenant/config/HttpEndpointConfiguration.java
  iot/iot-tenant-service/src/main/java/io/enmasse/iot/tenant/impl/AbstractKubernetesTenantService.java
  iot/iot-tenant-service/src/main/java/io/enmasse/iot/tenant/impl/AutowiredTenantAdapter.java
  iot/iot-tenant-service/src/main/java/io/enmasse/iot/tenant/impl/TenantAmqpService.java
  iot/iot-tenant-service/src/main/java/io/enmasse/iot/tenant/impl/TenantRestService.java
  iot/iot-tenant-service/src/main/java/io/enmasse/iot/tenant/impl/TenantServiceImpl.java
  iot/iot-tenant-service/src/main/java/io/enmasse/iot/tenant/utils/IoTProjects.java
  iot/iot-tenant-service/src/test/java/io/enmasse/iot/tenant/TestApplication.java
Labels: iot, lang/java

#3083 Correct address allocation equality.
  agent/bin/agent.js
  agent/lib/internal_address_source.js
Labels: component/agent, kind/bug, standard address space

#3070 Docs issue-3049: Add example of how tenant can override properties fo…
  documentation/assemblies/assembly-address-space-examples.adoc
  documentation/assemblies/assembly-auth-services.adoc
  documentation/assemblies/assembly-configuring.adoc
  documentation/modules/con-authentication-services.adoc
  documentation/modules/con-external-auth-service.adoc
  documentation/modules/con-external-authentication-server-api.adoc
  documentation/modules/con-none-auth-service.adoc
  documentation/modules/con-standard-auth-service.adoc
  documentation/modules/proc-none-auth-service.adoc
  documentation/modules/proc-standard-auth-service.adoc
  documentation/modules/ref-address-space-example-auth-service.adoc
  documentation/modules/ref-address-space-example-external-auth-service-override.adoc
  documentation/modules/ref-external-auth-service-example-allow-overrides.adoc
  documentation/modules/ref-external-auth-service-example.adoc
  documentation/modules/ref-standard-auth-service-example.adoc
Labels: component/documentation, status/SME Review Needed

#3097 Docs: Fix code block attribute rendering in one file
  documentation/modules/ref-address-space-example-external-auth-service-override.adoc
Labels: Peer Review Done, component/documentation

#3106 Switch infinispan device registry to quay.io as well
  iot/iot-device-registry-infinispan/Dockerfile
Labels: iot

#3123 Switch to Hono 1.0-M7
  cmd/iot-proxy-configurator/sync.go
  iot/iot-device-registry-infinispan/src/main/java/io/enmasse/iot/registry/infinispan/autowire/AutowiredCredentialsAdapter.java
  iot/iot-device-registry-infinispan/src/main/java/io/enmasse/iot/registry/infinispan/autowire/AutowiredCredentialsManagementAdapter.java
  iot/iot-device-registry-infinispan/src/main/java/io/enmasse/iot/registry/infinispan/autowire/AutowiredDeviceConnectionAdapter.java
  iot/iot-device-registry-infinispan/src/main/java/io/enmasse/iot/registry/infinispan/autowire/AutowiredDeviceManagementAdapter.java
  iot/iot-device-registry-infinispan/src/main/java/io/enmasse/iot/registry/infinispan/autowire/AutowiredRegistrationAdapter.java
  iot/iot-device-registry-infinispan/src/main/java/io/enmasse/iot/registry/infinispan/autowire/AutowiredTenantAdapter.java
  iot/iot-device-registry-infinispan/src/main/java/io/enmasse/iot/registry/infinispan/autowire/AutowiredTenantManagementAdapter.java
  iot/iot-device-registry-infinispan/src/main/java/io/enmasse/iot/registry/infinispan/device/AbstractRegistrationService.java
  iot/iot-tenant-service/src/main/java/io/enmasse/iot/tenant/impl/AutowiredTenantAdapter.java
  iot/pom.xml
  pkg/controller/iotconfig/lorawan_adapter.go
  pkg/controller/iotproject/managed.go
  systemtests/src/main/java/io/enmasse/systemtest/iot/CredentialsRegistryClient.java
  systemtests/src/test/java/io/enmasse/systemtest/bases/IoTTestBase.java
  systemtests/src/test/java/io/enmasse/systemtest/iot/IoTProjectManagedTest.java
  templates/iot/examples/iot-user.yaml
Labels: iot

#3135 Clean up a few odd things in the IoTConfig controller
  api-model/src/main/java/io/enmasse/iot/model/v1/AdapterStatus.java
  pkg/apis/iot/v1alpha1/types.go
  pkg/controller/iotconfig/adapter.go
  pkg/controller/iotconfig/auth.go
  pkg/controller/iotconfig/auth_service.go
  pkg/controller/iotconfig/auth_test.go
  pkg/controller/iotconfig/collector.go
  pkg/controller/iotconfig/data.go
  pkg/controller/iotconfig/file_device_registry.go
  pkg/controller/iotconfig/http_adapter.go
  pkg/controller/iotconfig/infinispan_device_registry.go
  pkg/controller/iotconfig/iotconfig_controller.go
  pkg/controller/iotconfig/lorawan_adapter.go
  pkg/controller/iotconfig/mqtt_adapter.go
  pkg/controller/iotconfig/sigfox_adapter.go
  pkg/util/install/utils.go
Labels: iot, lang/go
