Repository EnMasseProject/enmasse, pull requests merged in 2019-04, with the labels that each got.

#2567 Docs: add infra config reference tables
  documentation/common/attributes.adoc
  documentation/master-kubernetes.adoc
  documentation/master-openshift.adoc
  documentation/modules/con-brokered-infra-config.adoc
  documentation/modules/con-standard-infra-config.adoc
  documentation/modules/ref-brokered-infra-config-fields.adoc
  documentation/modules/ref-standard-infra-config-fields.adoc
Labels: Peer Review Needed, component/documentation, status/SME Review Needed

#2592 Docs: delete extraneous text
  documentation/modules/ref-address-space-example-auth-service.adoc
Labels: Peer Review Needed, component/documentation

#2489 New upgrade test
  .jenkins/Jenkinsfile-pr
  .jenkins/Jenkinsfile-upgrade
  systemtests/ansible/inventory/systemtests.inventory
  systemtests/scripts/test_func.sh
  systemtests/src/main/java/io/enmasse/systemtest/Environment.java
  systemtests/src/main/java/io/enmasse/systemtest/cmdclients/CmdClient.java
  systemtests/src/test/java/io/enmasse/systemtest/common/upgrade/UpgradeTest.java
Labels: component/systemtests

#2601 Add test for command and control, single shot mode
  systemtests/src/main/java/io/enmasse/systemtest/Kubernetes.java
  systemtests/src/main/java/io/enmasse/systemtest/amqp/AbstractSender.java
  systemtests/src/main/java/io/enmasse/systemtest/amqp/AmqpClient.java
  systemtests/src/main/java/io/enmasse/systemtest/amqp/Sender.java
  systemtests/src/main/java/io/enmasse/systemtest/amqp/SingleSender.java
  systemtests/src/main/java/io/enmasse/systemtest/apiclients/ApiClient.java
  systemtests/src/main/java/io/enmasse/systemtest/apiclients/Predicates.java
  systemtests/src/main/java/io/enmasse/systemtest/iot/HttpAdapterClient.java
  systemtests/src/main/java/io/enmasse/systemtest/iot/MessageType.java
  systemtests/src/main/java/io/enmasse/systemtest/utils/AddressSpaceUtils.java
  systemtests/src/main/java/io/enmasse/systemtest/utils/IoTUtils.java
  systemtests/src/main/java/io/enmasse/systemtest/utils/TestUtils.java
  systemtests/src/test/java/io/enmasse/systemtest/bases/IoTTestBase.java
  systemtests/src/test/java/io/enmasse/systemtest/bases/IoTTestBaseWithShared.java
  systemtests/src/test/java/io/enmasse/systemtest/iot/control/CommandAndControlTest.java
  systemtests/src/test/java/io/enmasse/systemtest/iot/registry/DeviceRegistryTest.java
Labels: component/systemtests, test development

#2589 Add Grafana dashboards for router, broker metrics
  ansible/roles/cluster_admin/tasks/main.yml
  ansible/roles/grafana-dashboards/tasks/main.yaml
  ansible/roles/monitoring-infrastructure/tasks/main.yml
  ansible/roles/project/tasks/main.yml
  documentation/assemblies/assembly-monitoring.adoc
  documentation/modules/proc-deploy-grafana-dashboards.adoc
  documentation/modules/proc-deploy-monitoring-infrastructure.adoc
  templates/grafana/010-ConfigMap-grafana-config.yaml
  templates/grafana/010-GrafanaDashboard-brokers.yaml
  templates/grafana/010-GrafanaDashboard-components.yaml
  templates/grafana/010-GrafanaDashboard-routers.yaml
  templates/grafana/010-Service-grafana.yaml
  templates/grafana/020-PersistentVolumeClaim-grafana-data.yaml
  templates/grafana/030-Deployment-grafana.yaml
  templates/grafana/060-Route-grafana.yaml
  templates/kube-state-metrics/060-ServiceMonitor-kube-state-metrics.yaml
  templates/prometheus-rules/010-PrometheusRules-prometheus.yaml
  templates/service-monitors/010-ServiceMonitor-enmasse.yaml
Labels: component/documentation

#2625 Docs: add base64 encoding step for password
  documentation/modules/proc-creating-users-cli.adoc
Labels: Peer Review Needed, component/documentation, status/SME Review Needed

#2626 Add command and control test for request/response
  systemtests/src/main/java/io/enmasse/systemtest/iot/HttpAdapterClient.java
  systemtests/src/main/java/io/enmasse/systemtest/iot/MessageType.java
  systemtests/src/test/java/io/enmasse/systemtest/iot/control/CommandAndControlTest.java
Labels: component/systemtests, test development

#2633 Don't fail deleting an item that is already gone
  pkg/qdr/qdmanage.go
  pkg/qdr/qdmanage_test.go
Labels: kind/bug

#2635 Basic install doc for operator outside operatorhub.io
  documentation/assemblies/assembly-configuring.adoc
  documentation/assemblies/assembly-installing.adoc
  documentation/assemblies/assembly-tenant-guide.adoc
  documentation/common/attributes.adoc
  documentation/master-kubernetes.adoc
  documentation/master-openshift.adoc
  documentation/modules/proc-installing-using-olm.adoc
  documentation/modules/proc-minimal-service-configuration.adoc
  documentation/modules/proc-minimal-tenant-configuration.adoc
  templates/csv/enmasse.clusterserviceversion.yaml
Labels: Peer Review Done, Peer Review Needed

#2500 Console docs: edits to existing docs and stubbing out new docs for Is…
  documentation/assemblies/assembly-managing-address-spaces.adoc
  documentation/assemblies/assembly-managing-addresses.adoc
  documentation/assemblies/assembly-tenant-guide.adoc
  documentation/assemblies/assembly-using-console.adoc
  documentation/common/attributes.adoc
  documentation/modules/con-user-model.adoc
  documentation/modules/proc-create-address-console.adoc
  documentation/modules/proc-create-address-space-console.adoc
  documentation/modules/proc-delete-address-space-console.adoc
  documentation/modules/proc-logging-in-console.adoc
  documentation/modules/ref-console-address-filtering.adoc
  documentation/modules/ref-example-roles.adoc
  documentation/modules/ref-retrieving-address-space-information.adoc
  documentation/modules/ref-view-message-conn-stats-table.adoc
Labels: component/documentation, status/SME Review Needed

#2643 Docs: edits to infra config field tables
  documentation/modules/ref-brokered-infra-config-fields.adoc
  documentation/modules/ref-standard-infra-config-fields.adoc
Labels: component/documentation, status/SME Review Needed

#2642 Docs: remove extra square bracket in link
  documentation/modules/ref-address-space-example-auth-service.adoc
Labels: Peer Review Needed, component/documentation

#2673 Docs: add quote marks to version field of example file
  documentation/modules/con-brokered-infra-config.adoc
  documentation/modules/con-standard-infra-config.adoc
Labels: component/documentation, status/SME Review Needed

#2687 Docs: fix Console name in remaining two files
  documentation/modules/ref-console-address-filtering.adoc
  documentation/modules/ref-view-message-conn-stats-table.adoc
Labels: Peer Review Needed, component/documentation

#2696 Docs: remove remaining references to AMQ Online Console
  documentation/assemblies/assembly-managing-addresses.adoc
  documentation/modules/con-address-space-plans.adoc
  documentation/modules/proc-create-address-space-console.adoc
Labels: Peer Review Needed, component/documentation

#2661 Kubernetes IoT docs
  documentation/master-kubernetes.adoc
  documentation/modules/proc-iot-api.adoc
  documentation/modules/proc-iot-creating-device.adoc
  documentation/modules/proc-iot-creating-project.adoc
  documentation/modules/proc-iot-installing-services.adoc
  templates/iot/examples/iot-config-k8s.yaml
  templates/iot/examples/k8s-tls/README.md
  templates/iot/examples/k8s-tls/ca.cnf
  templates/iot/examples/k8s-tls/common
  templates/iot/examples/k8s-tls/create
  templates/iot/examples/k8s-tls/deploy
  templates/iot/examples/k8s-tls/undeploy
Labels: Peer Review Needed

#2670 Docs: concept information and new Console screenshot
  documentation/_images/console-screenshot.png
  documentation/assemblies/assembly-configuring.adoc
  documentation/assemblies/assembly-tenant-guide.adoc
  documentation/assemblies/assembly-using-console.adoc
  documentation/master-kubernetes.adoc
  documentation/master-openshift.adoc
  documentation/modules/con-console.adoc
  documentation/modules/con-user-model.adoc
  documentation/modules/ref-example-roles.adoc
  documentation/modules/ref-resources-table-messaging-tenant.adoc
  documentation/modules/ref-resources-table-service-admin.adoc
Labels: component/documentation, status/SME Review Needed

#2477 Global Console Design - Phase 1
  documentation/design/console/global-console.adoc
  documentation/design/console/images/global-console-high-level-flow.png
Labels: console

#2755 Improve plan documentation
  documentation/_images/enmasse-entities.svg
  documentation/assemblies/assembly-configuring.adoc
  documentation/common/restrictive-plan.yaml
  documentation/common/small-anycast-plan.yaml
  documentation/common/small-queue-plan.yaml
  documentation/master-kubernetes.adoc
  documentation/master-openshift.adoc
  documentation/modules/con-address-plans.adoc
  documentation/modules/con-address-space-plans.adoc
  documentation/modules/proc-create-address-plans-cli.adoc
  documentation/modules/proc-create-address-space-plans-cli.adoc
Labels: Peer Review Done
