Repository EnMasseProject/enmasse, pull requests merged in 2019-01, with the labels that each got.

#2163 Update qdstat examples after new listener port for local tools were i…
  documentation/modules/proc-view-connections-qdstat.adoc
  documentation/modules/proc-view-link-routes-qdstat.adoc
  documentation/modules/proc-view-router-addresses-qdstat.adoc
  documentation/modules/proc-view-router-links-qdstat.adoc
Labels: Peer Review Needed

#2161 Update address space swagger definition
  api-server/src/main/resources/swagger.json
  documentation/common/restapi-reference.adoc
Labels: Peer Review Needed

#2173 Docs: add Console assembly file
  documentation/assemblies/assembly-using-console.adoc
Labels: Peer Review Needed, component/documentation

#2162 Add documentation on changing address spaces
  documentation/assemblies/assembly-managing-address-spaces.adoc
  documentation/common/standard-address-space-replace.yaml
  documentation/modules/proc-replace-address-space-cli.adoc
Labels: Peer Review Needed

#2185 Docs: issue 2183: managing address spaces and addresses assembly edits
  documentation/assemblies/assembly-managing-address-spaces.adoc
  documentation/assemblies/assembly-managing-addresses.adoc
  documentation/assemblies/assembly-monitoring.adoc
  documentation/assemblies/assembly-tenant-guide.adoc
  documentation/modules/proc-replace-address-space-cli.adoc
  documentation/modules/ref-address-example.adoc
  documentation/modules/ref-address-space-example-auth-service.adoc
  documentation/modules/ref-address-space-example.adoc
  documentation/modules/ref-example-address-space-output.adoc
Labels: component/documentation

#2190 Docs: add console screenshot
  documentation/_images/console-screenshot.png
  documentation/modules/proc-logging-in-console.adoc
Labels: component/documentation

#2191 Docs: fix screenshot include
  documentation/modules/proc-logging-in-console.adoc
Labels: Peer Review Needed, component/documentation

#2200 Docs: issue 2199: add note about Console connections page
  documentation/modules/ref-view-message-conn-stats-table.adoc
Labels: component/documentation, status/SME Review Needed

#2204 Docs: QE review fixes
  documentation/modules/proc-create-address-cli.adoc
  documentation/modules/proc-create-address-space-cli.adoc
  documentation/modules/proc-installing-using-template.adoc
  documentation/modules/proc-send-receive.adoc
Labels: Peer Review Needed, component/documentation

#2207 Docs: use variable for EnMasse version
  Makefile
  documentation/common/brokered-infra-config-example.yaml
  documentation/common/standard-infra-config-example.yaml
  documentation/modules/con-brokered-infra-config.adoc
  documentation/modules/con-standard-infra-config.adoc
  documentation/modules/proc-applying-infra-config.adoc
Labels: Peer Review Done, component/documentation, status/SME Review Needed

#2210 Docs: fixes from QE review
  documentation/modules/con-brokered-infra-config.adoc
  documentation/modules/con-standard-infra-config.adoc
  documentation/modules/proc-send-receive.adoc
Labels: Peer Review Needed, component/documentation

#2237 Docs issue 2236: fix for Kubernetes docs being cut off
  documentation/modules/proc-list-available-plans.adoc
Labels: component/documentation, status/SME Review Needed

#2235 Extended test for addressplan switch
  systemtests/src/main/java/io/enmasse/systemtest/TestUtils.java
  systemtests/src/test/java/io/enmasse/systemtest/common/plans/PlansTest.java
Labels: test development

#2251 Docs: fix user auth asciidoc issue
  documentation/modules/con-user-model.adoc
Labels: Peer Review Needed, component/documentation

#2252 Docs: change bulleted list to table and add revision info
  documentation/master-kubernetes.adoc
  documentation/master-openshift.adoc
  documentation/modules/ref-retrieving-address-space-information.adoc
Labels: Peer Review Needed, component/documentation, status/SME Review Needed

#2253 Docs: fix API version in 2 files
  documentation/common/standard-address-space-replace.yaml
  documentation/common/standard-xlarge-queue.yaml
Labels: Peer Review Needed, component/documentation

#2274 Docs: add variable
  documentation/common/proc-download-procedure.adoc
Labels: Peer Review Needed, component/documentation
