Repository EnMasseProject/enmasse, pull requests merged in 2019-09, with the labels that each got.

#3138 Update readiness when address is changed
  agent/lib/internal_address_source.js
Labels: status/Ready for Merge

#3134 Proposal on bridging to external endpoints
  documentation/design/proposals/bridging_external.adoc
Labels: 0.30.0

#3117 Docs issue-3116: add doc for override of certs for external auth
  documentation/modules/ref-address-space-example-external-auth-service-override.adoc
  documentation/modules/ref-external-auth-service-example-allow-overrides.adoc
  documentation/modules/ref-external-auth-service-example.adoc
Labels: component/documentation, status/SME Review Needed

#3162 Drop compile time only dependencies of Infinispan
  iot/iot-device-registry-infinispan/pom.xml
  iot/pom.xml
Labels: lang/java

#3165 Add missing image name mappings
  pkg/util/images/mapping.go
Labels: lang/go

#3155 Drop iot-gc in favor of finalizers
  Makefile
  Makefile.env.mk
  cmd/iot-gc/main.go
  controller-manager/Makefile
  iot/iot-gc/.gitignore
  iot/iot-gc/Dockerfile
  iot/iot-gc/Makefile
  iot/iot-gc/pom.xml
  iot/iot-gc/src/assembly/unix-dist.xml
  iot/pom.xml
  pkg/controller/iotconfig/collector.go
  pkg/controller/iotconfig/utils.go
  pkg/controller/iotproject/finalizers.go
  pkg/controller/iotproject/iotproject_controller.go
  pkg/gc/collectors/collectors.go
  pkg/gc/collectors/project/address.go
  pkg/gc/collectors/project/addressspace.go
  pkg/gc/collectors/project/collector.go
  pkg/gc/collectors/project/messaging_user.go
  pkg/gc/collectors/project/utils.go
  pkg/gc/gc.go
  pkg/util/finalizer/finalizer.go
  pkg/util/finalizer/finalizer_test.go
  pkg/util/images/mapping.go
  pkg/util/install/delete.go
  pkg/util/install/delete_test.go
  systemtests/src/main/java/io/enmasse/systemtest/utils/IoTUtils.java
  templates/iot/operator/020-ClusterRole-iot-operator.yaml
Labels: iot, lang/go

#3167 Add proper error when tenant is in an invalid format
  iot/iot-device-registry-infinispan/src/main/java/io/enmasse/iot/registry/infinispan/util/DeviceRegistryTokenAuthProvider.java
Labels: iot, lang/java

#3161 Add IoT to the CSV
  Makefile.env.mk
  controller-manager/Makefile
  pkg/apis/iot/v1alpha1/types.go
  pkg/apis/iot/v1alpha1/zz_generated.deepcopy.go
  pkg/controller/iotconfig/iotconfig_controller.go
  pkg/controller/iotconfig/project_operator.go
  pkg/util/images/mapping.go
  systemtests/scripts/test_func.sh
  systemtests/src/main/java/io/enmasse/systemtest/utils/IoTUtils.java
  templates/csv/enmasse.clusterserviceversion.yaml
  templates/enmasse-operator/050-Deployment-enmasse-operator.yaml
  templates/iot/operator/020-ClusterRole-iot-operator.yaml
  templates/iot/operator/050-Deployment-iot-operator.yaml
  templates/olm.enmasse.env
Labels: iot, kind/enhancement, lang/go, olm

#3124 Document Sigfox integration
  documentation/assemblies/assembly-iot-guide.adoc
  documentation/modules/proc-iot-configuring-sigfox.adoc
  documentation/modules/proc-iot-creating-device.adoc
Labels: component/documentation, iot

#3179 Provide more status information
  pkg/apis/iot/v1alpha1/funcs.go
  pkg/apis/iot/v1alpha1/types.go
  pkg/apis/iot/v1alpha1/types_config.go
  pkg/apis/iot/v1alpha1/types_project.go
  pkg/apis/iot/v1alpha1/zz_generated.deepcopy.go
  pkg/controller/iotproject/external.go
  pkg/controller/iotproject/iot_utils.go
  pkg/controller/iotproject/iotproject_controller.go
  pkg/controller/iotproject/managed.go
  pkg/controller/iotproject/provided.go
  pkg/controller/iotproject/utils.go
  templates/csv/enmasse.clusterserviceversion.yaml
  templates/iot/api/010-CustomResourceDefinition-iot-project.yaml
  templates/iot/operator/020-ClusterRole-iot-operator.yaml
Labels: iot, lang/go

#3170 Docs: issue-3169: Add STOMP support statement to brokered address space section
  documentation/modules/con-brokered-address-space.adoc
Labels: Do Not Merge, component/documentation, status/SME Review Needed

#3209 Create STOMP tests
  systemtests/src/main/java/io/enmasse/systemtest/messagingclients/ClientArgument.java
  systemtests/src/main/java/io/enmasse/systemtest/messagingclients/ClientType.java
  systemtests/src/main/java/io/enmasse/systemtest/messagingclients/stomp/StompClientReceiver.java
  systemtests/src/main/java/io/enmasse/systemtest/messagingclients/stomp/StompClientSender.java
  systemtests/src/test/java/io/enmasse/systemtest/bases/clients/ClientTestBase.java
  systemtests/src/test/java/io/enmasse/systemtest/shared/brokered/clients/stomp/MsgPatternsTest.java
Labels: component/systemtests, test development

#3212 Fixing the API model issues
  pkg/apis/enmasse/v1beta1/types.go
  pkg/apis/enmasse/v1beta1/zz_generated.deepcopy.go
Labels: lang/go

#3220 Avoid upgrade processing deleted broker clusters
  standard-controller/src/main/java/io/enmasse/controller/standard/AddressController.java
Labels: component/standard-controller

#3240 Docs: IoT copyedits
  documentation/modules/proc-iot-creating-device.adoc
  documentation/modules/proc-iot-installing-services.adoc
Labels: Peer Review Done, component/documentation

#3226 Restart scripts
  documentation/modules/proc-restart-component.adoc
  documentation/modules/proc-upgrading-router-pods.adoc
  templates/Makefile
  templates/scripts/restart-authservices.sh
  templates/scripts/restart-brokers.sh
  templates/scripts/restart-operators.sh
  templates/scripts/restart-routers.sh
Labels: component/documentation, component/templates, kind/feature
