Repository EnMasseProject/enmasse, pull requests merged in 2019-12, with the labels that each got.

#3537 Fix surefire console reporting
  pom.xml
  systemtests/pom.xml
  systemtests/src/main/java/io/enmasse/systemtest/listener/JunitCallbackListener.java
Labels: component/systemtests

#3553 Prevents NetworkPolicyTestStandard leaving behind its infraconfig
  systemtests/src/main/java/io/enmasse/systemtest/manager/IsolatedResourcesManager.java
Labels: component/systemtests

#3468 Align to use the "phase" field
  api-model/src/main/java/io/enmasse/iot/model/v1/IoTConfigStatus.java
  api-model/src/main/java/io/enmasse/iot/model/v1/IoTProjectStatus.java
  api-model/src/test/java/io/enmasse/iot/model/v1/IoTConfigTest.java
  api-model/src/test/resources/io/enmasse/iot/model/v1/resources/iot-config.json
  cmd/iot-proxy-configurator/configurator.go
  pkg/apis/iot/v1alpha1/types_config.go
  pkg/apis/iot/v1alpha1/types_project.go
  pkg/controller/iotconfig/iotconfig_controller.go
  pkg/controller/iotproject/external.go
  pkg/controller/iotproject/iotproject_controller.go
  pkg/controller/iotproject/managed.go
  systemtests/src/main/java/io/enmasse/systemtest/utils/IoTUtils.java
Labels: component/iot, lang/go, lang/java

#3557 Minor cleanups
  cmd/iot-proxy-configurator/configurator.go
  cmd/iot-proxy-configurator/main.go
  cmd/iot-proxy-configurator/sync.go
Labels: component/iot

#3559 Add API reader, cleanup logs, cleanup.
  pkg/controller/iotconfig/iotconfig_controller.go
  pkg/controller/iotproject/iotproject_controller.go
  pkg/controller/iotproject/managed.go
  pkg/util/finalizer/finalizer.go
  pkg/util/finalizer/finalizer_test.go
Labels: component/iot

#3554 Add test for creating 10000 adresses.
  systemtests/src/main/java/io/enmasse/systemtest/manager/ResourceManager.java
  systemtests/src/main/java/io/enmasse/systemtest/utils/AddressSpaceUtils.java
  systemtests/src/main/java/io/enmasse/systemtest/utils/TestUtils.java
  systemtests/src/test/java/io/enmasse/systemtest/soak/PlansSoakTest.java
Labels: component/systemtests

#3555 Don't delete project if it is the infrastructure project
  systemtests/src/main/java/io/enmasse/systemtest/listener/JunitExecutionListener.java
Labels: component/iot

#3563 Change order of destroying resources
  cmd/iot-proxy-configurator/configurator.go
  systemtests/src/main/java/io/enmasse/systemtest/listener/JunitExecutionListener.java
  systemtests/src/main/java/io/enmasse/systemtest/manager/ResourceManager.java
  systemtests/src/main/java/io/enmasse/systemtest/utils/IoTUtils.java
  systemtests/src/test/java/io/enmasse/systemtest/iot/shared/http/HttpAdapterTest.java
Labels: component/iot, lang/java

#3564 Use existing constant
  systemtests/src/main/java/io/enmasse/systemtest/utils/IoTUtils.java
Labels: component/iot, component/systemtests

#3562 Also process the "modified" event
  iot/iot-service-base/src/main/java/io/enmasse/iot/service/base/AbstractProjectBasedService.java
Labels: component/iot, lang/java

#3565 Rename "Ready" to "Active"
  cmd/iot-proxy-configurator/configurator.go
  pkg/apis/iot/v1alpha1/types_config.go
  pkg/apis/iot/v1alpha1/types_project.go
  pkg/controller/iotconfig/iotconfig_controller.go
  pkg/controller/iotproject/external.go
  pkg/controller/iotproject/iotproject_controller.go
  pkg/controller/iotproject/managed.go
  systemtests/src/main/java/io/enmasse/systemtest/utils/IoTUtils.java
Labels: component/iot

#3574 Only queue when something important has changed
  cmd/iot-proxy-configurator/configurator.go
  cmd/iot-proxy-configurator/main.go
Labels: component/iot

#3561 Add protocol adapter options for tenant timeout and max payload
  api-model/src/main/java/io/enmasse/iot/model/v1/AdapterConfig.java
  api-model/src/main/java/io/enmasse/iot/model/v1/AdapterOptions.java
  api-model/src/main/java/io/enmasse/iot/model/v1/AdaptersConfig.java
  pkg/apis/iot/v1alpha1/types_config.go
  pkg/apis/iot/v1alpha1/zz_generated.deepcopy.go
  pkg/controller/iotconfig/adapter.go
  pkg/controller/iotconfig/adapter_test.go
Labels: component/iot, lang/go

#3575 Enable metrics endpoints for Hono components
  iot/iot-tenant-service/src/main/java/io/enmasse/iot/tenant/Application.java
  pkg/controller/iotconfig/auth_service.go
  pkg/controller/iotconfig/file_device_registry.go
  pkg/controller/iotconfig/http_adapter.go
  pkg/controller/iotconfig/infinispan_device_registry.go
  pkg/controller/iotconfig/lorawan_adapter.go
  pkg/controller/iotconfig/mqtt_adapter.go
  pkg/controller/iotconfig/sigfox_adapter.go
  pkg/controller/iotconfig/tenant_service.go
  pkg/controller/iotconfig/utils.go
  pkg/util/install/utils.go
  templates/service-monitors/010-ServiceMonitor-enmasse.yaml
Labels: component/iot

#3532 Create github actions workflows
  .github/scripts/build.sh
  .github/scripts/collectLogs.sh
  .github/scripts/install_dep.sh
  .github/scripts/test.sh
  .github/workflows/release.yml
  .github/workflows/smoke.yml
  .github/workflows/unit.yml
Labels: Do Not Merge, kind/proposal

#3585 Refactor "ApplyContainer" to support Init, Deployment and Job
  pkg/controller/address_space_controller/controller.go
  pkg/controller/authenticationservice/none.go
  pkg/controller/authenticationservice/standard.go
  pkg/controller/consoleservice/consoleservice_controller.go
  pkg/controller/iotconfig/adapter.go
  pkg/controller/iotconfig/auth_service.go
  pkg/controller/iotconfig/file_device_registry.go
  pkg/controller/iotconfig/http_adapter.go
  pkg/controller/iotconfig/infinispan_device_registry.go
  pkg/controller/iotconfig/lorawan_adapter.go
  pkg/controller/iotconfig/mqtt_adapter.go
  pkg/controller/iotconfig/project_operator.go
  pkg/controller/iotconfig/sigfox_adapter.go
  pkg/controller/iotconfig/tenant_service.go
  pkg/util/install/utils.go
  pkg/util/install/utils_test.go
Labels: lang/go

#3587 Fix ClusterRoleBinding name
  templates/iot/common/020-ClusterRole-qdr-configurator.yaml
Labels: component/iot

#3602 Store certificates in directory hierarchy
  cmd/iot-proxy-configurator/configurator.go
  cmd/iot-proxy-configurator/main.go
  cmd/iot-proxy-configurator/sync.go
  iot/TODO.md
Labels: component/iot
