Repository EnMasseProject/enmasse, pull requests merged in 2019-06, with the labels that each got.

#2861 Prevent possibility of a NPE in TimeMeasuringSystem
  systemtests/src/main/java/io/enmasse/systemtest/timemeasuring/TimeMeasuringSystem.java
Labels: component/systemtests

#2871 Fix sporadically failing test CommonTest#testAccessLogs
  systemtests/src/main/java/io/enmasse/systemtest/utils/TestUtils.java
  systemtests/src/test/java/io/enmasse/systemtest/common/CommonTest.java
Labels: component/systemtests

#2874 Fix retrieval of existing database-name from postgresql secret
  pkg/controller/authenticationservice/upgrader/standard.go
Labels: kind/bug

#2870 Docs: add missing install step for bundle install
  documentation/modules/proc-installing-using-bundle.adoc
Labels: Peer Review Needed, component/documentation

#2883 Docs for issue-2873: Upgrading router pods
  documentation/assemblies/assembly-upgrading.adoc
  documentation/modules/proc-upgrading-enmasse-using-ansible.adoc
  documentation/modules/proc-upgrading-enmasse-using-bundle.adoc
  documentation/modules/proc-upgrading-enmasse-using-template.adoc
  documentation/modules/proc-upgrading-router-pods.adoc
Labels: component/documentation, status/SME Review Needed

#2903 Docs: fix prereq links in restarting a router pod procedure
  documentation/modules/proc-upgrading-router-pods.adoc
Labels: component/documentation, status/SME Review Needed

#2904 Docs: remove upgrading by release template procedure
  documentation/assemblies/assembly-upgrading.adoc
Labels: component/documentation, status/SME Review Needed

#2924 Docs: fix wording on Configuring an address space certificate provider
  documentation/modules/ref-address-space-example-cert-providers.adoc
Labels: component/documentation, status/SME Review Needed

#2930 Switch to Hono 1.0-M4
  iot/iot-device-registry-infinispan/pom.xml
  iot/iot-device-registry-infinispan/src/test/java/io/enmasse/iot/registry/infinispan/CacheCredentialsServiceTest.java
  iot/iot-device-registry-infinispan/src/test/java/io/enmasse/iot/registry/infinispan/CacheRegistrationServiceTest.java
  iot/iot-device-registry-infinispan/src/test/java/io/enmasse/iot/registry/infinispan/CacheTenantServiceTest.java
  iot/iot-device-registry-infinispan/src/test/java/io/enmasse/iot/registry/infinispan/EmbeddedHotRodServer.java
  iot/iot-device-registry-infinispan/src/test/resources/logback.xml
  iot/pom.xml
Labels: iot

#2936 Fix a possible NPE, having an empty spec section
  api-model/src/main/java/io/enmasse/admin/model/v1/BrokeredInfraConfig.java
  api-model/src/main/java/io/enmasse/admin/model/v1/StandardInfraConfig.java
  api-model/src/test/java/io/enmasse/admin/model/v1/BrokeredInfraConfigTest.java
  api-model/src/test/java/io/enmasse/admin/model/v1/StandardInfraConfigTest.java
  api-model/src/test/resources/io/enmasse/admin/model/v1/resources/brokered-infra-empty.json
  api-model/src/test/resources/io/enmasse/admin/model/v1/resources/standard-infra-empty.json
Labels: 0.28.2, kind/bug, lang/java

#2900 Cleaned up use of IMAGE_PULL_POLICY
  address-space-controller/src/main/resources/templates/standard-space-infra.yaml
  standard-controller/src/main/java/io/enmasse/controller/standard/TemplateBrokerSetGenerator.java
  standard-controller/src/main/java/io/enmasse/controller/standard/TemplateParameter.java
Labels: 0.28.2

#2940 Remove possibility of NPE noise from the test logs (test harness change only).
  systemtests/src/test/java/io/enmasse/systemtest/bases/TestBaseWithShared.java
Labels: component/systemtests

#2946 Upd OLM csv
  templates/csv/enmasse.clusterserviceversion.yaml
Labels: 0.28.2
