Repository EnMasseProject/enmasse, pull requests merged in 2019-07, with the labels that each got.

#2949 Remove dependencies and run multilang clients in pod
  .jenkins/Jenkinsfile-long
  .jenkins/Jenkinsfile-pr
  .jenkins/Jenkinsfile-tests
  .jenkins/Jenkinsfile-upgrade
  .jenkins/jenkins-functions.groovy
  systemtests/scripts/deploy_enmasse.sh
  systemtests/scripts/test_func.sh
  systemtests/src/main/java/io/enmasse/systemtest/Kubernetes.java
  systemtests/src/main/java/io/enmasse/systemtest/SystemtestsKubernetesApps.java
  systemtests/src/main/java/io/enmasse/systemtest/apiclients/MsgCliApiClient.java
  systemtests/src/main/java/io/enmasse/systemtest/cmdclients/KubeCMDClient.java
  systemtests/src/main/java/io/enmasse/systemtest/messagingclients/AbstractClient.java
  systemtests/src/main/java/io/enmasse/systemtest/messagingclients/ExternalClients.java
  systemtests/src/main/java/io/enmasse/systemtest/messagingclients/ExternalClientsExtension.java
  systemtests/src/main/java/io/enmasse/systemtest/messagingclients/artemis/ArtemisJMSClientReceiver.java
  systemtests/src/main/java/io/enmasse/systemtest/messagingclients/artemis/ArtemisJMSClientSender.java
  systemtests/src/main/java/io/enmasse/systemtest/messagingclients/mqtt/PahoMQTTClientReceiver.java
  systemtests/src/main/java/io/enmasse/systemtest/messagingclients/mqtt/PahoMQTTClientSender.java
  systemtests/src/main/java/io/enmasse/systemtest/messagingclients/openwire/OpenwireJMSClientReceiver.java
  systemtests/src/main/java/io/enmasse/systemtest/messagingclients/openwire/OpenwireJMSClientSender.java
  systemtests/src/main/java/io/enmasse/systemtest/messagingclients/proton/java/ProtonJMSClientReceiver.java
  systemtests/src/main/java/io/enmasse/systemtest/messagingclients/proton/java/ProtonJMSClientSender.java
  systemtests/src/main/java/io/enmasse/systemtest/messagingclients/proton/python/PythonClientReceiver.java
  systemtests/src/main/java/io/enmasse/systemtest/messagingclients/proton/python/PythonClientSender.java
  systemtests/src/main/java/io/enmasse/systemtest/messagingclients/rhea/RheaClientConnector.java
  systemtests/src/main/java/io/enmasse/systemtest/messagingclients/rhea/RheaClientReceiver.java
  systemtests/src/main/java/io/enmasse/systemtest/messagingclients/rhea/RheaClientSender.java
  systemtests/src/main/java/io/enmasse/systemtest/utils/TestUtils.java
  systemtests/src/main/resources/rhea.js
  systemtests/src/test/java/io/enmasse/systemtest/bases/clients/ClientTestBase.java
  systemtests/src/test/java/io/enmasse/systemtest/bases/clients/ClusterClientTestBase.java
  systemtests/src/test/java/io/enmasse/systemtest/brokered/web/ChromeWebConsoleTest.java
  systemtests/src/test/java/io/enmasse/systemtest/brokered/web/FirefoxWebConsoleTest.java
  systemtests/src/test/java/io/enmasse/systemtest/common/catalog/ServiceCatalogWebTest.java
  systemtests/src/test/java/io/enmasse/systemtest/common/upgrade/UpgradeTest.java
  systemtests/src/test/java/io/enmasse/systemtest/standard/web/ChromeWebConsoleTest.java
  systemtests/src/test/java/io/enmasse/systemtest/standard/web/FirefoxWebConsoleTest.java
Labels: component/systemtests

#2959 Docs issue-2954: fix links
  documentation/assemblies/assembly-getting-started.adoc
  documentation/assemblies/assembly-iot-guide.adoc
  documentation/common/attributes.adoc
  documentation/modules/con-console.adoc
  documentation/modules/ref-example-roles.adoc
Labels: Peer Review Done, component/documentation

#2931 Docs: edit infrastructure config procedure file
  documentation/modules/proc-applying-infra-config.adoc
Labels: Peer Review Done, component/documentation, status/SME Review Needed

#2965 Fix IoT credentials expiration tests
  systemtests/src/main/java/io/enmasse/systemtest/iot/CredentialsRegistryClient.java
  systemtests/src/test/java/io/enmasse/systemtest/iot/registry/DeviceRegistryTestBase.java
  systemtests/src/test/java/io/enmasse/systemtest/iot/registry/InfinispanDeviceRegistryTest.java
Labels: lang/java, test development

#2974 Gather node state on test fail too.
  systemtests/src/main/java/io/enmasse/systemtest/Kubernetes.java
  systemtests/src/main/java/io/enmasse/systemtest/ability/TestWatcher.java
  systemtests/src/main/java/io/enmasse/systemtest/cmdclients/KubeCMDClient.java
Labels: test development

#2978 Functionality to Edit an address space plan in the console
  console/console-init/ui/src/components/MessagingInstances/MessagingInstance/Enmasse/ConfigureAddressSpace/AddressSpaceTypeInput.js
  console/console-init/ui/src/components/MessagingInstances/MessagingInstance/Enmasse/ConfigureAddressSpace/AuthenticationServiceInput.js
  console/console-init/ui/src/components/MessagingInstances/MessagingInstance/Enmasse/ConfigureAddressSpace/ConfigurationForm.js
  console/console-init/ui/src/components/MessagingInstances/MessagingInstance/Enmasse/ConfigureAddressSpace/ConfigurationForm.test.js
  console/console-init/ui/src/components/MessagingInstances/MessagingInstance/Enmasse/ConfigureAddressSpace/NameInput.js
  console/console-init/ui/src/components/MessagingInstances/MessagingInstance/Enmasse/ConfigureAddressSpace/NamespaceInput.js
  console/console-init/ui/src/components/MessagingInstances/MessagingInstance/Enmasse/ConfigureAddressSpace/NamespaceInput.test.js
  console/console-init/ui/src/components/MessagingInstances/MessagingInstance/Enmasse/ConfigureAddressSpace/PlansInput.js
  console/console-init/ui/src/components/MessagingInstances/MessagingInstance/Enmasse/ConfigureAddressSpace/PlansInput.test.js
  console/console-init/ui/src/components/MessagingInstances/MessagingInstance/Enmasse/CreateAddressSpace/CreateAddressSpace.js
  console/console-init/ui/src/components/MessagingInstances/MessagingInstance/Enmasse/EditAddressSpace/EditAddressSpace.js
  console/console-init/ui/src/components/MessagingInstances/MessagingInstance/Enmasse/EditAddressSpace/EditAddressSpace.test.js
  console/console-init/ui/src/components/MessagingInstances/MessagingInstance/Enmasse/EnmasseAddressSpaces.js
  console/console-init/ui/src/components/MessagingInstances/MessagingInstances.js
Labels: console

#2977 Docs: Changing the associated address space plan using the console
  documentation/assemblies/assembly-managing-address-spaces.adoc
  documentation/modules/proc-change-address-space-plan-console.adoc
  documentation/modules/proc-create-address-console.adoc
Labels: Peer Review Done, component/documentation, status/SME Review Needed

#2838 Cleanup and fix failing batch tests
  systemtests/src/main/java/io/enmasse/systemtest/ability/ITestSeparator.java
  systemtests/src/main/java/io/enmasse/systemtest/ability/TestWatcher.java
  systemtests/src/main/java/io/enmasse/systemtest/amqp/AmqpClient.java
  systemtests/src/main/java/io/enmasse/systemtest/amqp/AmqpClientFactory.java
  systemtests/src/main/java/io/enmasse/systemtest/amqp/ClientHandlerBase.java
  systemtests/src/main/java/io/enmasse/systemtest/amqp/Receiver.java
  systemtests/src/main/java/io/enmasse/systemtest/amqp/ReceiverStatus.java
  systemtests/src/main/java/io/enmasse/systemtest/apiclients/ApiClient.java
  systemtests/src/main/java/io/enmasse/systemtest/executor/Executor.java
  systemtests/src/main/java/io/enmasse/systemtest/iot/HttpAdapterClient.java
  systemtests/src/main/java/io/enmasse/systemtest/iot/MessageSendTester.java
  systemtests/src/main/java/io/enmasse/systemtest/iot/MessageType.java
  systemtests/src/main/java/io/enmasse/systemtest/mqtt/MqttClientFactory.java
  systemtests/src/main/java/io/enmasse/systemtest/selenium/SeleniumProvider.java
  systemtests/src/main/java/io/enmasse/systemtest/selenium/page/ConsoleWebPage.java
  systemtests/src/main/java/io/enmasse/systemtest/selenium/page/GlobalConsolePage.java
  systemtests/src/main/java/io/enmasse/systemtest/selenium/page/OpenshiftWebPage.java
  systemtests/src/main/java/io/enmasse/systemtest/selenium/resources/ConnectionWebItem.java
  systemtests/src/main/java/io/enmasse/systemtest/timemeasuring/TimeMeasuringSystem.java
  systemtests/src/main/java/io/enmasse/systemtest/utils/AddressUtils.java
  systemtests/src/main/java/io/enmasse/systemtest/utils/AuthServiceUtils.java
  systemtests/src/main/java/io/enmasse/systemtest/utils/TestUtils.java
  systemtests/src/main/java/io/enmasse/systemtest/utils/UserUtils.java
  systemtests/src/test/java/io/enmasse/systemtest/bases/IoTTestBase.java
  systemtests/src/test/java/io/enmasse/systemtest/bases/IoTTestBaseWithShared.java
  systemtests/src/test/java/io/enmasse/systemtest/bases/TestBase.java
  systemtests/src/test/java/io/enmasse/systemtest/bases/TestBaseWithShared.java
  systemtests/src/test/java/io/enmasse/systemtest/iot/MultipleProjectsTest.java
  systemtests/src/test/java/io/enmasse/systemtest/iot/SimpleK8sDeployTest.java
  systemtests/src/test/java/io/enmasse/systemtest/iot/control/CommandAndControlTest.java
  systemtests/src/test/java/io/enmasse/systemtest/iot/http/HttpAdapterTest.java
  systemtests/src/test/java/io/enmasse/systemtest/iot/mqtt/MqttAdapterTest.java
  systemtests/src/test/java/io/enmasse/systemtest/iot/registry/DeviceRegistryTestBase.java
  systemtests/src/test/java/io/enmasse/systemtests/utils/TestUtilsTest.java
Labels: test development

#2981 Bump node dependencies to latest micros to eliminate some vulnerabilities.
  agent/npm-shrinkwrap.json
  agent/package.json
  agent/www/npm-shrinkwrap.json
  agent/www/package.json
  console/console-init/ui/package-lock.json
  console/console-init/ui/package.json
Labels: console

#2995 Docs: fix broken link
  documentation/assemblies/assembly-getting-started.adoc
  documentation/modules/proc-creating-users-cli.adoc
Labels: Peer Review Done, component/documentation

#3001 Create selenium switch address space test
  systemtests/src/main/java/io/enmasse/systemtest/selenium/page/GlobalConsolePage.java
  systemtests/src/test/java/io/enmasse/systemtest/bases/web/GlobalConsoleTest.java
  systemtests/src/test/java/io/enmasse/systemtest/common/console/ChromeGlobalConsoleTest.java
  systemtests/src/test/java/io/enmasse/systemtest/common/console/FirefoxGlobalConsoleTest.java
Labels: component/systemtests, test development

#2986 Docs issue 2985: add link about how to install CLI
  documentation/common/snip-prerequisites-openshift.adoc
Labels: Peer Review Done, component/documentation, status/SME Review Needed

#3006 Refactor admin resource teardown in tests
  systemtests/src/main/java/io/enmasse/systemtest/AdminResourcesManager.java
  systemtests/src/test/java/io/enmasse/systemtest/bases/TestBase.java
  systemtests/src/test/java/io/enmasse/systemtest/bases/infra/InfraTestBase.java
  systemtests/src/test/java/io/enmasse/systemtest/bases/web/GlobalConsoleTest.java
  systemtests/src/test/java/io/enmasse/systemtest/bases/web/WebConsolePlansTest.java
  systemtests/src/test/java/io/enmasse/systemtest/common/api/ApiServerTest.java
  systemtests/src/test/java/io/enmasse/systemtest/common/api/AuthServiceTest.java
  systemtests/src/test/java/io/enmasse/systemtest/common/plans/PlansTest.java
  systemtests/src/test/java/io/enmasse/systemtest/marathon/PlansMarathonTest.java
  systemtests/src/test/java/io/enmasse/systemtest/standard/PlansTest.java
Labels: component/systemtests, test development

#2990 Refactor the device registry to drop the dependency on the query part
  iot/iot-device-registry-infinispan/pom.xml
  iot/iot-device-registry-infinispan/src/main/java/io/enmasse/iot/registry/infinispan/CacheCredentialConfigProperties.java
  iot/iot-device-registry-infinispan/src/main/java/io/enmasse/iot/registry/infinispan/CacheCredentialService.java
  iot/iot-device-registry-infinispan/src/main/java/io/enmasse/iot/registry/infinispan/CacheProvider.java
  iot/iot-device-registry-infinispan/src/main/java/io/enmasse/iot/registry/infinispan/CacheRegistrationConfigProperties.java
  iot/iot-device-registry-infinispan/src/main/java/io/enmasse/iot/registry/infinispan/CacheRegistrationService.java
  iot/iot-device-registry-infinispan/src/main/java/io/enmasse/iot/registry/infinispan/CacheTenantConfigProperties.java
  iot/iot-device-registry-infinispan/src/main/java/io/enmasse/iot/registry/infinispan/CacheTenantService.java
  iot/iot-device-registry-infinispan/src/main/java/io/enmasse/iot/registry/infinispan/InfinispanRegistry.java
  iot/iot-device-registry-infinispan/src/main/java/io/enmasse/iot/registry/infinispan/InfinispanRegistryConfig.java
  iot/iot-device-registry-infinispan/src/main/java/io/enmasse/iot/registry/infinispan/RegistryCredentialObject.java
  iot/iot-device-registry-infinispan/src/main/java/io/enmasse/iot/registry/infinispan/RegistryTenantObject.java
  iot/iot-device-registry-infinispan/src/main/java/io/enmasse/iot/registry/infinispan/config/InfinispanProperties.java
  iot/iot-device-registry-infinispan/src/main/java/io/enmasse/iot/registry/infinispan/config/InfinispanRegistryConfig.java
  iot/iot-device-registry-infinispan/src/main/java/io/enmasse/iot/registry/infinispan/credentials/CacheCredentialService.java
  iot/iot-device-registry-infinispan/src/main/java/io/enmasse/iot/registry/infinispan/credentials/CredentialsKey.java
  iot/iot-device-registry-infinispan/src/main/java/io/enmasse/iot/registry/infinispan/devcon/CacheDeviceConnectionService.java
  iot/iot-device-registry-infinispan/src/main/java/io/enmasse/iot/registry/infinispan/devcon/DeviceConnectionKey.java
  iot/iot-device-registry-infinispan/src/main/java/io/enmasse/iot/registry/infinispan/device/CacheRegistrationService.java
  iot/iot-device-registry-infinispan/src/main/java/io/enmasse/iot/registry/infinispan/device/RegistrationKey.java
  iot/iot-device-registry-infinispan/src/main/java/io/enmasse/iot/registry/infinispan/util/MoreFutures.java
  iot/iot-device-registry-infinispan/src/main/resources/banner.txt
  iot/iot-device-registry-infinispan/src/main/resources/cache-configuration.xml
  iot/iot-device-registry-infinispan/src/main/resources/hotrod-client.properties
  iot/iot-device-registry-infinispan/src/test/java/io/enmasse/iot/registry/infinispan/CacheTenantServiceTest.java
  iot/iot-device-registry-infinispan/src/test/java/io/enmasse/iot/registry/infinispan/EmbeddedHotRodServer.java
  iot/iot-device-registry-infinispan/src/test/java/io/enmasse/iot/registry/infinispan/credentials/CacheCredentialsServiceTest.java
  iot/iot-device-registry-infinispan/src/test/java/io/enmasse/iot/registry/infinispan/devcon/CacheDeviceConnectionServiceTest.java
  iot/iot-device-registry-infinispan/src/test/java/io/enmasse/iot/registry/infinispan/device/CacheRegistrationServiceTest.java
  iot/pom.xml
  pkg/controller/iotconfig/infinispan_device_registry.go
  systemtests/src/main/java/io/enmasse/systemtest/iot/CredentialsRegistryClient.java
  systemtests/src/test/java/io/enmasse/systemtest/iot/MultipleProjectsTest.java
  systemtests/src/test/java/io/enmasse/systemtest/iot/http/HttpAdapterTest.java
  systemtests/src/test/java/io/enmasse/systemtest/iot/mqtt/MqttAdapterTest.java
  systemtests/src/test/java/io/enmasse/systemtest/iot/registry/DeviceRegistryTestBase.java
Labels: iot, lang/go, lang/java

#3005 Docs: issue-3002: Uninstall using Ansible
  documentation/assemblies/assembly-installing.adoc
  documentation/assemblies/assembly-service-admin-guide.adoc
  documentation/assemblies/assembly-uninstalling.adoc
  documentation/modules/proc-installing-using-ansible.adoc
  documentation/modules/proc-installing-using-bundle.adoc
  documentation/modules/proc-uninstalling-using-ansible.adoc
  documentation/modules/proc-uninstalling.adoc
Labels: Peer Review Done, component/documentation, status/SME Review Needed

#3019 Get authtoken from current context if not specified
  systemtests/src/main/java/io/enmasse/systemtest/Environment.java
Labels: component/systemtests, test development

#3029 Increase the timeout to 10sec. from the default 200ms
  systemtests/src/test/java/io/enmasse/systemtest/bases/clients/ClientTestBase.java
Labels: component/systemtests

#3030 Increase timeouts to solve MQTT PublishTest sporadic failure.
  systemtests/src/main/java/io/enmasse/systemtest/mqtt/MqttUtils.java
  systemtests/src/test/java/io/enmasse/systemtest/bases/mqtt/MqttPublishTestBase.java
Labels: component/systemtests

#3032 Prevent npe in test
  systemtests/src/main/java/io/enmasse/systemtest/utils/AddressSpaceUtils.java
Labels: component/systemtests

#3038 Docs: issue-3037: remove uninstalling using Ansible procedure from Kubernetes guide
  documentation/assemblies/assembly-uninstalling.adoc
  documentation/modules/proc-uninstalling.adoc
Labels: component/documentation, status/SME Review Needed

#3042 Collect events from monitoring namespace if MonitoringTest fails
  systemtests/scripts/test_func.sh
  systemtests/src/main/java/io/enmasse/systemtest/GlobalLogCollector.java
  systemtests/src/test/java/io/enmasse/systemtest/common/monitoring/MonitoringTest.java
Labels: component/systemtests

#3051 Ensure that MonitoringTest awaits the deletion of monitoring namespace before recreating it
  systemtests/src/test/java/io/enmasse/systemtest/common/monitoring/MonitoringTest.java
Labels: component/systemtests

#3053 Docs: issue-3052: Fix IoT links
  documentation/modules/proc-iot-api.adoc
  documentation/modules/proc-iot-creating-device.adoc
  documentation/modules/proc-iot-creating-project.adoc
Labels: Peer Review Done, component/documentation
