Repository EnMasseProject/enmasse, pull requests merged in 2019-05, with the labels that each got.

#2760 Docs: fix link in Console assembly
  documentation/assemblies/assembly-using-console.adoc
Labels: Peer Review Needed, component/documentation

#2762 Fix a few compiler warnings and issues uncovered afterwards
  address-space-controller/src/main/java/io/enmasse/controller/ControllerChain.java
  address-space-controller/src/main/java/io/enmasse/controller/ExportsController.java
  address-space-controller/src/main/java/io/enmasse/controller/TemplateInfraResourceFactory.java
  address-space-controller/src/main/java/io/enmasse/controller/auth/CertBundleCertProvider.java
  address-space-controller/src/main/java/io/enmasse/controller/auth/OpenSSLCertManager.java
  address-space-controller/src/main/java/io/enmasse/controller/auth/SelfsignedCertProvider.java
  address-space-controller/src/main/java/io/enmasse/controller/common/KubernetesHelper.java
  address-space-controller/src/test/java/io/enmasse/controller/EndpointControllerTest.java
  address-space-controller/src/test/java/io/enmasse/controller/ExportsControllerTest.java
  address-space-controller/src/test/java/io/enmasse/controller/keycloak/RealmControllerTest.java
  api-model/src/main/java/io/enmasse/address/model/AddressSpaceResolver.java
  api-model/src/main/java/io/enmasse/address/model/AddressSpaceSchemaSpec.java
  api-model/src/main/java/io/enmasse/address/model/CertSpec.java
  api-model/src/main/java/io/enmasse/address/model/EndpointSpec.java
  api-model/src/main/java/io/enmasse/address/model/EndpointStatus.java
  api-model/src/main/java/io/enmasse/address/model/ExposeSpec.java
  api-model/src/main/java/io/enmasse/address/model/KubeUtil.java
  api-model/src/main/java/io/enmasse/address/model/Status.java
  api-model/src/main/java/io/enmasse/admin/model/v1/AuthenticationServiceSpec.java
  api-model/src/main/java/io/enmasse/admin/model/v1/BrokeredInfraConfig.java
  api-model/src/main/java/io/enmasse/admin/model/v1/NetworkPolicy.java
  api-model/src/test/java/io/enmasse/address/model/v1/address/SerializationTest.java
  api-server/src/main/java/io/enmasse/api/server/HTTPServer.java
  api-server/src/test/java/io/enmasse/api/v1/http/HttpAddressServiceTest.java
  api-server/src/test/java/io/enmasse/api/v1/http/HttpAddressSpaceServiceTest.java
  broker-plugin/sasl-delegation/src/main/java/io/enmasse/artemis/sasl_delegation/SaslDelegatingLogin.java
  broker-plugin/sasl-delegation/src/test/java/io/enmasse/artemis/sasl_delegation/SaslDelegatingLoginTest.java
  k8s-api-testutil/src/main/java/io/enmasse/k8s/api/TestSchemaApi.java
  k8s-api/src/main/java/io/enmasse/k8s/api/ConfigMapAddressApi.java
  k8s-api/src/main/java/io/enmasse/k8s/api/ConfigMapAddressSpaceApi.java
  k8s-api/src/main/java/io/enmasse/k8s/api/KubeCrdApi.java
  k8s-api/src/main/java/io/enmasse/k8s/util/Templates.java
  k8s-api/src/test/java/io/enmasse/k8s/api/ConfigMapAddressSpaceApiTest.java
  k8s-api/src/test/java/io/enmasse/k8s/api/KubeCrdApiTest.java
  k8s-api/src/test/java/io/enmasse/k8s/util/TemplateTest.java
  service-broker/src/main/java/io/enmasse/osb/api/ServiceMapping.java
  standard-controller/src/main/java/io/enmasse/controller/standard/AddressController.java
  standard-controller/src/main/java/io/enmasse/controller/standard/KubernetesHelper.java
  standard-controller/src/main/java/io/enmasse/controller/standard/RouterStatus.java
  standard-controller/src/main/java/io/enmasse/controller/standard/StandardController.java
  standard-controller/src/test/java/io/enmasse/controller/standard/AddressProvisionerTest.java
Labels: lang/java

#2761 Clean up logging, at least a bit
  cmd/controller-manager/main.go
  cmd/iot-gc/main.go
  cmd/iot-proxy-configurator/configurator.go
  cmd/iot-proxy-configurator/main.go
  cmd/iot-proxy-configurator/sync.go
  pkg/logs/helpers.go
Labels: lang/go

#2767 Add more examples on address spaces
  documentation/assemblies/assembly-address-space-examples.adoc
  documentation/assemblies/assembly-managing-address-spaces.adoc
  documentation/modules/ref-address-space-example-auth-service.adoc
  documentation/modules/ref-address-space-example-cert-providers.adoc
  documentation/modules/ref-address-space-example-exporting-endpoints.adoc
  documentation/modules/ref-address-space-example-exposing-endpoints.adoc
Labels: Peer Review Needed

#2776 Docs: fix image include and pulled out concept info
  documentation/assemblies/assembly-configuring.adoc
  documentation/modules/con-configuring.adoc
Labels: Peer Review Done, component/documentation

#2793 Remove custom s2i base image
  iot/fabric8-s2i-java-custom/Dockerfile
Labels: iot

#2803 Fix NPEs when the test failed
  systemtests/src/test/java/io/enmasse/systemtest/bases/IoTTestBaseWithShared.java
Labels: test development

#2788 Docs: IoT docs copyedits
  documentation/assemblies/assembly-iot-guide.adoc
  documentation/modules/proc-installing-using-bundle.adoc
  documentation/modules/proc-iot-api.adoc
  documentation/modules/proc-iot-creating-device.adoc
  documentation/modules/proc-iot-creating-project.adoc
  documentation/modules/proc-iot-installing-services.adoc
Labels: Peer Review Done, component/documentation, status/SME Review Done

#2801 Docs: service export type doc addition and related fixes
  documentation/assemblies/assembly-address-space-examples.adoc
  documentation/assemblies/assembly-managing-address-spaces.adoc
  documentation/modules/ref-address-space-example-exporting-endpoints.adoc
  documentation/modules/ref-address-space-example-exports.adoc
  documentation/modules/ref-address-space-example-exposing-endpoints.adoc
Labels: Peer Review Done, component/documentation, status/SME Review Done

#2817 Docs: fix code block rendering as italics instead of underscores
  documentation/modules/ref-python-example.adoc
Labels: Peer Review Done, component/documentation, status/SME Review Needed

#2834 Fix bug in starting up Infinispan device registry
  iot/iot-device-registry-infinispan/src/main/java/io/enmasse/iot/registry/infinispan/InfinispanRegistryConfig.java
Labels: iot, kind/bug, lang/java

#2836 Docs: copyedits for Monitoring procedures
  documentation/modules/proc-configure-alerts.adoc
  documentation/modules/proc-deploy-kube-state-metrics.adoc
  documentation/modules/proc-deploy-monitoring-using-ansible.adoc
  documentation/modules/proc-deploy-monitoring-using-bundle.adoc
Labels: Peer Review Done, component/documentation

#2839 Show skipEnv variable
  systemtests/src/main/java/io/enmasse/systemtest/Environment.java
Labels: lang/java

#2832 Update versions
  iot/iot-device-registry-infinispan/pom.xml
  iot/pom.xml
  pom.xml
Labels: iot, kind/bug, lang/java

#2844 Fix the QDR image name, comes now from quay.io
  Makefile.env.mk
Labels: kind/bug

#2822 [2821] Fixed docs YAML using incorrect source name for operator install
  documentation/common/attributes.adoc
  documentation/modules/proc-installing-using-olm.adoc
Labels: component/documentation, status/SME Review Needed
