Repository EnMasseProject/enmasse, pull requests merged in 2019-11, with the labels that each got.

#3278 Create new large messages tests
  systemtests/src/test/java/io/enmasse/systemtest/bases/TestBase.java
  systemtests/src/test/java/io/enmasse/systemtest/shared/brokered/QueueTest.java
  systemtests/src/test/java/io/enmasse/systemtest/shared/brokered/TopicTest.java
  systemtests/src/test/java/io/enmasse/systemtest/shared/standard/QueueTest.java
  systemtests/src/test/java/io/enmasse/systemtest/shared/standard/TopicTest.java
Labels: component/systemtests, kind/task

#3415 Fix web console tests
  systemtests/src/main/java/io/enmasse/systemtest/utils/AddressUtils.java
Labels: component/systemtests

#3439 Find and fix a few more ignored errors
  pkg/controller/authenticationservice/authenticationservice_controller.go
  pkg/controller/authenticationservice/authenticationservice_controller_test.go
  pkg/controller/authenticationservice/none.go
  pkg/controller/authenticationservice/standard.go
  pkg/controller/authenticationservice/upgrader/standard.go
  pkg/util/install/utils.go
  pkg/util/install/utils_test.go
Labels: lang/go

#3453 Fix userapi test expected output
  systemtests/src/test/java/io/enmasse/systemtest/shared/brokered/api/UserApiTest.java
Labels: Do Not Merge, status/WIP

#3466 Fix issues of "temporary unavailable"
  pkg/controller/iotconfig/adapter.go
  pkg/controller/iotconfig/auth_service.go
  pkg/controller/iotconfig/file_device_registry.go
  pkg/controller/iotconfig/http_adapter.go
  pkg/controller/iotconfig/infinispan_device_registry.go
  pkg/controller/iotconfig/iotconfig_controller.go
  pkg/controller/iotconfig/lorawan_adapter.go
  pkg/controller/iotconfig/mqtt_adapter.go
  pkg/controller/iotconfig/project_operator.go
  pkg/controller/iotconfig/sigfox_adapter.go
  pkg/controller/iotconfig/tenant_service.go
  pkg/controller/iotconfig/utils.go
  pkg/util/cchange/change.go
Labels: component/iot, lang/go

#3469 Prevent continuous updates when project is creating
  pkg/controller/iotproject/managed.go
Labels: component/iot, lang/go

#3477 Write out qdrouter information to "failed_tests" folder. Use Paths.
  systemtests/src/main/java/io/enmasse/systemtest/Environment.java
  systemtests/src/main/java/io/enmasse/systemtest/listener/JunitCallbackListener.java
  systemtests/src/main/java/io/enmasse/systemtest/listener/JunitExecutionListener.java
  systemtests/src/main/java/io/enmasse/systemtest/logs/GlobalLogCollector.java
  systemtests/src/main/java/io/enmasse/systemtest/logs/LogCollector.java
  systemtests/src/main/java/io/enmasse/systemtest/manager/ResourceManager.java
  systemtests/src/main/java/io/enmasse/systemtest/manager/SharedResourceManager.java
  systemtests/src/main/java/io/enmasse/systemtest/platform/apps/SystemtestsKubernetesApps.java
  systemtests/src/main/java/io/enmasse/systemtest/selenium/SeleniumManagement.java
  systemtests/src/main/java/io/enmasse/systemtest/selenium/SeleniumProvider.java
  systemtests/src/main/java/io/enmasse/systemtest/time/TimeMeasuringSystem.java
  systemtests/src/test/java/io/enmasse/systemtest/bases/TestBase.java
  systemtests/src/test/java/io/enmasse/systemtest/bases/clients/ClientTestBase.java
Labels: component/systemtests, lang/java

#3467 Drop manual scan, we now have proper CRDs
  pkg/controller/iotproject/enqueue_owner.go
  pkg/controller/iotproject/iot_utils.go
  pkg/controller/iotproject/iotproject_controller.go
Labels: component/iot, lang/go

#3445 Docs issue-3444: draft example use case and infraconfig examples
  documentation/assemblies/assembly-address-space-address-concepts.adoc
  documentation/assemblies/assembly-configuring.adoc
  documentation/assemblies/assembly-planning.adoc
  documentation/assemblies/assembly-service-admin-guide.adoc
  documentation/modules/con-configuring.adoc
  documentation/modules/ref-ability-restrict-address-space-connections.adoc
  documentation/modules/ref-auth-service-resource-examples.adoc
  documentation/modules/ref-example-use-case.adoc
  documentation/modules/ref-restrict-messaging-infrastructure.adoc
Labels: component/documentation, status/SME Review Needed

#3505 Docs: add admonition to not use self-signed certs in prod environments
  documentation/modules/ref-address-space-example-cert-providers.adoc
Labels: Peer Review Done, component/documentation, status/SME Review Done

#3512 Reduce log output for normal cases
  iot/iot-device-registry-infinispan/src/main/java/io/enmasse/iot/registry/infinispan/util/DeviceRegistryTokenAuthHandler.java
  iot/iot-device-registry-infinispan/src/main/java/io/enmasse/iot/registry/infinispan/util/DeviceRegistryTokenAuthProvider.java
Labels: component/iot, lang/java
