Repository EnMasseProject/enmasse, pull requests merged in 2019-10, with the labels that each got.

#3257 add Go binding for addressplan and addressspaceplan resources
  hack/update-codegen.sh
  pkg/apis/admin/v1beta2/doc.go
  pkg/apis/admin/v1beta2/register.go
  pkg/apis/admin/v1beta2/types.go
  pkg/apis/admin/v1beta2/types_test.go
  pkg/apis/admin/v1beta2/zz_generated.deepcopy.go
  pkg/client/clientset/versioned/clientset.go
  pkg/client/clientset/versioned/fake/clientset_generated.go
  pkg/client/clientset/versioned/fake/register.go
  pkg/client/clientset/versioned/scheme/register.go
  pkg/client/clientset/versioned/typed/admin/v1beta2/addressplan.go
  pkg/client/clientset/versioned/typed/admin/v1beta2/addressspaceplan.go
  pkg/client/clientset/versioned/typed/admin/v1beta2/admin_client.go
  pkg/client/clientset/versioned/typed/admin/v1beta2/doc.go
  pkg/client/clientset/versioned/typed/admin/v1beta2/fake/doc.go
  pkg/client/clientset/versioned/typed/admin/v1beta2/fake/fake_addressplan.go
  pkg/client/clientset/versioned/typed/admin/v1beta2/fake/fake_addressspaceplan.go
  pkg/client/clientset/versioned/typed/admin/v1beta2/fake/fake_admin_client.go
  pkg/client/clientset/versioned/typed/admin/v1beta2/generated_expansion.go
  pkg/client/informers/externalversions/admin/interface.go
  pkg/client/informers/externalversions/admin/v1beta2/addressplan.go
  pkg/client/informers/externalversions/admin/v1beta2/addressspaceplan.go
  pkg/client/informers/externalversions/admin/v1beta2/interface.go
  pkg/client/informers/externalversions/generic.go
  pkg/client/listers/admin/v1beta2/addressplan.go
  pkg/client/listers/admin/v1beta2/addressspaceplan.go
  pkg/client/listers/admin/v1beta2/expansion_generated.go
Labels: lang/go

#3258 Docs: change links to reflect book titles change
  documentation/modules/con-console.adoc
  documentation/modules/ref-address-space-example-external-auth-service-override.adoc
  documentation/modules/ref-example-roles.adoc
Labels: Peer Review Needed, component/documentation

#3185 Docs: issue-3075: add docs on InfraConfig podTemplate property
  documentation/assemblies/assembly-infrastructure-configuration.adoc
  documentation/modules/con-brokered-infra-config.adoc
  documentation/modules/con-standard-infra-config.adoc
  documentation/modules/ref-brokered-infra-config-example.adoc
  documentation/modules/ref-brokered-infra-config-fields.adoc
  documentation/modules/ref-brokered-infra-config-override-probe-timeout.adoc
  documentation/modules/ref-standard-infra-config-example.adoc
  documentation/modules/ref-standard-infra-config-fields.adoc
  documentation/modules/ref-standard-infra-config-override-probe-timeout.adoc
Labels: Peer Review Done, component/documentation, status/SME Review Done

#3270 Remove now redundant workaround restart of the router pods following upgrade
  systemtests/src/test/java/io/enmasse/systemtest/isolated/upgrade/UpgradeTest.java
Labels: component/systemtests

#3285 Remove some of the special characters
  pkg/util/password.go
Labels: iot, lang/go

#3267 Docs: stored DLQ content
  documentation/modules/con-standard-queue.adoc
  documentation/modules/ref-view-message-conn-stats-table.adoc
Labels: Peer Review Done, component/documentation, status/SME Review Needed

#3264 Fix issue of "too long" annotations on the user object due to keycloak
  keycloak-user-api/src/main/java/io/enmasse/user/keycloak/KeycloakUserApi.java
  keycloak-user-api/src/test/java/io/enmasse/user/keycloak/KeycloakUserApiTest.java
  systemtests/src/test/java/io/enmasse/systemtest/shared/brokered/api/UserApiTest.java
  systemtests/src/test/java/io/enmasse/systemtest/shared/standard/api/UserApiTest.java
Labels: component/api-server, lang/java

#3231 Initial proposal on migrating to CRDs
  documentation/design/proposals/crdification.adoc
Labels: kind/proposal

#3294 Docs: fix wording per QE review
  documentation/modules/con-standard-queue.adoc
  documentation/modules/ref-view-message-conn-stats-table.adoc
Labels: component/documentation, status/SME Review Needed

#3295 Add step to install service catalog integration
  documentation/modules/proc-installing-using-bundle.adoc
Labels: component/documentation

#3289 Systemtests operator manager
  .jenkins/Jenkinsfile-pr
  pom.xml
  systemtests/src/main/java/io/enmasse/systemtest/Environment.java
  systemtests/src/main/java/io/enmasse/systemtest/cmdclients/CmdClient.java
  systemtests/src/main/java/io/enmasse/systemtest/cmdclients/KubeCMDClient.java
  systemtests/src/main/java/io/enmasse/systemtest/info/TestInfo.java
  systemtests/src/main/java/io/enmasse/systemtest/listener/JunitCallbackListener.java
  systemtests/src/main/java/io/enmasse/systemtest/listener/JunitExecutionListener.java
  systemtests/src/main/java/io/enmasse/systemtest/manager/IsolatedIoTManager.java
  systemtests/src/main/java/io/enmasse/systemtest/manager/ResourceManager.java
  systemtests/src/main/java/io/enmasse/systemtest/manager/SharedIoTManager.java
  systemtests/src/main/java/io/enmasse/systemtest/manager/SharedResourceManager.java
  systemtests/src/main/java/io/enmasse/systemtest/messagingclients/ExternalClientsExtension.java
  systemtests/src/main/java/io/enmasse/systemtest/operator/OperatorManager.java
  systemtests/src/main/java/io/enmasse/systemtest/platform/Kubernetes.java
  systemtests/src/main/java/io/enmasse/systemtest/utils/TestUtils.java
  systemtests/src/test/java/io/enmasse/systemtest/bases/TestBase.java
  systemtests/src/test/resources/META-INF/services/org.junit.platform.launcher.TestExecutionListener
Labels: component/systemtests

#3296 Docs: Remove 'Restarting router pods running a previous version of th…
  documentation/assemblies/assembly-upgrading.adoc
  documentation/modules/proc-upgrading-router-pods.adoc
Labels: component/documentation, status/SME Review Needed

#3303 Systemtests detect cluster and version
  systemtests/Makefile
  systemtests/README.md
  systemtests/pom.xml
  systemtests/scripts/run_test_component.sh
  systemtests/scripts/run_test_kubernetes.sh
  systemtests/scripts/run_tests.sh
  systemtests/src/main/java/io/enmasse/systemtest/Environment.java
  systemtests/src/main/java/io/enmasse/systemtest/apiclients/ApiClient.java
  systemtests/src/main/java/io/enmasse/systemtest/broker/ArtemisManagement.java
  systemtests/src/main/java/io/enmasse/systemtest/cmdclients/CmdClient.java
  systemtests/src/main/java/io/enmasse/systemtest/condition/AssumeKubernetesCondition.java
  systemtests/src/main/java/io/enmasse/systemtest/condition/AssumeOpenshiftCondition.java
  systemtests/src/main/java/io/enmasse/systemtest/condition/Kubernetes.java
  systemtests/src/main/java/io/enmasse/systemtest/condition/OpenShift.java
  systemtests/src/main/java/io/enmasse/systemtest/executor/Exec.java
  systemtests/src/main/java/io/enmasse/systemtest/info/TestInfo.java
  systemtests/src/main/java/io/enmasse/systemtest/listener/JunitCallbackListener.java
  systemtests/src/main/java/io/enmasse/systemtest/logs/GlobalLogCollector.java
  systemtests/src/main/java/io/enmasse/systemtest/manager/IsolatedIoTManager.java
  systemtests/src/main/java/io/enmasse/systemtest/manager/SharedIoTManager.java
  systemtests/src/main/java/io/enmasse/systemtest/messagingclients/AbstractClient.java
  systemtests/src/main/java/io/enmasse/systemtest/operator/OperatorManager.java
  systemtests/src/main/java/io/enmasse/systemtest/platform/KubeCMDClient.java
  systemtests/src/main/java/io/enmasse/systemtest/platform/Kubernetes.java
  systemtests/src/main/java/io/enmasse/systemtest/platform/Minikube.java
  systemtests/src/main/java/io/enmasse/systemtest/platform/apps/SystemtestsKubernetesApps.java
  systemtests/src/main/java/io/enmasse/systemtest/platform/cluster/ClusterType.java
  systemtests/src/main/java/io/enmasse/systemtest/platform/cluster/KubeCluster.java
  systemtests/src/main/java/io/enmasse/systemtest/platform/cluster/MinikubeCluster.java
  systemtests/src/main/java/io/enmasse/systemtest/platform/cluster/NoClusterException.java
  systemtests/src/main/java/io/enmasse/systemtest/platform/cluster/OpenShiftCluster.java
  systemtests/src/main/java/io/enmasse/systemtest/selenium/SeleniumManagement.java
  systemtests/src/main/java/io/enmasse/systemtest/selenium/page/OpenshiftLoginWebPage.java
  systemtests/src/main/java/io/enmasse/systemtest/utils/CertificateUtils.java
  systemtests/src/test/java/io/enmasse/systemtest/bases/TestBase.java
  systemtests/src/test/java/io/enmasse/systemtest/bases/web/GlobalConsoleTest.java
  systemtests/src/test/java/io/enmasse/systemtest/iot/isolated/SimpleK8sDeployTest.java
  systemtests/src/test/java/io/enmasse/systemtest/isolated/CommonTest.java
  systemtests/src/test/java/io/enmasse/systemtest/isolated/api/ApiServerTest.java
  systemtests/src/test/java/io/enmasse/systemtest/isolated/api/CustomResourceDefinitionAddressSpacesTest.java
  systemtests/src/test/java/io/enmasse/systemtest/isolated/api/CustomResourceDefinitionAddressesTest.java
  systemtests/src/test/java/io/enmasse/systemtest/isolated/catalog/ServiceCatalogWebTest.java
  systemtests/src/test/java/io/enmasse/systemtest/isolated/certs/CertProviderTest.java
  systemtests/src/test/java/io/enmasse/systemtest/isolated/monitoring/MonitoringTest.java
  systemtests/src/test/java/io/enmasse/systemtest/isolated/upgrade/UpgradeTest.java
  systemtests/src/test/java/io/enmasse/systemtest/olm/OperatorLifecycleManagerTest.java
  systemtests/src/test/java/io/enmasse/systemtest/shared/brokered/api/UserApiTest.java
  systemtests/src/test/java/io/enmasse/systemtest/shared/standard/api/UserApiTest.java
Labels: component/systemtests

#3302 Docs: copyedits for Operations procedures
  documentation/assemblies/assembly-ops-procedures.adoc
  documentation/modules/proc-get-logs-broker.adoc
  documentation/modules/proc-get-logs-router.adoc
  documentation/modules/proc-restart-component.adoc
Labels: component/documentation, status/SME Review Needed

#3314 Hash plain text passwords in device registry
  iot/iot-device-registry-infinispan/src/main/java/io/enmasse/iot/registry/infinispan/config/DeviceServiceConfiguration.java
  iot/iot-device-registry-infinispan/src/main/java/io/enmasse/iot/registry/infinispan/config/DeviceServiceProperties.java
  iot/iot-device-registry-infinispan/src/main/java/io/enmasse/iot/registry/infinispan/device/impl/CredentialsManagementServiceImpl.java
  iot/iot-device-registry-infinispan/src/main/java/io/enmasse/iot/registry/infinispan/util/Credentials.java
  systemtests/src/main/java/io/enmasse/systemtest/iot/CredentialsRegistryClient.java
  systemtests/src/test/java/io/enmasse/systemtest/iot/isolated/registry/DeviceRegistryTest.java
  systemtests/src/test/java/io/enmasse/systemtest/iot/isolated/registry/FileDeviceRegistryTest.java
  systemtests/src/test/java/io/enmasse/systemtest/iot/isolated/registry/InfinispanDeviceRegistryTest.java
Labels: 0.30.0, iot

#3273 Update to Hono 1.0.0
  iot/iot-device-registry-infinispan/src/main/java/io/enmasse/iot/registry/infinispan/autowire/AutowiredTenantManagementAdapter.java
  iot/iot-device-registry-infinispan/src/main/java/io/enmasse/iot/registry/infinispan/config/MetricsConfiguration.java
  iot/iot-tenant-service/src/main/java/io/enmasse/iot/tenant/config/MetricsConfiguration.java
  iot/pom.xml
  pkg/controller/iotconfig/utils.go
Labels: iot

#3334 Stop adding service ports to network policy rule by default
  address-space-controller/src/main/java/io/enmasse/controller/AddressSpaceController.java
  address-space-controller/src/main/java/io/enmasse/controller/NetworkPolicyController.java
  address-space-controller/src/test/java/io/enmasse/controller/NetworkPolicyControllerTest.java
Labels: 0.30.0

#3323 Docs: adding doc for installing EnMasse using OLM method
  documentation/assemblies/assembly-configuring-olm.adoc
  documentation/assemblies/assembly-installing-configuring-olm.adoc
  documentation/assemblies/assembly-installing.adoc
  documentation/modules/proc-create-address-plan-custom-resource-olm-ui.adoc
  documentation/modules/proc-create-address-space-plan-custom-resource-olm-ui.adoc
  documentation/modules/proc-create-auth-service-custom-resource-olm-ui.adoc
  documentation/modules/proc-create-infraconfig-custom-resource-olm-ui.adoc
  documentation/modules/proc-installing-using-custom-operator-source.adoc
  documentation/modules/proc-olm-installing-from-operatorhub-using-console.adoc
Labels: 0.30.0, component/documentation, status/SME Review Needed

#3336 Docs: fix UI label reference to Global DLQ and improve explanation
  documentation/modules/ref-view-message-conn-stats-table.adoc
Labels: component/documentation, status/SME Review Needed

#3325 Docs issue 3324: Purging a queue using the console procedure
  documentation/assemblies/assembly-using-console.adoc
  documentation/modules/proc-purging-queues.adoc
Labels: 0.30.0, Peer Review Done, component/documentation, status/SME Review Needed

#3347 Docs: Operator installation method into specific namespace
  documentation/assemblies/assembly-configuring-olm.adoc
  documentation/modules/proc-create-address-plan-custom-resource-olm-ui.adoc
  documentation/modules/proc-create-address-space-plan-custom-resource-olm-ui.adoc
  documentation/modules/proc-create-auth-service-custom-resource-olm-ui.adoc
  documentation/modules/proc-create-infraconfig-custom-resource-olm-ui.adoc
  documentation/modules/proc-olm-installing-from-operatorhub-using-console.adoc
Labels: component/documentation, status/SME Review Needed

#3335 Docs: clarify address space connector and address forwarder conceptual information
  documentation/modules/ref-address-example-forwarders.adoc
  documentation/modules/ref-address-space-example-connectors.adoc
Labels: Peer Review Needed, component/documentation, status/SME Review Done

#3310 Fix unreliable WebConsoleTests
  systemtests/src/main/java/io/enmasse/systemtest/manager/SharedResourceManager.java
  systemtests/src/main/java/io/enmasse/systemtest/selenium/SeleniumProvider.java
  systemtests/src/main/java/io/enmasse/systemtest/selenium/page/ConsoleWebPage.java
Labels: component/systemtests

#3148 Global Console phase 2 - HLD - address/connections and statistics.
  documentation/design/proposals/global-console-phase-2.adoc
  documentation/design/proposals/images/GraphQLModel.png
  documentation/design/proposals/images/global-console-phase-2.png
Labels: console

#3399 Use SASL plain for the Serviceaccount authentication type
  documentation/modules/con-user-model.adoc
Labels: component/documentation

#3319 Resolve router deprecation warning logged during autolink creation
  agent/lib/router_config.js
  agent/test/ragent.js
  agent/test/router_stats.js
Labels: 0.31.0

#3405 Docs issue-3404: fix sizing guide formatting and link issues
  documentation/assemblies/assembly-configuration-sizing-guide.adoc
  documentation/modules/proc-run-calculation-script.adoc
  documentation/modules/ref-broker-component-sizing.adoc
  documentation/modules/ref-plan-sizing.adoc
  documentation/modules/ref-router-component-sizing.adoc
Labels: component/documentation, status/SME Review Needed

#3337 Network policy tests
  systemtests/src/main/java/io/enmasse/systemtest/clients/ClientUtils.java
  systemtests/src/main/java/io/enmasse/systemtest/manager/IsolatedResourcesManager.java
  systemtests/src/main/java/io/enmasse/systemtest/manager/ResourceManager.java
  systemtests/src/main/java/io/enmasse/systemtest/messagingclients/AbstractClient.java
  systemtests/src/main/java/io/enmasse/systemtest/messagingclients/ExternalClientsExtension.java
  systemtests/src/main/java/io/enmasse/systemtest/messagingclients/rhea/RheaClientReceiver.java
  systemtests/src/main/java/io/enmasse/systemtest/messagingclients/rhea/RheaClientSender.java
  systemtests/src/main/java/io/enmasse/systemtest/operator/OperatorManager.java
  systemtests/src/main/java/io/enmasse/systemtest/platform/Kubernetes.java
  systemtests/src/main/java/io/enmasse/systemtest/platform/apps/SystemtestsKubernetesApps.java
  systemtests/src/main/java/io/enmasse/systemtest/utils/TestUtils.java
  systemtests/src/test/java/io/enmasse/systemtest/isolated/policy/NetworkPolicyTestBrokered.java
  systemtests/src/test/java/io/enmasse/systemtest/isolated/policy/NetworkPolicyTestStandard.java
  systemtests/src/test/java/io/enmasse/systemtest/shared/standard/TopicTest.java
Labels: component/systemtests, kind/task
