Repository EnMasseProject/enmasse, pull requests merged in 2020-02, with the labels that each got.

#3803 Switch to Hono 1.0.3
  iot/pom.xml
Labels: component/iot

#3818 Fix #3764: validate the topic refenced by a subscription actually exists
  CHANGELOG.md
  standard-controller/src/main/java/io/enmasse/controller/standard/AddressController.java
  standard-controller/src/test/java/io/enmasse/controller/standard/AddressControllerTest.java
Labels: component/standard-address-space, kind/bug

#3833 Create a link in the console of OpenShift
  Makefile.env.mk
  olm-manifest/src/main/resources/latest/enmasse.clusterserviceversion.yaml
  pkg/controller/consoleservice/consoleservice_controller.go
  pom.properties
  templates/Makefile
  templates/enmasse-operator/020-ClusterRole-enmasse-operator.yaml
  templates/enmasse-operator/050-Deployment-enmasse-operator.yaml
Labels: component/enmasse-operator, lang/go

#3849 Add category for enmasse CRD
  api-model/src/main/java/io/enmasse/common/model/CustomResources.java
  templates/crds/addresses.crd.yaml
  templates/crds/addressplans.crd.yaml
  templates/crds/addressspaceplans.crd.yaml
  templates/crds/addressspaces.crd.yaml
  templates/crds/addressspaceschemas.crd.yaml
  templates/crds/authenticationservices.crd.yaml
  templates/crds/brokeredinfraconfigs.crd.yaml
  templates/crds/consoleservices.crd.yaml
  templates/crds/iotconfigs.crd.yaml
  templates/crds/iotprojects.crd.yaml
  templates/crds/messagingusers.crd.yaml
  templates/crds/standardinfraconfigs.crd.yaml
Labels: kind/enhancement

#3825 Remove SYSTEMTEST prefix from make env vars
  .github/scripts/build.sh
  .github/scripts/collectLogs.sh
  .github/scripts/olm_test.sh
  .github/scripts/smoke_test.sh
  HACKING.md
  TESTING.md
  systemtests/Makefile
  systemtests/scripts/run_tests.sh
Labels: component/systemtests

#3858 Add broker jvmopts
  address-space-controller/src/main/java/io/enmasse/controller/TemplateInfraResourceFactory.java
  address-space-controller/src/main/java/io/enmasse/controller/common/TemplateParameter.java
  address-space-controller/src/main/resources/templates/brokered-space-infra.yaml
  api-model/src/main/java/io/enmasse/admin/model/v1/BrokeredInfraConfigSpecBroker.java
  api-model/src/main/java/io/enmasse/admin/model/v1/StandardInfraConfigSpecBroker.java
  standard-controller/src/main/java/io/enmasse/controller/standard/TemplateBrokerSetGenerator.java
  standard-controller/src/main/java/io/enmasse/controller/standard/TemplateParameter.java
  standard-controller/src/main/resources/templates/queue-persisted.yaml
  standard-controller/src/main/resources/templates/topic-persisted.yaml
  systemtests/src/test/java/io/enmasse/systemtest/bases/infra/InfraTestBase.java
  systemtests/src/test/java/io/enmasse/systemtest/isolated/infra/brokered/InfraTestBrokered.java
  systemtests/src/test/java/io/enmasse/systemtest/isolated/infra/standard/InfraTestStandard.java
  templates/crds/brokeredinfraconfigs.crd.yaml
  templates/crds/standardinfraconfigs.crd.yaml
Labels: Do Not Merge

#3863 Add log messages for tenent cleaner job
  pkg/controller/iotproject/finalizers.go
Labels: component/iot, lang/go

#3882 Ensure that logged user name appears next to avatar in the UI
  cmd/console-server/main.go
  console/console-init/ui/mock-console-server/mock-console-server.js
  pkg/consolegraphql/resolvers/resolver_user.go
  pkg/controller/consoleservice/consoleservice_controller.go
  pkg/controller/consoleservice/domain.go
  pkg/util/openshift.go
Labels: component/console-backend

#3884 console mock: fix regression in createAddress
  console/console-init/ui/mock-console-server/mock-console-server.js
Labels: component/console-backend

#3899 Add console-server readiness/liveness probe
  cmd/console-server/main.go
  console/console-server/src/assembly/unix-dist.xml
  console/console-server/src/main/resources/probe.sh
  pkg/controller/consoleservice/consoleservice_controller.go
Labels: component/console-backend

#3902 Fix: close the dialogue after address delete/patch
  console/console-init/ui/src/pages/AddressSpaceDetail/AddressList/AddressListPage.tsx
  console/console-init/ui/src/queries/index.ts
Labels: component/console-ui

#3905 Remove the redundant address space specific oauth client redirect processing
  pkg/controller/consoleservice/consoleservice_controller.go
Labels: component/console-backend

#3900 Expose various console server configuration parameters for configuration
  cmd/console-server/main.go
  pkg/apis/admin/v1beta1/types.go
  pkg/apis/admin/v1beta1/zz_generated.deepcopy.go
  pkg/consolegraphql/metric/metric_calculator.go
  pkg/consolegraphql/metric/metric_calculator_test.go
  pkg/consolegraphql/metric/metric_updater.go
  pkg/consolegraphql/metric/metric_updater_test.go
  pkg/consolegraphql/non_kubernetes_types.go
  pkg/controller/consoleservice/consoleservice_controller.go
  pkg/util/install/utils.go
  templates/crds/consoleservices.crd.yaml
Labels: component/console-backend

#3901 Add query time / query error prometheus metrics for the console server itself
  cmd/console-server/main.go
  cmd/controller-manager/main.go
  controller-manager/src/main/resources/templates/ServiceMonitor-console.yaml
  pkg/controller/consoleservice/consoleservice_controller.go
  pkg/util/templatehelper.go
Labels: component/console-backend

#3918 In broker address space, include session id in the formation of the consumer uuid
  agent/lib/broker_controller.js
  agent/lib/router_stats.js
Labels: component/agent, component/console-backend

#3925 Log reason for watch restart / improve handling of watch channel read failure
  hack/generate_resource_watchers.go
  pkg/consolegraphql/watchers/resource_watcher_address.go
  pkg/consolegraphql/watchers/resource_watcher_addressplan.go
  pkg/consolegraphql/watchers/resource_watcher_addressspace.go
  pkg/consolegraphql/watchers/resource_watcher_addressspaceplan.go
  pkg/consolegraphql/watchers/resource_watcher_addressspaceschema.go
  pkg/consolegraphql/watchers/resource_watcher_agent.go
  pkg/consolegraphql/watchers/resource_watcher_authenticationservice.go
  pkg/consolegraphql/watchers/resource_watcher_namespace.go
Labels: component/console-backend

#3904 Snippet tests
  systemtests/src/main/java/io/enmasse/systemtest/selenium/page/ConsoleWebPage.java
  systemtests/src/main/java/io/enmasse/systemtest/utils/AddressUtils.java
  systemtests/src/test/java/io/enmasse/systemtest/bases/web/ConsoleTest.java
  systemtests/src/test/java/io/enmasse/systemtest/isolated/web/ChromeConsoleTest.java
  systemtests/src/test/java/io/enmasse/systemtest/isolated/web/FirefoxConsoleTest.java
Labels: component/systemtests

#3923 Address.spec.address name validation
  CHANGELOG.md
  console/console-init/ui/src/pages/CreateAddress/CreateAddressDefinition.tsx
  console/console-init/ui/src/pages/CreateAddress/CreateAddressPage.tsx
  console/console-init/ui/src/pages/CreateAddress/PreviewAddress.tsx
  console/console-init/ui/src/pages/CreateAddressSpace/CreateAddressSpaceConfiguration.tsx
  console/console-init/ui/src/queries/Address.ts
  console/console-init/ui/src/types/Configs.tsx
  templates/crds/addresses.crd.yaml
Labels: component/console-backend

#3928 Bug fix - prevent address space and address watchers spinning on resource update
  cmd/console-server/main.go
  hack/generate_resource_watchers.go
  pkg/consolegraphql/cache/cache.go
  pkg/consolegraphql/watchers/resource_watcher.go
  pkg/consolegraphql/watchers/resource_watcher_address.go
  pkg/consolegraphql/watchers/resource_watcher_address_test.go
  pkg/consolegraphql/watchers/resource_watcher_addressplan.go
  pkg/consolegraphql/watchers/resource_watcher_addressspace.go
  pkg/consolegraphql/watchers/resource_watcher_addressspaceplan.go
  pkg/consolegraphql/watchers/resource_watcher_addressspaceschema.go
  pkg/consolegraphql/watchers/resource_watcher_agent.go
  pkg/consolegraphql/watchers/resource_watcher_authenticationservice.go
  pkg/consolegraphql/watchers/resource_watcher_namespace.go
  pkg/consolegraphql/watchers/resource_watcher_namespace_test.go
Labels: component/console-backend

#3935 bug fix: unconditionally free watcher resources
  hack/generate_resource_watchers.go
  pkg/consolegraphql/watchers/resource_watcher_address.go
  pkg/consolegraphql/watchers/resource_watcher_addressplan.go
  pkg/consolegraphql/watchers/resource_watcher_addressspace.go
  pkg/consolegraphql/watchers/resource_watcher_addressspaceplan.go
  pkg/consolegraphql/watchers/resource_watcher_addressspaceschema.go
  pkg/consolegraphql/watchers/resource_watcher_agent.go
  pkg/consolegraphql/watchers/resource_watcher_authenticationservice.go
  pkg/consolegraphql/watchers/resource_watcher_namespace.go
Labels: component/console-backend

#3910 If the filter is passed to query, use it to construct the longest hierarchy key
  cmd/console-server/main.go
  console/console-init/ui/src/queries/Address.ts
  console/console-init/ui/src/queries/AddressSpace.ts
  pkg/consolegraphql/cache/console_cache.go
  pkg/consolegraphql/filter/lex.go
  pkg/consolegraphql/filter/lex.rl
  pkg/consolegraphql/filter/parser.go
  pkg/consolegraphql/filter/parser.y
  pkg/consolegraphql/filter/support.go
  pkg/consolegraphql/metric/metric_updater_test.go
  pkg/consolegraphql/resolvers/resolver.go
  pkg/consolegraphql/resolvers/resolver_address.go
  pkg/consolegraphql/resolvers/resolver_addressspace.go
  pkg/consolegraphql/resolvers/resolver_connection.go
  pkg/consolegraphql/resolvers/resolver_test.go
  pkg/consolegraphql/watchers/resource_watcher_agent.go
Labels: component/console-backend

#3944 Add address-space-controller to the list of container ids considered internal
  agent/lib/router_stats.js
Labels: component/address-space-controller

#3943 Pass timeoutSeconds param when creating resource watcher
  cmd/console-server/main.go
  hack/generate_resource_watchers.go
  pkg/consolegraphql/watchers/resource_watcher_address.go
  pkg/consolegraphql/watchers/resource_watcher_address_test.go
  pkg/consolegraphql/watchers/resource_watcher_addressplan.go
  pkg/consolegraphql/watchers/resource_watcher_addressspace.go
  pkg/consolegraphql/watchers/resource_watcher_addressspaceplan.go
  pkg/consolegraphql/watchers/resource_watcher_addressspaceschema.go
  pkg/consolegraphql/watchers/resource_watcher_agent.go
  pkg/consolegraphql/watchers/resource_watcher_agent_test.go
  pkg/consolegraphql/watchers/resource_watcher_authenticationservice.go
  pkg/consolegraphql/watchers/resource_watcher_namespace.go
  pkg/consolegraphql/watchers/resource_watcher_namespace_test.go
Labels: component/console-backend

#3947 Address link console tests
  systemtests/src/main/java/io/enmasse/systemtest/selenium/page/ConsoleWebPage.java
  systemtests/src/main/java/io/enmasse/systemtest/selenium/resources/ClientWebItem.java
  systemtests/src/test/java/io/enmasse/systemtest/bases/web/ConsoleTest.java
  systemtests/src/test/java/io/enmasse/systemtest/shared/brokered/web/ChromeConsoleTest.java
  systemtests/src/test/java/io/enmasse/systemtest/shared/brokered/web/FirefoxConsoleTest.java
  systemtests/src/test/java/io/enmasse/systemtest/shared/standard/web/ChromeConsoleTest.java
  systemtests/src/test/java/io/enmasse/systemtest/shared/standard/web/FirefoxConsoleTest.java
Labels: component/systemtests

#3957 [Unit tests] make proper use of Go table driven tests
  pkg/consolegraphql/filter/filter_test.go
  pkg/consolegraphql/filter/lex_test.go
Labels: component/console-backend

#3965 Ensure that GVK is set all objects in the cache.
  hack/generate_resource_watchers.go
  pkg/consolegraphql/watchers/resource_watcher_address.go
  pkg/consolegraphql/watchers/resource_watcher_address_test.go
  pkg/consolegraphql/watchers/resource_watcher_addressplan.go
  pkg/consolegraphql/watchers/resource_watcher_addressspace.go
  pkg/consolegraphql/watchers/resource_watcher_addressspaceplan.go
  pkg/consolegraphql/watchers/resource_watcher_addressspaceschema.go
  pkg/consolegraphql/watchers/resource_watcher_authenticationservice.go
  pkg/consolegraphql/watchers/resource_watcher_namespace.go
  pkg/consolegraphql/watchers/resource_watcher_namespace_test.go
Labels: component/console-backend

#3964 Console test non cluster admin
  systemtests/src/test/java/io/enmasse/systemtest/bases/web/ConsoleTest.java
  systemtests/src/test/java/io/enmasse/systemtest/isolated/web/ChromeConsoleTest.java
  systemtests/src/test/java/io/enmasse/systemtest/isolated/web/FirefoxConsoleTest.java
Labels: component/systemtests

#3968 Remove spurious creationTimestamp from address space command preview
  pkg/consolegraphql/resolvers/resolver_addressspace_test.go
  pkg/consolegraphql/resolvers/utils.go
Labels: component/console-backend

#3985 Docs: add parent context to assemblies to fix build errors
  documentation/assemblies/assembly-metrics-rules.adoc
  documentation/assemblies/assembly-monitoring.adoc
Labels: component/documentation

#3996 Bump yarn dependencies (on a few transitive dependencies).
  console/console-init/ui/package.json
  console/console-init/ui/yarn.lock
Labels: component/console-ui

#4000 Chore: show visual feedback upon sccessful copy to clipboard
  console/console-init/ui/src/pages/CreateAddress/PreviewAddress.tsx
  console/console-init/ui/src/pages/CreateAddressSpace/ReviewAddressSpace.tsx
Labels: component/console-ui

#3988 Server error handling
  console/console-init/ui/src/App.tsx
  console/console-init/ui/src/AppLayout.tsx
  console/console-init/ui/src/components/ConnectionDetail/ConnectionDetailHeader.tsx
  console/console-init/ui/src/components/NavToolBar/User.tsx
  console/console-init/ui/src/components/common/About.tsx
  console/console-init/ui/src/components/common/AddressSpaceListFormatter.tsx
  console/console-init/ui/src/components/common/ConnectionListFormatter.tsx
  console/console-init/ui/src/components/common/ErrorAlert.tsx
  console/console-init/ui/src/components/common/ErrorBoundary.jsx
  console/console-init/ui/src/components/common/NetworkStatusAlert.tsx
  console/console-init/ui/src/components/common/NoDataFound.tsx
  console/console-init/ui/src/components/common/NotFound.tsx
  console/console-init/ui/src/components/common/ServerMessageAlert.tsx
  console/console-init/ui/src/components/common/index.ts
  console/console-init/ui/src/constants/constants.ts
  console/console-init/ui/src/context-state-reducer/actions.ts
  console/console-init/ui/src/context-state-reducer/context.ts
  console/console-init/ui/src/context-state-reducer/index.ts
  console/console-init/ui/src/context-state-reducer/initialState.ts
  console/console-init/ui/src/context-state-reducer/reducer.ts
  console/console-init/ui/src/graphql-module/error-helper.ts
  console/console-init/ui/src/graphql-module/index.ts
  console/console-init/ui/src/hooks/index.ts
  console/console-init/ui/src/hooks/useMutationQuery.ts
  console/console-init/ui/src/hooks/useQuery.ts
  console/console-init/ui/src/pages/AddressDetail/AddressDetailPage.tsx
  console/console-init/ui/src/pages/AddressSpaceDetail/AddressList/AddressListPage.tsx
  console/console-init/ui/src/pages/AddressSpaceDetail/AddressList/AddressesListWithFilterAndPaginationPage.tsx
  console/console-init/ui/src/pages/AddressSpaceDetail/AddressSpaceDetailPage.tsx
  console/console-init/ui/src/pages/AddressSpaceList/AddressSpaceListPage.tsx
  console/console-init/ui/src/pages/AddressSpaceList/AddressSpaceListWithFilterAndPaginationPage.tsx
  console/console-init/ui/src/pages/ConnectionDetail/ConnectionDetailPage.tsx
  console/console-init/ui/src/pages/CreateAddress/CreateAddressPage.tsx
  console/console-init/ui/src/pages/CreateAddressSpace/CreateAddressSpacePage.tsx
  console/console-init/ui/src/queries/Address.ts
Labels: component/console-ui

#4006 Docs: fix missing single quote on module ID
  documentation/assemblies/assembly-metrics-rules.adoc
Labels: component/documentation

#4007 Add missing promise catch in broker stats retrieval
  agent/lib/broker_stats.js
Labels: component/agent, kind/bug

#4008 Docs: fix missing closing single quote on assembly IDs
  documentation/assemblies/assembly-iot-device-developer-guide.adoc
  documentation/assemblies/assembly-iot-device-manager-guide.adoc
  documentation/assemblies/assembly-iot-getting-started.adoc
  documentation/assemblies/assembly-iot-guide.adoc
  documentation/assemblies/assembly-iot-project-owner-guide.adoc
  documentation/assemblies/assembly-iot-service-admin-guide.adoc
  documentation/assemblies/assembly-iot-solution-developers-guide.adoc
  documentation/assemblies/assembly-iot-tenant-guide.adoc
  documentation/assemblies/assembly-rules.adoc
  documentation/assemblies/assembly-service-admin-guide.adoc
Labels: component/documentation

#4010 Docs: fix attribute name
  documentation/modules/proc-upgrading-enmasse-using-ansible.adoc
  documentation/modules/proc-upgrading-enmasse-using-bundle.adoc
Labels: component/documentation

#3983 quiesce the console-server if there are no logged on users
  cmd/console-server/main.go
  console/console-server/src/main/resources/probe.sh
  pkg/consolegraphql/server/handler.go
  pkg/consolegraphql/server/request_context.go
  pkg/consolegraphql/server/session.go
  pkg/consolegraphql/server/session/listener.go
  pkg/consolegraphql/server/session/memstore.go
  pkg/consolegraphql/server/utils.go
  pkg/consolegraphql/server/utils_test.go
  pkg/consolegraphql/watchers/manager.go
Labels: component/console-backend

#4011 fix-issue delete space modal doesn't pop down
  console/console-init/ui/src/pages/AddressSpaceDetail/AddressSpaceDetailPage.tsx
Labels: component/console-ui

#4019 fix ExternalMessagingClient cmd line for ServiceCatalogWebTest#testSendReceiveInsideCluster
  systemtests/src/test/java/io/enmasse/systemtest/isolated/catalog/ServiceCatalogWebTest.java
Labels: component/systemtests

#4020 Fix ServiceCatalogWebTest#testConsoleErrorOnDeleteAddressSpace
  console/console-init/ui/src/components/common/NoDataFound.tsx
  systemtests/src/test/java/io/enmasse/systemtest/isolated/catalog/ServiceCatalogWebTest.java
Labels: component/systemtests

#4016 improve logging from selenium remote driver test
  systemtests/src/main/java/io/enmasse/systemtest/utils/TestUtils.java
Labels: component/systemtests

#4021 Fix FirefoxConsoleTest#testFilterAddressSpace
  console/console-init/ui/src/components/AddressSpaceList/EmptyAddressSpace.tsx
  console/console-init/ui/src/components/common/EmptyLinks.tsx
  systemtests/src/test/java/io/enmasse/systemtest/bases/web/ConsoleTest.java
Labels: component/console-ui, component/systemtests

#4018 Blank link page test
  systemtests/src/main/java/io/enmasse/systemtest/selenium/page/ConsoleWebPage.java
  systemtests/src/main/java/io/enmasse/systemtest/selenium/resources/ConnectionWebItem.java
  systemtests/src/test/java/io/enmasse/systemtest/bases/web/ConsoleTest.java
  systemtests/src/test/java/io/enmasse/systemtest/shared/standard/web/ChromeConsoleTest.java
  systemtests/src/test/java/io/enmasse/systemtest/shared/standard/web/FirefoxConsoleTest.java
Labels: component/systemtests
