Repository EnMasseProject/enmasse, pull requests merged in 2020-03, with the labels that each got.

#4030 console backend - expose connection prinicpal at graphql layer
  console/console-init/ui/mock-console-server/mock-console-server.js
  console/console-init/ui/mock-console-server/schema.js
  console/console-server/src/main/resources/schema.graphql
  pkg/consolegraphql/non_kubernetes_types.go
  pkg/consolegraphql/resolvers/generated.go
  pkg/consolegraphql/resolvers/resolver_connection.go
  pkg/consolegraphql/watchers/resource_watcher_agent.go
Labels: component/console-backend

#4033 Fix improperly applied resyncinterval
  pkg/consolegraphql/watchers/resource_watcher_agent.go
Labels: component/console-backend

#4023 Docs issue-4022: fix OperatorNamespace variable
  documentation/modules/proc-uninstalling-using-olm.adoc
Labels: component/documentation

#4034 console server - log using UTC time-stamps to millisecond precision
  cmd/console-server/main.go
Labels: component/console-backend

#4042 Docs issue 4041: minor edits to Installing instructions
  documentation/assemblies/assembly-managing-addresses.adoc
  documentation/modules/proc-uninstalling-using-olm-console.adoc
  documentation/modules/proc-uninstalling-using-olm.adoc
  documentation/modules/ref-address-example-topic-and-sub.adoc
Labels: component/documentation

#4047 Strengthen the code used to abort pending QDR requests
  agent/lib/qdr.js
Labels: component/agent

#4045 Test blank page after object deletion [console]
  systemtests/src/main/java/io/enmasse/systemtest/manager/ResourceManager.java
  systemtests/src/main/java/io/enmasse/systemtest/operator/OperatorManager.java
  systemtests/src/main/java/io/enmasse/systemtest/selenium/page/ConsoleWebPage.java
  systemtests/src/main/java/io/enmasse/systemtest/utils/AddressSpaceUtils.java
  systemtests/src/main/java/io/enmasse/systemtest/utils/TestUtils.java
  systemtests/src/test/java/io/enmasse/systemtest/bases/bridging/BridgingBase.java
  systemtests/src/test/java/io/enmasse/systemtest/bases/infra/InfraTestBase.java
  systemtests/src/test/java/io/enmasse/systemtest/bases/olm/OLMTestBase.java
  systemtests/src/test/java/io/enmasse/systemtest/bases/web/ConsoleTest.java
  systemtests/src/test/java/io/enmasse/systemtest/bases/web/WebSocketBrowserTest.java
  systemtests/src/test/java/io/enmasse/systemtest/condition/SupportedInstallTypesConditionTest.java
  systemtests/src/test/java/io/enmasse/systemtest/iot/isolated/IoTProjectManagedTest.java
  systemtests/src/test/java/io/enmasse/systemtest/iot/isolated/project/ManagedTest.java
  systemtests/src/test/java/io/enmasse/systemtest/iot/isolated/registry/DeviceRegistryTest.java
  systemtests/src/test/java/io/enmasse/systemtest/iot/isolated/registry/InfinispanDeviceRegistryTest.java
  systemtests/src/test/java/io/enmasse/systemtest/isolated/CommonTest.java
  systemtests/src/test/java/io/enmasse/systemtest/isolated/api/ApiServerTest.java
  systemtests/src/test/java/io/enmasse/systemtest/isolated/api/AuthServiceTest.java
  systemtests/src/test/java/io/enmasse/systemtest/isolated/api/CustomResourceDefinitionAddressSpacesTest.java
  systemtests/src/test/java/io/enmasse/systemtest/isolated/bridging/ForwardersTest.java
  systemtests/src/test/java/io/enmasse/systemtest/isolated/certs/CertProviderTest.java
  systemtests/src/test/java/io/enmasse/systemtest/isolated/infra/standard/InfraTestStandard.java
  systemtests/src/test/java/io/enmasse/systemtest/isolated/plans/standard/PlansTestStandard.java
  systemtests/src/test/java/io/enmasse/systemtest/isolated/upgrade/UpgradeTest.java
  systemtests/src/test/java/io/enmasse/systemtest/isolated/web/ChromeConsoleTest.java
  systemtests/src/test/java/io/enmasse/systemtest/isolated/web/FirefoxConsoleTest.java
  systemtests/src/test/java/io/enmasse/systemtest/olm/OLMDefaultTest.java
  systemtests/src/test/java/io/enmasse/systemtest/olm/OLMSpecificTest.java
  systemtests/src/test/java/io/enmasse/systemtest/resources/CliOutputDataTest.java
  systemtests/src/test/java/io/enmasse/systemtest/shared/brokered/api/UserApiTest.java
  systemtests/src/test/java/io/enmasse/systemtest/shared/brokered/web/ChromeConsoleTest.java
  systemtests/src/test/java/io/enmasse/systemtest/shared/brokered/web/FirefoxConsoleTest.java
  systemtests/src/test/java/io/enmasse/systemtest/shared/standard/api/UserApiTest.java
  systemtests/src/test/java/io/enmasse/systemtest/shared/standard/mqtt/ConnectionTest.java
  systemtests/src/test/java/io/enmasse/systemtest/shared/standard/mqtt/InteroperabilityTest.java
  systemtests/src/test/java/io/enmasse/systemtest/shared/standard/mqtt/PublishTest.java
  systemtests/src/test/java/io/enmasse/systemtest/shared/standard/mqtt/SessionTest.java
  systemtests/src/test/java/io/enmasse/systemtest/shared/standard/web/ChromeConsoleTest.java
  systemtests/src/test/java/io/enmasse/systemtest/shared/standard/web/FirefoxConsoleTest.java
  systemtests/src/test/java/io/enmasse/systemtest/soak/BrokeredSoakTest.java
  systemtests/src/test/java/io/enmasse/systemtest/soak/RestartTest.java
  systemtests/src/test/java/io/enmasse/systemtest/soak/StandardSoakTest.java
Labels: component/systemtests

#3922 Allow to enable tracing for IoT
  iot/iot-auth-service/pom.xml
  iot/iot-device-registry-file/pom.xml
  iot/iot-device-registry-infinispan/pom.xml
  iot/iot-device-registry-jdbc/pom.xml
  iot/iot-http-adapter/pom.xml
  iot/iot-lorawan-adapter/pom.xml
  iot/iot-mqtt-adapter/pom.xml
  iot/iot-sigfox-adapter/pom.xml
  iot/iot-tenant-service/pom.xml
  iot/iot-tenant-service/src/main/java/io/enmasse/iot/tenant/config/TracerConfiguration.java
  iot/iot-tenant-service/src/main/java/io/enmasse/iot/tenant/impl/TenantServiceImpl.java
  iot/pom.xml
  pkg/apis/iot/v1alpha1/types_config.go
  pkg/apis/iot/v1alpha1/zz_generated.deepcopy.go
  pkg/controller/iotconfig/adapter.go
  pkg/controller/iotconfig/auth_service.go
  pkg/controller/iotconfig/file_device_registry.go
  pkg/controller/iotconfig/http_adapter.go
  pkg/controller/iotconfig/infinispan_device_registry.go
  pkg/controller/iotconfig/lorawan_adapter.go
  pkg/controller/iotconfig/mqtt_adapter.go
  pkg/controller/iotconfig/sigfox_adapter.go
  pkg/controller/iotconfig/tenant_service.go
  pkg/controller/iotconfig/utils.go
  pom.xml
Labels: component/iot, lang/go, lang/java

#4071 Correct filter used to support type ahead address search
  console/console-init/ui/mock-console-server/README.md
  console/console-init/ui/mock-console-server/test/graphql.js
  console/console-init/ui/src/pages/CreateAddress/CreateAddressPage.tsx
  console/console-init/ui/src/queries/Address.ts
Labels: component/console-ui

#4072 Console Server - fallback to authorization header if X-Forwarded-Access-Token is not populated
  cmd/console-server/main.go
  pkg/consolegraphql/server/handler.go
  pkg/consolegraphql/server/handler_test.go
Labels: component/console-backend

#4078 Increase the AMQP idle timeout
  agent/bin/agent.js
  agent/lib/qdr.js
  agent/lib/ragent.js
Labels: component/agent

#4100 Await all pods of the original install to be ready before commencing upgrade
  systemtests/src/main/java/io/enmasse/systemtest/platform/Kubernetes.java
  systemtests/src/test/java/io/enmasse/systemtest/isolated/CommonTest.java
  systemtests/src/test/java/io/enmasse/systemtest/isolated/upgrade/UpgradeTest.java
Labels: component/systemtests

#4123 Fix console access cmd formatting and add the two address/connection screenshots
  documentation/modules/proc-logging-in-console.adoc
  documentation/modules/ref-view-message-conn-stats-table.adoc
Labels: component/documentation

#4128 Allow more time for the external broker to start in ForwardersTest
  systemtests/src/main/java/io/enmasse/systemtest/platform/apps/SystemtestsKubernetesApps.java
Labels: component/systemtests

#4127 Fix firefox console test test purge address
  systemtests/src/test/java/io/enmasse/systemtest/bases/web/ConsoleTest.java
Labels: component/systemtests

#4114 Scale test operable addresses
  systemtests/src/main/java/io/enmasse/systemtest/manager/ResourceManager.java
  systemtests/src/main/java/io/enmasse/systemtest/platform/apps/SystemtestsKubernetesApps.java
  systemtests/src/main/java/io/enmasse/systemtest/scale/ScalePerformanceTestManager.java
  systemtests/src/main/java/io/enmasse/systemtest/scale/ScaleTestClientConfiguration.java
  systemtests/src/main/java/io/enmasse/systemtest/scale/ScaleTestClientType.java
  systemtests/src/main/java/io/enmasse/systemtest/scale/metrics/MessagingClientMetricsClient.java
  systemtests/src/main/java/io/enmasse/systemtest/utils/AuthServiceUtils.java
  systemtests/src/test/java/io/enmasse/systemtest/scale/ScaleTest.java
Labels: component/systemtests

#4144 Docs issue 4143: minor edits to the subscription address type description
  documentation/modules/con-standard-subscription.adoc
Labels: component/documentation, status/SME Review Needed

#4151 Scale result csv
  systemtests/src/main/java/io/enmasse/systemtest/time/TimeMeasuringSystem.java
  systemtests/src/test/java/io/enmasse/systemtest/scale/ScaleTest.java
Labels: component/systemtests

#4161 Enable vertx native also for vanilla hono components
  pkg/controller/iotconfig/auth_service.go
  pkg/controller/iotconfig/http_adapter.go
  pkg/controller/iotconfig/lorawan_adapter.go
  pkg/controller/iotconfig/mqtt_adapter.go
  pkg/controller/iotconfig/sigfox_adapter.go
Labels: component/iot

#4159 Docs issue-4158: add SingleBookLink
  documentation/assemblies/assembly-planning.adoc
  documentation/modules/con-address-space.adoc
Labels: component/documentation, status/SME Review Needed

#4157 Test verifying Agent's behaviour when connection to the Kubernetes API server is lost
  systemtests/src/main/java/io/enmasse/systemtest/platform/KubeCMDClient.java
  systemtests/src/main/java/io/enmasse/systemtest/platform/apps/SystemtestsKubernetesApps.java
  systemtests/src/test/java/io/enmasse/systemtest/isolated/CommonTest.java
Labels: component/systemtests

#4180 Prevent address with invalid plan from blocking standard controller reconcile loop
  standard-controller/src/main/java/io/enmasse/controller/standard/AddressController.java
Labels: component/standard-controller

#4171 Unknown address plan test
  systemtests/src/test/java/io/enmasse/systemtest/isolated/plans/standard/PlansTestStandard.java
Labels: component/standard-address-space, component/systemtests

#4185 Update collect_logs.sh for kubernetes (kubectl) compatibility
  systemtests/scripts/collect_logs.sh
Labels: component/systemtests

#4186 Add --url=true to the minikube service cmd line to ensure compatibility
  systemtests/src/main/java/io/enmasse/systemtest/platform/Minikube.java
Labels: component/systemtests

#4217 Reference api-proxy image by tag
  systemtests/src/main/java/io/enmasse/systemtest/platform/apps/SystemtestsKubernetesApps.java
Labels: component/systemtests

#4218 Avoid the need to run api-proxy as root
  systemtests/src/main/java/io/enmasse/systemtest/platform/apps/SystemtestsKubernetesApps.java
  systemtests/src/test/java/io/enmasse/systemtest/isolated/CommonTest.java
Labels: Do Not Merge, component/systemtests

#4209 Restrict YAML parser to not create Java objects
  iot/iot-jdbc-base/pom.xml
  iot/iot-jdbc-base/src/main/java/io/enmasse/iot/jdbc/store/StatementConfiguration.java
  iot/iot-jdbc-base/src/test/java/io/enmasse/iot/jdbc/store/StatementTest.java
Labels: component/iot, lang/java
