Repository EnMasseProject/enmasse, pull requests merged in 2020-04, with the labels that each got.

#4082 Switch to java base image 11-5
  address-space-controller/Dockerfile
  broker-plugin/Dockerfile
  iot/iot-auth-service/Dockerfile
  iot/iot-device-registry-file/Dockerfile
  iot/iot-device-registry-infinispan/Dockerfile
  iot/iot-http-adapter/Dockerfile
  iot/iot-lorawan-adapter/Dockerfile
  iot/iot-mqtt-adapter/Dockerfile
  iot/iot-sigfox-adapter/Dockerfile
  iot/iot-tenant-service/Dockerfile
  keycloak-plugin/Dockerfile
  mqtt-gateway/Dockerfile
  mqtt-lwt/Dockerfile
  none-authservice/Dockerfile
  service-broker/Dockerfile
  standard-controller/Dockerfile
  topic-forwarder/Dockerfile
Labels: Do Not Merge, lang/java

#4205 Docs:changed attribute to field
  documentation/modules/con-standard-subscription.adoc
Labels: Peer Review Done, component/documentation

#4233 Fix YAML parsing
  iot/iot-jdbc-base/src/main/java/io/enmasse/iot/jdbc/store/StatementConfiguration.java
  iot/iot-jdbc-base/src/test/java/io/enmasse/iot/jdbc/store/StatementTest.java
Labels: component/iot

#4225 Fix brokered - testAddressSpaceKubernetesApiServerRestart
  systemtests/src/test/java/io/enmasse/systemtest/isolated/CommonTest.java
Labels: component/systemtests

#4204 Try reducing the number of changes when reconciling
  pkg/controller/iotconfig/iotconfig_controller.go
  pkg/controller/iotproject/iotproject_controller.go
  pkg/controller/iotproject/managed.go
  pkg/controller/messaginguser/messaginguser_controller.go
  pkg/controller/messaginguser/messaginguser_controller_test.go
  pkg/util/errors.go
  pkg/util/errors_test.go
  pkg/util/finalizer/finalizer.go
  pkg/util/loghandler/handler.go
  pkg/util/recon/reconcile.go
  pkg/util/recon/reconcile_test.go
Labels: component/enmasse-operator, lang/go

#4169 Test max payload settings
  systemtests/src/main/java/io/enmasse/systemtest/iot/CredentialsRegistryClient.java
  systemtests/src/main/java/io/enmasse/systemtest/iot/DefaultDeviceRegistry.java
  systemtests/src/main/java/io/enmasse/systemtest/iot/HttpAdapterClient.java
  systemtests/src/main/java/io/enmasse/systemtest/iot/IoTTestSession.java
  systemtests/src/main/java/io/enmasse/systemtest/iot/MessageSendTester.java
  systemtests/src/main/java/io/enmasse/systemtest/iot/MqttAdapterClient.java
  systemtests/src/main/java/io/enmasse/systemtest/logs/GlobalLogCollector.java
  systemtests/src/main/java/io/enmasse/systemtest/mqtt/MqttClientFactory.java
  systemtests/src/main/java/io/enmasse/systemtest/utils/IoTUtils.java
  systemtests/src/main/java/io/enmasse/systemtest/utils/TestUtils.java
  systemtests/src/test/java/io/enmasse/systemtest/iot/IoTTestSessionTest.java
  systemtests/src/test/java/io/enmasse/systemtest/iot/MessageSendTesterTest.java
  systemtests/src/test/java/io/enmasse/systemtest/iot/isolated/AbstractMaxPayloadSizeTest.java
  systemtests/src/test/java/io/enmasse/systemtest/iot/isolated/http/MaxPayloadSizeTest.java
  systemtests/src/test/java/io/enmasse/systemtest/iot/isolated/mqtt/MaxPayloadSizeTest.java
  systemtests/src/test/java/io/enmasse/systemtest/iot/shared/control/CommandAndControlTest.java
  systemtests/src/test/java/io/enmasse/systemtest/iot/shared/http/HttpAdapterTest.java
  systemtests/src/test/java/io/enmasse/systemtest/iot/shared/mqtt/MqttAdapterTest.java
Labels: component/iot, component/systemtests

#4260 Fix overlapping source directories
  api-model/pom.xml
Labels: lang/java

#4261 Don't require running kubernetes for framework test
  systemtests/src/main/java/io/enmasse/systemtest/iot/IoTTestSession.java
  systemtests/src/test/java/io/enmasse/systemtest/iot/IoTTestSessionTest.java
Labels: lang/java

#4247 Delegate authentication work to thread pool, improve exception handling
  CHANGELOG.md
  keycloak-plugin/sasl-plugin/src/main/java/io/enmasse/keycloak/spi/AmqpServerProviderImpl.java
  keycloak-plugin/sasl-plugin/src/main/java/io/enmasse/keycloak/spi/SaslAuthenticator.java
  keycloak-plugin/src/main/configuration/standalone-h2.xml
  keycloak-plugin/src/main/configuration/standalone-postgresql.xml
  none-authservice/src/main/java/io/enmasse/authservice/none/NoneAuthService.java
Labels: component/auth

#4284 Prevents react warnings being promoted to errors failing the build on CI
  console/console-init/pom.xml
Labels: Do Not Merge

#4277 Fix - Creating an address fails with message "address space plan '' not found"
  console/console-init/ui/src/pages/AddressSpaceDetail/AddressList/AddressListFilterPage.tsx
  console/console-init/ui/src/pages/CreateAddress/CreateAddressDefinition.tsx
  console/console-init/ui/src/pages/CreateAddress/CreateAddressPage.tsx
  console/console-init/ui/src/queries/Address.ts
Labels: component/console-ui

#4150 Run systemtests as tekton pipeline
  .tekton/test/enmasse-repo.yaml
  .tekton/test/systemtest-pipeline.yaml
  .tekton/test/systemtest-task.yaml
  Makefile
  systemtests/Makefile
Labels: component/systemtests

#4288 Add testing for multiple devices
  iot/iot-jdbc-base/src/main/java/io/enmasse/iot/jdbc/store/SQLContext.java
  systemtests/src/test/java/io/enmasse/systemtest/iot/isolated/registry/DeviceRegistryTest.java
  systemtests/src/test/java/io/enmasse/systemtest/iot/isolated/registry/H2DeviceRegistryTest.java
  systemtests/src/test/java/io/enmasse/systemtest/iot/isolated/registry/InfinispanDeviceRegistryTest.java
  systemtests/src/test/java/io/enmasse/systemtest/iot/isolated/registry/PostgresFlatDeviceRegistryTest.java
  systemtests/src/test/java/io/enmasse/systemtest/iot/isolated/registry/PostgresTreeDeviceRegistryTest.java
Labels: component/iot, component/systemtests

#4306 Remove "Enter more characters option" if rows are less than 10 in typeahead dropdown
  console/console-init/ui/src/utils/utils.ts
Labels: component/console-ui

#4310 Fixed connectionLinks filter issue for address and delete address route isssue
  console/console-init/ui/src/graphql-module/queries/Connection.ts
  console/console-init/ui/src/modules/address-detail/AddressDetailPage.tsx
Labels: Do Not Merge

#4324 Default value for dropdown
  console/console-init/ui/src/components/DropdownWithToggle/DropdownWithToggle.tsx
  console/console-init/ui/src/graphql-module/queries/Connection.ts
Labels: component/console-ui

#4320 Cluster manager
  systemtests/src/main/java/io/enmasse/systemtest/executor/Exec.java
  systemtests/src/main/java/io/enmasse/systemtest/executor/ExecutionResultData.java
  systemtests/src/main/java/io/enmasse/systemtest/listener/JunitCallbackListener.java
  systemtests/src/main/java/io/enmasse/systemtest/listener/JunitExecutionListener.java
  systemtests/src/main/java/io/enmasse/systemtest/operator/EnmasseOperatorManager.java
  systemtests/src/main/java/io/enmasse/systemtest/platform/Kubernetes.java
  systemtests/src/main/java/io/enmasse/systemtest/platform/cluster/KubeClusterManager.java
  systemtests/src/test/java/io/enmasse/systemtest/isolated/upgrade/UpgradeTest.java
  systemtests/src/test/java/io/enmasse/systemtest/olm/OLMDefaultTest.java
  systemtests/src/test/java/io/enmasse/systemtest/olm/OLMLinksTest.java
  systemtests/src/test/java/io/enmasse/systemtest/olm/OLMSpecificTest.java
Labels: component/systemtests

#4337 Fix path
  systemtests/src/main/java/io/enmasse/systemtest/platform/apps/SystemtestsKubernetesApps.java
Labels: component/iot

#4333 Docs:update_example
  documentation/common/attributes.adoc
  documentation/modules/proc-installing-using-ansible.adoc
Labels: Peer Review Done, component/documentation, status/SME Review Needed

#4360 Docs:remove_period
  documentation/modules/proc-installing-using-ansible.adoc
Labels: Peer Review Done

#4346 Expand address space connector docs to include idleTimeout, maxFrameSize, role
  documentation/modules/ref-address-space-example-connectors.adoc
Labels: component/documentation

#4336 Test operable enmasse after kube node drain
  systemtests/src/main/java/io/enmasse/systemtest/clients/ClientUtils.java
  systemtests/src/main/java/io/enmasse/systemtest/condition/AssumeKubernetesCondition.java
  systemtests/src/main/java/io/enmasse/systemtest/condition/AssumeOpenshiftCondition.java
  systemtests/src/main/java/io/enmasse/systemtest/condition/Kubernetes.java
  systemtests/src/main/java/io/enmasse/systemtest/condition/MultinodeCluster.java
  systemtests/src/main/java/io/enmasse/systemtest/condition/OpenShift.java
  systemtests/src/main/java/io/enmasse/systemtest/condition/OpenShiftVersion.java
  systemtests/src/main/java/io/enmasse/systemtest/executor/Exec.java
  systemtests/src/main/java/io/enmasse/systemtest/platform/KubeCMDClient.java
  systemtests/src/main/java/io/enmasse/systemtest/platform/Kubernetes.java
  systemtests/src/main/java/io/enmasse/systemtest/platform/cluster/KubeClusterManager.java
  systemtests/src/test/java/io/enmasse/systemtest/isolated/CommonTest.java
  systemtests/src/test/java/io/enmasse/systemtest/soak/StabilityTest.java
Labels: component/systemtests

#4357 Shared infra defaults
  systemtests/src/main/java/io/enmasse/systemtest/annotations/DefaultMessagingInfra.java
  systemtests/src/main/java/io/enmasse/systemtest/annotations/DefaultMessagingInfraExtension.java
  systemtests/src/main/java/io/enmasse/systemtest/annotations/DefaultMessagingTenant.java
  systemtests/src/main/java/io/enmasse/systemtest/annotations/DefaultMessagingTenantExtension.java
  systemtests/src/main/java/io/enmasse/systemtest/messaginginfra/ResourceManager.java
  systemtests/src/main/java/io/enmasse/systemtest/messaginginfra/resources/MessagingInfraResourceType.java
  systemtests/src/main/java/io/enmasse/systemtest/messaginginfra/resources/MessagingTenantResourceType.java
  systemtests/src/main/java/io/enmasse/systemtest/messaginginfra/resources/NamespaceResourceType.java
  systemtests/src/main/java/io/enmasse/systemtest/messaginginfra/resources/ResourceType.java
  systemtests/src/test/java/io/enmasse/systemtest/sharedinfra/DefaultsTest.java
  systemtests/src/test/java/io/enmasse/systemtest/sharedinfra/MessagingInfraTest.java
  systemtests/src/test/java/io/enmasse/systemtest/sharedinfra/MessagingTenantTest.java
Labels: status/Ready for Merge

#4240 Reload keys/certificates when they expire/change
  api-model/src/main/java/io/enmasse/iot/model/v1/EndpointConfig.java
  api-model/src/main/java/io/enmasse/iot/model/v1/KeyCertificateStrategy.java
  api-model/src/main/java/io/enmasse/iot/model/v1/ServiceCAStrategy.java
  cmd/controller-manager/main.go
  pkg/apis/iot/v1alpha1/funcs.go
  pkg/apis/iot/v1alpha1/types_config.go
  pkg/apis/iot/v1alpha1/zz_generated.deepcopy.go
  pkg/controller/iotconfig/adapter.go
  pkg/controller/iotconfig/auth_service.go
  pkg/controller/iotconfig/device_registry.go
  pkg/controller/iotconfig/http_adapter.go
  pkg/controller/iotconfig/infinispan_device_connection.go
  pkg/controller/iotconfig/infinispan_device_registry.go
  pkg/controller/iotconfig/inter_service.go
  pkg/controller/iotconfig/iotconfig_controller.go
  pkg/controller/iotconfig/jdbc_device_connection.go
  pkg/controller/iotconfig/jdbc_device_registry.go
  pkg/controller/iotconfig/lorawan_adapter.go
  pkg/controller/iotconfig/mqtt_adapter.go
  pkg/controller/iotconfig/secret_handler.go
  pkg/controller/iotconfig/sigfox_adapter.go
  pkg/controller/iotconfig/tenant_service.go
  pkg/controller/iotproject/utils.go
  pkg/util/cchange/change.go
  pkg/util/install/delete.go
  pkg/util/install/hash.go
  pkg/util/iot/config.go
  pkg/util/openshift.go
  systemtests/src/main/java/io/enmasse/systemtest/bases/iot/ITestIoTBase.java
  systemtests/src/main/java/io/enmasse/systemtest/executor/Exec.java
  systemtests/src/main/java/io/enmasse/systemtest/iot/HttpAdapterClient.java
  systemtests/src/main/java/io/enmasse/systemtest/iot/IoTTestSession.java
  systemtests/src/main/java/io/enmasse/systemtest/logs/GlobalLogCollector.java
  systemtests/src/main/java/io/enmasse/systemtest/manager/IsolatedIoTManager.java
  systemtests/src/main/java/io/enmasse/systemtest/manager/SharedIoTManager.java
  systemtests/src/main/java/io/enmasse/systemtest/platform/KubeCMDClient.java
  systemtests/src/main/java/io/enmasse/systemtest/platform/Kubernetes.java
  systemtests/src/main/java/io/enmasse/systemtest/utils/IoTUtils.java
  systemtests/src/test/java/io/enmasse/systemtest/iot/IoTTestSessionTest.java
  systemtests/src/test/java/io/enmasse/systemtest/iot/isolated/IoTProjectManagedTest.java
  systemtests/src/test/java/io/enmasse/systemtest/iot/isolated/MultipleProjectsTest.java
  systemtests/src/test/java/io/enmasse/systemtest/iot/isolated/SimpleK8sDeployTest.java
  systemtests/src/test/java/io/enmasse/systemtest/iot/isolated/project/ManagedTest.java
  systemtests/src/test/java/io/enmasse/systemtest/iot/isolated/registry/DeviceRegistryTest.java
  systemtests/src/test/java/io/enmasse/systemtest/iot/isolated/registry/H2DeviceRegistryTest.java
  systemtests/src/test/java/io/enmasse/systemtest/iot/isolated/registry/InfinispanDeviceRegistryTest.java
  systemtests/src/test/java/io/enmasse/systemtest/iot/isolated/registry/PostgresFlatDeviceRegistryTest.java
  systemtests/src/test/java/io/enmasse/systemtest/iot/isolated/registry/PostgresTableDeviceRegistryTest.java
  systemtests/src/test/java/io/enmasse/systemtest/iot/isolated/registry/PostgresTreeDeviceRegistryTest.java
  systemtests/src/test/java/io/enmasse/systemtest/iot/isolated/tls/ReloadCertificatesTest.java
  templates/iot/examples/k8s-tls/common
  templates/iot/examples/k8s-tls/deploy
  templates/iot/examples/k8s-tls/undeploy
Labels: component/iot, lang/go

#4315 Add TLS version options
  CHANGELOG.md
  api-model/src/main/java/io/enmasse/iot/model/v1/AdapterConfig.java
  api-model/src/main/java/io/enmasse/iot/model/v1/CommonServiceConfig.java
  api-model/src/main/java/io/enmasse/iot/model/v1/IoTConfigSpec.java
  api-model/src/main/java/io/enmasse/iot/model/v1/TlsOptions.java
  iot/iot-tenant-service/src/main/java/io/enmasse/iot/tenant/config/AmqpEndpointConfiguration.java
  iot/iot-tenant-service/src/main/java/io/enmasse/iot/tenant/config/ApplicationConfiguration.java
  iot/iot-tenant-service/src/main/java/io/enmasse/iot/tenant/config/AuthenticationConfiguration.java
  iot/iot-tenant-service/src/main/java/io/enmasse/iot/tenant/config/HealthConfiguration.java
  iot/iot-tenant-service/src/main/java/io/enmasse/iot/tenant/config/ServiceConfiguration.java
  iot/iot-tenant-service/src/main/java/io/enmasse/iot/tenant/config/VertxConfiguration.java
  iot/iot-tenant-service/src/main/resources/config/application-dev.yml
  iot/iot-tenant-service/src/main/resources/config/application-prod.yml
  iot/iot-tenant-service/src/main/resources/config/application.yml
  pkg/apis/iot/v1alpha1/funcs.go
  pkg/apis/iot/v1alpha1/types_config.go
  pkg/apis/iot/v1alpha1/zz_generated.deepcopy.go
  pkg/controller/iotconfig/adapter.go
  pkg/controller/iotconfig/auth_service.go
  pkg/controller/iotconfig/http_adapter.go
  pkg/controller/iotconfig/infinispan_device_connection.go
  pkg/controller/iotconfig/infinispan_device_registry.go
  pkg/controller/iotconfig/jdbc_device_connection.go
  pkg/controller/iotconfig/jdbc_device_registry.go
  pkg/controller/iotconfig/lorawan_adapter.go
  pkg/controller/iotconfig/mqtt_adapter.go
  pkg/controller/iotconfig/sigfox_adapter.go
  pkg/controller/iotconfig/tenant_service.go
  systemtests/src/main/java/io/enmasse/systemtest/iot/HttpAdapterClient.java
  systemtests/src/main/java/io/enmasse/systemtest/iot/IoTTestSession.java
  systemtests/src/test/java/io/enmasse/systemtest/iot/isolated/tls/TlsVersionTest.java
Labels: component/iot

#4366 Docs:fix_command_typo
  documentation/modules/proc-examine-broker-state.adoc
Labels: component/documentation, status/SME Review Needed

#4363 Docs:fixed_special_characters
  documentation/modules/proc-iot-installing-services.adoc
Labels: Peer Review Done, component/documentation

#4372 Tidy up a few redundant refs to console endpoints in the documentation
  documentation/modules/ref-address-space-example-exposing-endpoints.adoc
  templates/crds/addressspaces.crd.yaml
Labels: component/documentation

#4374 Prevent empty TLS versions field
  pkg/apis/iot/v1alpha1/funcs.go
  pkg/apis/iot/v1alpha1/interfaces.go
  pkg/apis/iot/v1alpha1/types_config.go
  pkg/apis/iot/v1alpha1/zz_generated.deepcopy.go
  pkg/controller/iotconfig/adapter.go
  pkg/controller/iotconfig/auth_service.go
  pkg/controller/iotconfig/infinispan_device_connection.go
  pkg/controller/iotconfig/infinispan_device_registry.go
  pkg/controller/iotconfig/jdbc_device_connection.go
  pkg/controller/iotconfig/jdbc_device_registry.go
  pkg/controller/iotconfig/tenant_service.go
  pkg/controller/iotconfig/utils.go
  pkg/util/install/utils.go
Labels: component/iot

#4377 Style: add copyright/license in UI source files
  console/console-init/ui/src/modules/address-detail/components/TypeBadge/TypeBadge.tsx
  console/console-init/ui/src/modules/address-detail/utils/index.ts
  console/console-init/ui/src/modules/address/components/AddressErrorMessage/AddressErrorMessage.tsx
  console/console-init/ui/src/modules/address/components/AddressListKebab/AddressListKebab.tsx
  console/console-init/ui/src/modules/address/utils/utils.ts
  console/console-init/ui/src/modules/connection-detail/components/ConnectionLinksToggleGroup/ConnectionLinksToggleGroup.tsx
  console/console-init/ui/src/modules/connection-detail/components/ConnectionLinksToolbar/ConnectionLinksToolbar.tsx
  console/console-init/ui/src/types/Configs.tsx
  console/console-init/ui/src/utils/utils.ts
Labels: component/console-ui

#4373 Documentation - fix get log anchors
  documentation/modules/proc-get-logs-broker.adoc
  documentation/modules/proc-get-logs-router.adoc
Labels: component/documentation

#4392 addressspace.yml should contain address spaces rather than addresses
  systemtests/src/main/java/io/enmasse/systemtest/logs/GlobalLogCollector.java
Labels: component/systemtests

#4379 Add internal command network for IoT
  api-model/src/main/java/io/enmasse/iot/model/v1/IoTConfigSpec.java
  api-model/src/main/java/io/enmasse/iot/model/v1/MeshConfig.java
  cmd/iot-proxy-configurator/sync.go
  pkg/apis/iot/v1alpha1/funcs.go
  pkg/apis/iot/v1alpha1/types_config.go
  pkg/apis/iot/v1alpha1/zz_generated.deepcopy.go
  pkg/controller/iotconfig/adapter.go
  pkg/controller/iotconfig/auth_service.go
  pkg/controller/iotconfig/http_adapter.go
  pkg/controller/iotconfig/infinispan_device_connection.go
  pkg/controller/iotconfig/infinispan_device_registry.go
  pkg/controller/iotconfig/inter_service.go
  pkg/controller/iotconfig/iotconfig_controller.go
  pkg/controller/iotconfig/jdbc_device_connection.go
  pkg/controller/iotconfig/jdbc_device_registry.go
  pkg/controller/iotconfig/lorawan_adapter.go
  pkg/controller/iotconfig/mesh.go
  pkg/controller/iotconfig/mqtt_adapter.go
  pkg/controller/iotconfig/secret_handler.go
  pkg/controller/iotconfig/sigfox_adapter.go
  pkg/controller/iotconfig/tenant_service.go
  pkg/controller/iotconfig/utils.go
  pkg/util/install/utils.go
  systemtests/src/main/java/io/enmasse/systemtest/utils/IoTUtils.java
  templates/enmasse-operator/020-Role-enmasse-operator.yaml
  templates/iot/common/030-Deployment-iot-interior-interconnect.yaml
  templates/iot/common/040-ConfigMap-iot-interior-interconnect.yaml
  templates/iot/common/040-Service-iot-interior-interconnect.yaml
Labels: component/iot

#4397 fix system test for edit,delete and purge address
  console/console-init/ui/src/components/DropdownWithToggle/DropdownWithToggle.tsx
  console/console-init/ui/src/components/SelectWithToggle/SelectWithToggle.tsx
  console/console-init/ui/src/modules/address-space/components/MessagingDatatoolbarToggleGroup/MessagingDataToolbarToggleGroup.tsx
  console/console-init/ui/src/modules/address/components/AddressList/AddressList.tsx
  console/console-init/ui/src/modules/address/components/AddressListKebab/AddressListKebab.tsx
  console/console-init/ui/src/modules/address/components/AddressToggleGroup/AddressToggleGroup.tsx
  systemtests/src/main/java/io/enmasse/systemtest/selenium/page/ConsoleWebPage.java
  systemtests/src/main/java/io/enmasse/systemtest/selenium/resources/AddressWebItem.java
Labels: Do Not Merge

#4403 Docs:Edit {registry} variable
  documentation/assemblies/assembly-iot-creating-device.adoc
Labels: Peer Review Done, component/documentation

#4411 Update message host command
  documentation/modules/proc-iot-installing-cli.adoc
Labels: component/documentation, status/SME Review Needed

#4410 Fix example index for PostgreSQL
  templates/iot/examples/postgresql/create.table.sql
  templates/iot/examples/postgresql/create.tree.sql
Labels: component/iot

#4409 Feat: no result component
  console/console-init/ui/src/components/NoResultFound/NoResultFound.test.tsx
  console/console-init/ui/src/components/NoResultFound/NoResultFound.tsx
  console/console-init/ui/src/components/NoResultFound/index.ts
  console/console-init/ui/src/components/index.ts
Labels: component/console-ui
