Repository EnMasseProject/enmasse, pull requests merged in 2020-05, with the labels that each got.

#4416 Fix up the wiring when using the split registry deployment models
  iot/iot-device-registry-base/src/main/java/io/enmasse/iot/registry/server/DeviceRegistryAmqpServer.java
  iot/iot-device-registry-base/src/main/java/io/enmasse/iot/registry/server/DeviceRegistryRestServer.java
  pkg/controller/iotconfig/adapter.go
  pkg/controller/iotconfig/device_registry.go
  pkg/controller/iotconfig/infinispan_device_registry.go
  pkg/controller/iotconfig/iotconfig_controller.go
  pkg/controller/iotconfig/jdbc_device_registry.go
  pkg/controller/iotconfig/monitoring.go
  pkg/controller/iotconfig/secret_handler.go
  pkg/controller/iotconfig/utils.go
  systemtests/src/main/java/io/enmasse/systemtest/iot/DefaultDeviceRegistry.java
  systemtests/src/main/java/io/enmasse/systemtest/utils/IoTUtils.java
  systemtests/src/test/java/io/enmasse/systemtest/iot/isolated/SimpleK8sDeployTest.java
  systemtests/src/test/java/io/enmasse/systemtest/iot/isolated/registry/PostgresTableSplitDeviceRegistryTest.java
Labels: component/iot

#4421 [Docs] Fix CLI/Jolokia command descriptions
  documentation/modules/proc-examine-broker-state.adoc
Labels: component/documentation

#4429 Drop JSON models from JDBC device registry backend
  api-model/src/main/java/io/enmasse/iot/model/v1/ExternalJdbcRegistryServer.java
  api-model/src/main/java/io/enmasse/iot/model/v1/Mode.java
  documentation/modules/proc-iot-installing-services.adoc
  documentation/modules/proc-iot-service-registry-jdbc-external.adoc
  iot/iot-jdbc-base/src/main/java/io/enmasse/iot/jdbc/config/JdbcDeviceProperties.java
  iot/iot-jdbc-base/src/main/java/io/enmasse/iot/jdbc/store/device/Configurations.java
  iot/iot-jdbc-base/src/main/java/io/enmasse/iot/jdbc/store/device/DeviceStores.java
  iot/iot-jdbc-base/src/main/java/io/enmasse/iot/jdbc/store/device/JsonAdapterStore.java
  iot/iot-jdbc-base/src/main/java/io/enmasse/iot/jdbc/store/device/JsonManagementStore.java
  iot/iot-jdbc-base/src/main/java/io/enmasse/iot/jdbc/store/device/TableManagementStore.java
  iot/iot-jdbc-base/src/main/resources/io/enmasse/iot/jdbc/store/device/base.postgresql.sql.yaml
  iot/iot-jdbc-base/src/main/resources/io/enmasse/iot/jdbc/store/device/base.sql.yaml
  iot/iot-jdbc-base/src/main/resources/io/enmasse/iot/jdbc/store/device/json.flat.postgresql.sql.yaml
  iot/iot-jdbc-base/src/main/resources/io/enmasse/iot/jdbc/store/device/json.flat.sql.yaml
  iot/iot-jdbc-base/src/main/resources/io/enmasse/iot/jdbc/store/device/json.postgresql.sql.yaml
  iot/iot-jdbc-base/src/main/resources/io/enmasse/iot/jdbc/store/device/json.sql.yaml
  iot/iot-jdbc-base/src/main/resources/io/enmasse/iot/jdbc/store/device/json.tree.postgresql.sql.yaml
  iot/iot-jdbc-base/src/main/resources/io/enmasse/iot/jdbc/store/device/json.tree.sql.yaml
  iot/iot-jdbc-base/src/main/resources/io/enmasse/iot/jdbc/store/device/table.postgresql.sql.yaml
  iot/iot-jdbc-base/src/main/resources/io/enmasse/iot/jdbc/store/device/table.sql.yaml
  iot/iot-jdbc-base/src/test/java/io/enmasse/iot/jdbc/store/device/JsonStoreTest.java
  pkg/apis/iot/v1alpha1/types_config.go
  pkg/controller/iotconfig/jdbc_device_registry.go
  systemtests/src/main/java/io/enmasse/systemtest/iot/DefaultDeviceRegistry.java
  systemtests/src/main/java/io/enmasse/systemtest/platform/apps/SystemtestsKubernetesApps.java
  systemtests/src/main/java/io/enmasse/systemtest/utils/IoTUtils.java
  systemtests/src/test/java/io/enmasse/systemtest/iot/isolated/SimpleK8sDeployTest.java
  systemtests/src/test/java/io/enmasse/systemtest/iot/isolated/registry/H2DeviceRegistryTest.java
  systemtests/src/test/java/io/enmasse/systemtest/iot/isolated/registry/MixedDeviceRegistryTest.java
  systemtests/src/test/java/io/enmasse/systemtest/iot/isolated/registry/PostgresFlatDeviceRegistryTest.java
  systemtests/src/test/java/io/enmasse/systemtest/iot/isolated/registry/PostgresTableDeviceRegistryTest.java
  systemtests/src/test/java/io/enmasse/systemtest/iot/isolated/registry/PostgresTableSplitDeviceRegistryTest.java
  systemtests/src/test/java/io/enmasse/systemtest/iot/isolated/registry/PostgresTreeDeviceRegistryTest.java
  templates/iot/examples/iot-config.yaml
  templates/iot/examples/postgresql/README.md
  templates/iot/examples/postgresql/create.sql
  templates/iot/examples/postgresql/create.table.sql
  templates/iot/examples/postgresql/create.tree.sql
  templates/iot/examples/postgresql/drop.sql
  templates/iot/examples/postgresql/drop.table.sql
  templates/iot/examples/postgresql/drop.tree.sql
  templates/iot/examples/postgresql/iot-config.yaml
  templates/iot/examples/postgresql/queries.sql
  templates/iot/examples/postgresql/test.sql
Labels: component/iot

#4423 Ops procedures - document enable protocol trace for router/broker
  documentation/assemblies/assembly-ops-procedures.adoc
  documentation/modules/proc-enable-protocol-trace-broker.adoc
  documentation/modules/proc-enable-protocol-trace-router.adoc
Labels: component/documentation

#4452 Docs:Fix broken links 1
  documentation/assemblies/assembly-configuring-olm.adoc
  documentation/modules/con-standard-queue.adoc
  documentation/modules/proc-create-address-plan-custom-resource-olm-ui.adoc
  documentation/modules/ref-iot-project-managed-example.adoc
Labels: component/documentation, status/SME Review Needed

#4453 Docs: Edit protocol trace ops procedures
  documentation/modules/proc-enable-protocol-trace-broker.adoc
  documentation/modules/proc-enable-protocol-trace-router.adoc
Labels: component/documentation, status/SME Review Needed

#4391 Proposal: authentication and authorization API for 1.0
  documentation/design/proposals/authn_authz_for_1.0.adoc
  documentation/design/proposals/authn_authz_for_1.0.puml
Labels: kind/proposal

#4478 Fix default name of device connection cache
  iot/iot-infinispan-base/src/main/java/io/enmasse/iot/infinispan/config/InfinispanProperties.java
Labels: component/iot

#4487 Docs:Fix variable text
  documentation/modules/proc-enable-protocol-trace-broker.adoc
  documentation/modules/proc-enable-protocol-trace-router.adoc
  documentation/modules/proc-examine-broker-state.adoc
Labels: Peer Review Done, component/documentation

#4485 Organise for the agent command delegate to await the delegate running
  pkg/amqpcommand/command_client.go
  pkg/amqpcommand/test/fake_client.go
  pkg/consolegraphql/agent/agent.go
Labels: component/console-backend, kind/bug

#4447 Feat: visual component for empty device list
  console/console-init/ui/src/modules/device/components/CreateDeviceButton/CreateDeviceButton.test.tsx
  console/console-init/ui/src/modules/device/components/CreateDeviceButton/CreateDeviceButton.tsx
  console/console-init/ui/src/modules/device/components/CreateDeviceButton/index.ts
  console/console-init/ui/src/modules/device/components/EmptyDeviceList/EmptyDeviceList.test.tsx
  console/console-init/ui/src/modules/device/components/EmptyDeviceList/EmptyDeviceList.tsx
  console/console-init/ui/src/modules/device/components/EmptyDeviceList/index.ts
  console/console-init/ui/src/modules/device/components/index.ts
  console/console-init/ui/src/stories/DeviceList.stories.tsx
Labels: component/console-ui

#4486 Add tests for conflicting tenant, type, auth combinations
  systemtests/src/main/java/io/enmasse/systemtest/iot/CredentialsRegistryClient.java
  systemtests/src/test/java/io/enmasse/systemtest/iot/isolated/MultipleProjectsTest.java
  systemtests/src/test/java/io/enmasse/systemtest/iot/isolated/project/ManagedTest.java
  systemtests/src/test/java/io/enmasse/systemtest/iot/isolated/registry/DeviceRegistryTest.java
  systemtests/src/test/java/io/enmasse/systemtest/iot/isolated/registry/InfinispanDeviceRegistryTest.java
  systemtests/src/test/java/io/enmasse/systemtest/iot/shared/control/CommandAndControlTest.java
  systemtests/src/test/java/io/enmasse/systemtest/iot/shared/http/HttpAdapterTest.java
  systemtests/src/test/java/io/enmasse/systemtest/iot/shared/mqtt/MqttAdapterTest.java
Labels: component/iot

#4490 investigating sporadic console login oauth authentication issue
  systemtests/src/main/java/io/enmasse/systemtest/logs/GlobalLogCollector.java
Labels: component/systemtests

#4501 Feat: visual component for Device List Toolbar
  console/console-init/ui/src/components/DropdownWithBulkSelect/DropdownWithBulkSelect.test.tsx
  console/console-init/ui/src/components/DropdownWithBulkSelect/DropdownWithBulkSelect.tsx
  console/console-init/ui/src/components/DropdownWithBulkSelect/index.ts
  console/console-init/ui/src/components/index.ts
  console/console-init/ui/src/modules/device/components/DeviceListToolbar/DeviceListToolbar.tsx
  console/console-init/ui/src/modules/device/components/DeviceListToolbar/index.ts
  console/console-init/ui/src/modules/device/components/index.ts
  console/console-init/ui/src/stories/DeviceList.stories.tsx
Labels: component/console-ui

#4491 TestOpenShiftWithCustomCert robustness improvements
  systemtests/src/test/java/io/enmasse/systemtest/bases/web/ConsoleTest.java
Labels: component/systemtests

#4393 UpgradeTest stability improvements
  systemtests/src/main/java/io/enmasse/systemtest/executor/Exec.java
  systemtests/src/main/java/io/enmasse/systemtest/logs/GlobalLogCollector.java
  systemtests/src/main/java/io/enmasse/systemtest/platform/KubeCMDClient.java
  systemtests/src/test/java/io/enmasse/systemtest/isolated/upgrade/UpgradeTest.java
Labels: component/systemtests

#4513 Docs:Add text to note endpoints are not mutable
  documentation/modules/con-address-space.adoc
Labels: Peer Review Needed, component/documentation

#4505 Test: unit tests for DeviceListToolbar component
  console/console-init/ui/src/modules/device/components/DeviceListToolbar/DeviceListToolbar.test.tsx
Labels: component/console-ui

#4495 Disregard incoming remote target on receiving links initiated by the plugin
  CHANGELOG.md
  broker-plugin/amqp-connector/src/main/java/org/apache/activemq/artemis/integration/amqp/AMQPClientConnectionFactory.java
  broker-plugin/amqp-connector/src/main/java/org/apache/activemq/artemis/integration/amqp/LinkInitiator.java
  broker-plugin/amqp-connector/src/main/java/org/apache/activemq/artemis/integration/amqp/ProtonClientConnectionManager.java
  broker-plugin/amqp-connector/src/main/java/org/apache/qpid/proton/engine/impl/LinkMutator.java
Labels: component/broker-plugin

#4512 [Docs] correct loadbalance spec indentation
  documentation/modules/ref-address-space-example-exposing-endpoints.adoc
Labels: component/documentation

#4525 Fix certificate change race that would lead to permanently failing console authentication
  console/console-init/oauth-proxy/bin/init.sh
  pkg/controller/consoleservice/consoleservice_controller.go
  systemtests/src/test/java/io/enmasse/systemtest/bases/web/ConsoleTest.java
Labels: component/console-backend, component/enmasse-operator

#4444 Add support for HA configuration of none and standard auth services
  CHANGELOG.md
  api-model/src/main/java/io/enmasse/admin/model/v1/AuthenticationServiceSpecNone.java
  api-model/src/main/java/io/enmasse/admin/model/v1/AuthenticationServiceSpecStandard.java
  documentation/assemblies/assembly-auth-services.adoc
  documentation/modules/proc-standard-auth-service-ha.adoc
  pkg/apis/admin/v1beta1/types.go
  pkg/apis/admin/v1beta1/zz_generated.deepcopy.go
  pkg/controller/authenticationservice/none.go
  pkg/controller/authenticationservice/standard.go
  systemtests/src/main/java/io/enmasse/systemtest/manager/ResourceManager.java
  systemtests/src/test/java/io/enmasse/systemtest/isolated/api/AuthServiceTest.java
  templates/crds/authenticationservices.crd.yaml
Labels: component/documentation, component/enmasse-operator

#4523 Feat: story book for device list page
  console/console-init/ui/src/modules/device/components/DeviceList/DeviceList.tsx
  console/console-init/ui/src/modules/device/components/DeviceListFooterToolbar/DeviceListFooterToolbar.tsx
  console/console-init/ui/src/modules/device/components/DeviceListFooterToolbar/index.ts
  console/console-init/ui/src/modules/device/components/index.ts
  console/console-init/ui/src/stories/DeviceListPage.stories.tsx
Labels: component/console-ui

#4514 [Docs] procedure for extracting a self signed cert
  documentation/assemblies/assembly-connecting-applications.adoc
Labels: component/documentation

#4530 Json editor -visual component
  console/console-init/ui/src/components/JsonViewEditor/JsonViewEditor.tsx
  console/console-init/ui/src/stories/JsonEditor.stories.tsx
Labels: component/console-ui

#4529 Modify dialog prompt component
  console/console-init/ui/src/components/DialogPrompt/DialogPrompt.tsx
Labels: component/console-ui

#4522 Update yarn dependencies
  console/console-init/ui/yarn.lock
Labels: component/console-ui

#4533 Docs: Fix id in standard auth ha module and create new module for cli…
  documentation/assemblies/assembly-connecting-applications.adoc
  documentation/modules/proc-client-get-cer.adoc
  documentation/modules/proc-standard-auth-service-ha.adoc
Labels: component/documentation, status/SME Review Needed

#4534 Docs:Add KubePlatformCredentials variable
  documentation/master-kubernetes.adoc
  documentation/master-openshift.adoc
  documentation/modules/proc-logging-in-console.adoc
Labels: component/documentation, status/SME Review Needed

#4528 Device List Filter - redo last filter
  console/console-init/ui/src/modules/device/components/DeviceFilter/DateFilterSection.tsx
  console/console-init/ui/src/modules/device/components/DeviceFilter/DeviceFilter.tsx
  console/console-init/ui/src/modules/device/utils/constant.ts
  console/console-init/ui/src/modules/device/utils/index.ts
  console/console-init/ui/src/stories/DeviceFilter.stories.tsx
  console/console-init/ui/src/utils/utils.ts
Labels: component/console-ui

#4541 Docs: Fix code block formatting HA auth service
  documentation/modules/proc-standard-auth-service-ha.adoc
Labels: component/documentation, status/SME Review Needed

#4535 Create a device using json
  console/console-init/ui/src/components/DialogPrompt/DialogPrompt.tsx
  console/console-init/ui/src/components/Editor/Editor.tsx
  console/console-init/ui/src/components/JsonEditor/JsonEditor.tsx
  console/console-init/ui/src/components/JsonEditor/index.ts
  console/console-init/ui/src/components/JsonViewEditor/JsonViewEditor.tsx
  console/console-init/ui/src/components/RootModal/RootModal.tsx
  console/console-init/ui/src/components/index.ts
  console/console-init/ui/src/constant/constants.ts
  console/console-init/ui/src/context-state-reducer/actions.ts
  console/console-init/ui/src/modules/device/components/AddDeviceWithJson/AddDeviceWithJson.tsx
  console/console-init/ui/src/modules/device/components/AddDeviceWithJson/AddJsonUsingTemplate.tsx
  console/console-init/ui/src/modules/device/components/AddDeviceWithJson/index.ts
  console/console-init/ui/src/modules/device/components/DeviceListAlert/DeviceListAlert.tsx
  console/console-init/ui/src/modules/project-detail/components/AccessCredentials/AccessCredentials.tsx
  console/console-init/ui/src/modules/project-detail/components/DeviceRegistrationManagement/DeviceRegistrationManagement.tsx
  console/console-init/ui/src/stories/AddDeviceWithJson.stories.tsx
  console/console-init/ui/src/stories/JsonEditor.stories.tsx
  console/console-init/ui/src/utils/utils.ts
Labels: component/console-ui

#4548 Device Info Page
  console/console-init/ui/src/components/Editor/Editor.tsx
  console/console-init/ui/src/components/MetadataListTable/MetadataListTable.tsx
  console/console-init/ui/src/components/MetadataListTable/TableRow.tsx
  console/console-init/ui/src/components/SwitchWithToggle/SwitchWithToggle.tsx
  console/console-init/ui/src/constant/constants.ts
  console/console-init/ui/src/modules/device-detail/components/CredentialsView/CredentialsView.tsx
  console/console-init/ui/src/modules/device-detail/components/CredentialsView/ExtensionsView/ExtensionsView.tsx
  console/console-init/ui/src/modules/device-detail/components/CredentialsView/ExtensionsView/index.ts
  console/console-init/ui/src/modules/device-detail/components/CredentialsView/SecretsView/SecretsView.tsx
  console/console-init/ui/src/modules/device-detail/components/CredentialsView/SecretsView/index.ts
  console/console-init/ui/src/modules/device-detail/components/CredentialsView/index.ts
  console/console-init/ui/src/modules/device-detail/components/DeviceInfo/DeviceInfo.tsx
  console/console-init/ui/src/modules/device-detail/components/DeviceInfoCredentials/DeviceInfoCredentials.tsx
  console/console-init/ui/src/modules/device-detail/components/DeviceInfoGateways/DeviceInfoGateways.tsx
  console/console-init/ui/src/modules/device-detail/components/index.ts
  console/console-init/ui/src/modules/device/components/AddCredential/AddCredential.tsx
  console/console-init/ui/src/modules/device/components/CredentialList/CredentialList.tsx
  console/console-init/ui/src/modules/device/components/ExtensionList/ExtensionList.tsx
  console/console-init/ui/src/modules/device/components/SecretList/SecretList.tsx
  console/console-init/ui/src/stories/DeviceInfo.stories.tsx
  console/console-init/ui/src/utils/utils.ts
Labels: component/console-ui

#4560 Add missing IoT mesh certificates in example for plain k8s
  templates/iot/examples/k8s-tls/common
Labels: component/iot

#4575 Correct Go-lang closure problem preventing the purging of >1 address
  pkg/consolegraphql/resolvers/resolver_address.go
  pkg/consolegraphql/resolvers/resolver_address_test.go
  pkg/consolegraphql/resolvers/resolver_connection_test.go
  pkg/consolegraphql/resolvers/test_utils.go
Labels: kind/bug

#4557 Handle multiple addresses for purge in a single query
  console/console-init/ui/src/graphql-module/queries/Address.ts
  console/console-init/ui/src/modules/address-detail/AddressDetailPage.tsx
  console/console-init/ui/src/modules/address/AddressPage.tsx
  console/console-init/ui/src/modules/address/containers/AddressListContainer/AddressListContainer.tsx
Labels: Do Not Merge, component/console-ui

#4554 Implement connection close in console UI
  console/console-init/ui/src/components/DropdownWithKebabToggle/DropdownWithKebabToggle.tsx
  console/console-init/ui/src/components/RootModal/RootModal.tsx
  console/console-init/ui/src/context-state-reducer/actions.ts
  console/console-init/ui/src/graphql-module/queries/Connection.ts
  console/console-init/ui/src/modules/connection/ConnectionPage.tsx
  console/console-init/ui/src/modules/connection/components/ConnectionList/ConnectionList.tsx
  console/console-init/ui/src/modules/connection/components/ConnectionsToolbar/ConnectionsToolbar.tsx
  console/console-init/ui/src/modules/connection/containers/ConnectionContainer/ConnectionContainer.tsx
  console/console-init/ui/src/modules/connection/containers/ConnectionToolbarContainer/ConnectionToolbarContainer.tsx
  console/console-init/ui/src/modules/connection/utils/index.ts
  console/console-init/ui/src/modules/connection/utils/utils.ts
  console/console-init/ui/src/stories/ConnectionList.stories.tsx
  systemtests/src/main/java/io/enmasse/systemtest/selenium/page/ConsoleWebPage.java
  systemtests/src/main/java/io/enmasse/systemtest/selenium/resources/ConnectionWebItem.java
Labels: Do Not Merge, component/console-ui

#4517 Fix - Console shows unexpected error when I click on address with error message
  console/console-init/ui/src/graphql-module/queries/Address.ts
  console/console-init/ui/src/modules/address-detail/AddressDetailPage.tsx
  console/console-init/ui/src/schema/ResponseTypes.ts
Labels: component/console-ui

#4510 Implement a GraphQL messaging endpoint API as a facade over addressspaces
  CHANGELOG.md
  console/console-init/ui/mock-console-server/README.md
  console/console-init/ui/mock-console-server/mock-console-server.js
  console/console-init/ui/mock-console-server/schema.js
  console/console-init/ui/mock-console-server/test/mock.js
  console/console-server/src/main/resources/gqlgen.yml
  console/console-server/src/main/resources/schema.graphql
  go.mod
  pkg/apis/enmasse/v1beta1/types.go
  pkg/apis/enmasse/v1beta1/zz_generated.deepcopy.go
  pkg/consolegraphql/resolvers/generated.go
  pkg/consolegraphql/resolvers/models_gen.go
  pkg/consolegraphql/resolvers/resolver_link.go
  pkg/consolegraphql/resolvers/resolver_messagingendpoint.go
  pkg/consolegraphql/resolvers/resolver_messagingendpoint_test.go
  pkg/consolegraphql/resolvers/test_utils.go
  pkg/consolegraphql/server/handler.go
Labels: component/console-backend

#4571 System test for close connection feature
  console/console-init/ui/src/modules/address/components/AddressList/AddressList.tsx
  console/console-init/ui/src/modules/connection/components/ConnectionList/ConnectionList.tsx
  systemtests/src/main/java/io/enmasse/systemtest/messagingclients/ExternalMessagingClient.java
  systemtests/src/main/java/io/enmasse/systemtest/selenium/page/ConsoleWebPage.java
  systemtests/src/main/java/io/enmasse/systemtest/selenium/resources/AddressWebItem.java
  systemtests/src/main/java/io/enmasse/systemtest/selenium/resources/ConnectionWebItem.java
  systemtests/src/main/java/io/enmasse/systemtest/selenium/resources/SortType.java
  systemtests/src/test/java/io/enmasse/systemtest/bases/web/ConsoleTest.java
  systemtests/src/test/java/io/enmasse/systemtest/shared/brokered/web/FirefoxConsoleTest.java
  systemtests/src/test/java/io/enmasse/systemtest/shared/standard/web/FirefoxConsoleTest.java
Labels: component/systemtests

#4582 Stability improvments for the addressspace/address/connection 'gone-away' page tests
  systemtests/src/main/java/io/enmasse/systemtest/selenium/page/ConsoleWebPage.java
  systemtests/src/test/java/io/enmasse/systemtest/bases/web/ConsoleTest.java
  systemtests/src/test/java/io/enmasse/systemtest/isolated/web/ChromeConsoleTest.java
  systemtests/src/test/java/io/enmasse/systemtest/isolated/web/FirefoxConsoleTest.java
  systemtests/src/test/java/io/enmasse/systemtest/shared/standard/web/ChromeConsoleTest.java
  systemtests/src/test/java/io/enmasse/systemtest/shared/standard/web/FirefoxConsoleTest.java
Labels: component/systemtests

#4555 Enforce presence of routeServicePort in route endpoints definitions
  CHANGELOG.md
  templates/crds/addressspaces.crd.yaml
Labels: kind/bug

#4584 Changes for MetadataListTable and create PasswordLabel component
  console/console-init/ui/src/components/MetadataListTable/MetadataListTable.tsx
  console/console-init/ui/src/components/MetadataListTable/TableRow.tsx
  console/console-init/ui/src/components/PasswordLabel/PasswordLabel.tsx
  console/console-init/ui/src/components/PasswordLabel/index.ts
  console/console-init/ui/src/components/index.ts
  console/console-init/ui/src/modules/device-detail/components/CredentialsView/SecretsView/SecretsView.tsx
  console/console-init/ui/src/modules/device-detail/components/DeviceInfo/DeviceInfo.tsx
  console/console-init/ui/src/modules/device-detail/components/DeviceInfoGateways/DeviceInfoGateways.tsx
  console/console-init/ui/src/modules/device-detail/components/DeviceInfoGateways/index.ts
  console/console-init/ui/src/modules/device-detail/components/DeviceInfoMetadata/DeviceInfoMetadata.tsx
  console/console-init/ui/src/modules/device-detail/components/index.ts
  console/console-init/ui/src/stories/MetadataListTable.stories.tsx
Labels: component/console-ui

#4595 Push documentation directly to website
  .github/scripts/copy_docs.sh
  .github/scripts/install_dep.sh
  .github/workflows/master.yml
  .github/workflows/release.yml
  HACKING.md
  Makefile
  Makefile.java.mk
  documentation/Makefile
  documentation/common/attributes.adoc
  documentation/contributing/files.adoc
  documentation/contributing/introduction.adoc
  documentation/contributing/make-tooling.adoc
  documentation/kubernetes/assemblies
  documentation/kubernetes/common
  documentation/kubernetes/master.adoc
  documentation/kubernetes/modules
  documentation/openshift/assemblies
  documentation/openshift/common
  documentation/openshift/master.adoc
  documentation/openshift/modules
  documentation/pom.xml
  pom.xml
  scripts/check_docs.sh
Labels: Do Not Merge

#4589 Add IoT device registry management API documentation
  documentation/Makefile
  documentation/common/device-management-reference.adoc
  documentation/kubernetes/master.adoc
  documentation/openshift/master.adoc
  documentation/src/main/resources/eclipse-hono.yaml
Labels: component/iot

#4599 Fix double "enmasse_" prefix on metrics
  pkg/custom-metrics/iot.go
Labels: component/iot

#4601 Add testing scope
  iot/iot-tenant-service/pom.xml
Labels: component/iot

#4594 Docs: Add procedure for closing connections using Console
  documentation/assemblies/assembly-using-console.adoc
  documentation/modules/proc-closing-connections.adoc
Labels: component/documentation, status/SME Review Done

#4576 Rename the field "phaseReason" to "message"
  api-model/src/main/java/io/enmasse/iot/model/v1/IoTConfigStatus.java
  api-model/src/main/java/io/enmasse/iot/model/v1/IoTProjectStatus.java
  pkg/apis/iot/v1alpha1/types_config.go
  pkg/apis/iot/v1alpha1/types_project.go
  pkg/controller/iotconfig/conditions.go
  pkg/controller/iotconfig/iotconfig_controller.go
  pkg/controller/iotproject/external.go
  pkg/controller/iotproject/iotproject_controller.go
  pkg/controller/iotproject/managed.go
  templates/crds/iotconfigs.crd.yaml
  templates/crds/iotprojects.crd.yaml
Labels: component/iot

#4619 Add missing secrets in example k8s IoTConfig
  templates/iot/examples/iot-config-k8s.yaml
Labels: component/iot

#4578 [Console-Iot] Update project detail section to include token and messaging URL
  console/console-init/ui/src/components/MetadataListTable/MetadataListTable.tsx
  console/console-init/ui/src/constant/constants.ts
  console/console-init/ui/src/modules/address-space/utils/AddressSpaceFormatter.tsx
  console/console-init/ui/src/modules/address-space/utils/TableFormatter.tsx
  console/console-init/ui/src/modules/device-detail/components/CredentialsView/ExtensionsView/ExtensionsView.tsx
  console/console-init/ui/src/modules/device/components/AddDeviceWithJson/AddDeviceWithJson.tsx
  console/console-init/ui/src/modules/device/components/DeviceFilter/DeviceFilter.tsx
  console/console-init/ui/src/modules/project-detail/components/AccessCredentials/AccessCredentials.tsx
  console/console-init/ui/src/modules/project-detail/components/DeviceRegistrationManagement/DeviceRegistrationManagement.tsx
  console/console-init/ui/src/modules/project-detail/components/GeneralInfo/GeneralInfo.test.tsx
  console/console-init/ui/src/modules/project-detail/components/GeneralInfo/GeneralInfo.tsx
  console/console-init/ui/src/stories/ProjectDetail.stories.tsx
  console/console-init/ui/src/stories/ProjectDetailPage.stories.tsx
  console/console-init/ui/src/utils/utils.ts
Labels: component/console-ui

#4615 Refactor GraphQL messagingEndpoints to bind the Go enumerations
  console/console-init/ui/mock-console-server/schema.js
  console/console-server/src/main/resources/gqlgen.yml
  console/console-server/src/main/resources/schema.graphql
  pkg/consolegraphql/resolvers/generated.go
  pkg/consolegraphql/resolvers/models_gen.go
  pkg/consolegraphql/resolvers/resolver_messagingendpoint.go
  pkg/consolegraphql/resolvers/resolver_messagingendpoint_test.go
Labels: component/console-backend

#4586 Refactor GraphQL query in client side for deleteAddressSpace and deleteAddress to send many target objects
  console/console-init/ui/src/graphql-module/queries/Address.ts
  console/console-init/ui/src/graphql-module/queries/AddressSpace.ts
  console/console-init/ui/src/modules/address-detail/AddressDetailPage.tsx
  console/console-init/ui/src/modules/address-space/AddressSpaceDetailPage.tsx
  console/console-init/ui/src/modules/address-space/AddressSpacePage.tsx
  console/console-init/ui/src/modules/address-space/containers/AddressSpaceListContainer/AddressSpaceListContainer.tsx
  console/console-init/ui/src/modules/address/AddressPage.tsx
  console/console-init/ui/src/modules/address/containers/AddressListContainer/AddressListContainer.tsx
Labels: component/console-ui

#4603 Console-UI Modify client side error handling for multiple errors
  console/console-init/ui/src/components/ServerMessageAlert/ServerMessageAlert.tsx
Labels: component/console-ui

#4628 Fix the selector of the device registry external service
  pkg/controller/iotconfig/device_registry.go
Labels: component/iot

#4632 Prevent global logging to overide local configuration
  pkg/apis/iot/v1alpha1/funcs.go
Labels: component/iot

#4638 Docs:Fix namespace for IoT devices
  documentation/modules/proc-iot-api.adoc
  documentation/modules/proc-iot-installing-cli.adoc
Labels: component/documentation, status/SME Review Needed

#4635 Cleanup test, be more explicit in what is being tested
  iot/iot-tenant-service/src/test/java/io/enmasse/iot/tenant/impl/TenantServiceImplTest.java
Labels: component/iot

#4606 Add documentation for IoT logging
  documentation/assemblies/assembly-iot-service-admin-guide.adoc
  documentation/modules/con-iot-logging.adoc
  documentation/modules/proc-iot-logging.adoc
Labels: component/documentation, component/iot

#4648 correct capitalisation of v1beta2 enums in GraphQL schema
  console/console-init/ui/mock-console-server/mock-console-server.js
  console/console-init/ui/mock-console-server/schema.js
  console/console-init/ui/mock-console-server/test/mock.js
  console/console-server/src/main/resources/schema.graphql
  pkg/consolegraphql/resolvers/generated.go
Labels: component/console-backend

#4649 Docs:Fix IoT device namespace for receiving commands using mqtt
  documentation/modules/proc-iot-receiving-commands-mqtt.adoc
Labels: component/documentation, status/SME Review Done

#4644 Fix: failing UI build and unit tests
  console/console-init/ui/src/modules/iot-certificates/components/CertificateForm/CertificateForm.tsx
  console/console-init/ui/src/modules/iot-project-detail/components/GeneralInfo/GeneralInfo.test.tsx
  console/console-init/ui/src/modules/project/components/MessagingConfigurationStep/MessagingConfigurationStep.tsx
  console/console-init/ui/src/modules/project/dailogs/index.ts
Labels: component/console-ui
