Repository EnMasseProject/enmasse, pull requests merged in 2020-07, with the labels that each got.

#4865 Fix issue converting map to sorted map
  pkg/util/cchange/change.go
Labels: component/iot, lang/go

#4858 Docs:Fix config examples
  documentation/modules/proc-enable-tenant-metrics.adoc
  documentation/modules/proc-installing-using-ansible.adoc
Labels: Peer Review Done, component/documentation, status/SME Review Needed

#4880 Feat: Integrate Project Detail Info page with mock-server
  console/console-init/ui/mock-console-server/mock-console-server.js
  console/console-init/ui/mock-console-server/schema.js
  console/console-init/ui/src/graphql-module/queries/iot_project.ts
  console/console-init/ui/src/modules/iot-project-detail/IoTProjectDetailInfoPage.tsx
  console/console-init/ui/src/modules/iot-project-detail/components/AccessCredentials/AccessCredentials.tsx
  console/console-init/ui/src/modules/iot-project-detail/components/DeviceRegistrationManagement/DeviceRegistrationManagement.tsx
  console/console-init/ui/src/modules/iot-project-detail/components/GeneralInfo/GeneralInfo.tsx
  console/console-init/ui/src/modules/iot-project-detail/containers/IoTProjectDetailHeaderContainer/IoTProjectDetailHeaderContainer.tsx
  console/console-init/ui/src/schema/iot_project.ts
  console/console-init/ui/src/stories/ProjectDetail.stories.tsx
  console/console-init/ui/src/stories/ProjectDetailPage.stories.tsx
Labels: component/console-ui

#4886 Fix: changes in device list page
  console/console-init/ui/src/modules/iot-device/DeviceListPage.tsx
  console/console-init/ui/src/modules/iot-device/components/DeviceFilter/DeviceFilter.tsx
  console/console-init/ui/src/modules/iot-device/components/DeviceList/DeviceList.test.tsx
  console/console-init/ui/src/modules/iot-device/components/DeviceList/DeviceList.tsx
  console/console-init/ui/src/modules/iot-device/containers/DeviceListContainer/DeviceListContainer.tsx
  console/console-init/ui/src/modules/iot-device/utils/TableFormatter.tsx
  console/console-init/ui/src/modules/iot-project-detail/components/GeneralInfo/GeneralInfo.tsx
  console/console-init/ui/src/stories/DeviceList.stories.tsx
  console/console-init/ui/src/stories/DeviceListPage.stories.tsx
Labels: component/console-ui

#4924 Remove use-patternfly's dependency
  console/console-init/ui/package.json
  console/console-init/ui/yarn.lock
Labels: component/console-ui

#4931 Feat: implement iot device status toggle
  console/console-init/ui/src/graphql-module/queries/iot_device.ts
  console/console-init/ui/src/modules/iot-device-detail/DeviceDetailPage.tsx
  console/console-init/ui/src/modules/iot-device-detail/components/DeviceDetailHeader/DeviceDetailHeader.tsx
  console/console-init/ui/src/modules/iot-device/DeviceListPage.tsx
  console/console-init/ui/src/modules/iot-device/components/DeviceFilter/DeviceFilter.tsx
  console/console-init/ui/src/modules/iot-device/containers/DeviceListContainer/DeviceListContainer.tsx
Labels: component/console-ui

#4927 Parallel tests + new resource manager
  systemtests/pom.xml
  systemtests/src/main/java/io/enmasse/systemtest/framework/TestLifecycleManager.java
  systemtests/src/main/java/io/enmasse/systemtest/framework/TestPlanExecutionManager.java
  systemtests/src/main/java/io/enmasse/systemtest/framework/annotations/DefaultMessagingInfrastructureExtension.java
  systemtests/src/main/java/io/enmasse/systemtest/framework/annotations/DefaultMessagingProjectExtension.java
  systemtests/src/main/java/io/enmasse/systemtest/framework/annotations/ParallelTest.java
  systemtests/src/main/java/io/enmasse/systemtest/messaginginfra/ResourceManager.java
  systemtests/src/main/java/io/enmasse/systemtest/platform/GenericKubernetes.java
  systemtests/src/main/java/io/enmasse/systemtest/platform/Kubernetes.java
  systemtests/src/main/java/io/enmasse/systemtest/platform/Minikube.java
  systemtests/src/main/java/io/enmasse/systemtest/platform/OpenShift.java
  systemtests/src/main/resources/logback.xml
  systemtests/src/test/java/io/enmasse/systemtest/TestBase.java
  systemtests/src/test/java/io/enmasse/systemtest/sharedinfra/DefaultsTest.java
  systemtests/src/test/java/io/enmasse/systemtest/sharedinfra/MessagingAddressJMSTest.java
  systemtests/src/test/java/io/enmasse/systemtest/sharedinfra/MessagingAddressPerfTest.java
  systemtests/src/test/java/io/enmasse/systemtest/sharedinfra/MessagingAddressTest.java
  systemtests/src/test/java/io/enmasse/systemtest/sharedinfra/MessagingEndpointTest.java
  systemtests/src/test/java/io/enmasse/systemtest/sharedinfra/MessagingInfrastructureTest.java
  systemtests/src/test/java/io/enmasse/systemtest/sharedinfra/MessagingProjectTest.java
  systemtests/src/test/resources/META-INF/services/org.junit.platform.launcher.TestExecutionListener
Labels: component/systemtests

#4863 [Shared Infra] [Identity] Basic Access Control Server
  Makefile
  Makefile.env.mk
  access-control-server/Dockerfile
  access-control-server/Makefile
  access-control-server/README.md
  access-control-server/pom.xml
  access-control-server/src/assembly/unix-dist.xml
  cmd/access-control-server/main.go
  controller-manager/Makefile
  controller-manager/src/assembly/unix-dist.xml
  go.mod
  go.sum
  olm-manifest/src/main/resources/latest/enmasse.clusterserviceversion.yaml
  pkg/accesscontrolserver/amqp/buffer.go
  pkg/accesscontrolserver/amqp/decode.go
  pkg/accesscontrolserver/amqp/encode.go
  pkg/accesscontrolserver/amqp/error_stdlib.go
  pkg/accesscontrolserver/amqp/external_auth_server_api.go
  pkg/accesscontrolserver/amqp/incoming.go
  pkg/accesscontrolserver/amqp/log_debug.go
  pkg/accesscontrolserver/amqp/sasl.go
  pkg/accesscontrolserver/amqp/sasl_test.go
  pkg/accesscontrolserver/amqp/types.go
  pkg/accesscontrolserver/server.go
  pkg/accesscontrolserver/server_test.go
  pkg/apis/enmasse/v1/types_infra.go
  pkg/apis/enmasse/v1/zz_generated.deepcopy.go
  pkg/controller/messaginginfra/accesscontrol/controller.go
  pkg/controller/messaginginfra/accesscontrol/controller_test.go
  pkg/controller/messaginginfra/accesscontrol/operatorImageMap.yaml
  pkg/controller/messaginginfra/messaginginfra_controller.go
  pkg/controller/messaginginfra/router/controller.go
  pkg/controller/messaginginfra/router/router_config.go
  pkg/state/infra.go
  pkg/state/infra_test.go
  pkg/state/manager.go
  pkg/state/router/router.go
  pkg/state/router/types.go
  pkg/util/images/mapping.go
  pom.xml
  systemtests/src/main/java/io/enmasse/systemtest/messagingclients/MessagingClientRunner.java
  templates/Makefile
  templates/crds/enmasse.io_messaginginfrastructures.yaml
  templates/enmasse-operator/enmasse-operator.deployment.yaml
  vendor/modules.txt
  vendor/pack.ag/amqp/client.go
  vendor/pack.ag/amqp/conn.go
  vendor/pack.ag/amqp/go.mod
Labels: component/access-control

#4948 Fix systemtests SKIP_CLEANUP and SKIP_UNINSTALL
  systemtests/src/main/java/io/enmasse/systemtest/framework/TestLifecycleManager.java
  systemtests/src/main/java/io/enmasse/systemtest/framework/TestPlanExecutionManager.java
Labels: component/systemtests

#4958 simply re-create certificates
  systemtests/src/main/java/io/enmasse/systemtest/iot/IoTTestSession.java
Labels: component/iot, component/systemtests

#4963 Delete old systemtests scripts and ansible
  systemtests/ansible/inventory/systemtests.inventory
  systemtests/ansible/inventory/systemtests.ocp4.inventory
  systemtests/scripts/create_address.sh
  systemtests/scripts/create_address_space.sh
  systemtests/scripts/create_user.sh
  systemtests/scripts/deploy_enmasse.sh
  systemtests/scripts/download_released_enmasse.sh
  systemtests/scripts/login_cluster_user.sh
  systemtests/scripts/pod-logs.sh
  systemtests/scripts/setup-oc.sh
  systemtests/scripts/setup_tck.sh
  systemtests/scripts/store_kubernetes_info.sh
  systemtests/scripts/system-stats.sh
  systemtests/scripts/test_func.sh
  systemtests/scripts/wait_until_agent_ready.sh
  systemtests/scripts/wait_until_file_close.sh
  systemtests/scripts/wait_until_up.sh
Labels: component/systemtests

#4956 Switch back to interconnectedcloud-go-amqp now PR #1 is merged.
  go.mod
  go.sum
  vendor/modules.txt
  vendor/pack.ag/amqp/go.mod
Labels: component/access-control

#4952 Chore: make changes to DeviceList
  console/console-init/ui/mock-console-server/README.md
  console/console-init/ui/mock-console-server/mock-console-server.js
  console/console-init/ui/src/graphql-module/queries/iot_device.ts
  console/console-init/ui/src/modules/iot-device-detail/DeviceDetailPage.tsx
  console/console-init/ui/src/modules/iot-device-detail/components/DeviceInfo/DeviceInfo.tsx
  console/console-init/ui/src/modules/iot-device/DeviceListPage.tsx
  console/console-init/ui/src/modules/iot-device/components/DeviceList/DeviceList.tsx
  console/console-init/ui/src/modules/iot-device/components/DeviceListToolbar/DeviceListToolbar.tsx
  console/console-init/ui/src/modules/iot-device/components/DeviceListToolbar/pf-overrides.css
  console/console-init/ui/src/modules/iot-device/containers/DeviceListContainer/DeviceListContainer.tsx
  console/console-init/ui/src/modules/iot-device/containers/EmptyDeviceContainer/EmptyDeviceContainer.tsx
  console/console-init/ui/src/modules/iot-device/utils/TableFormatter.tsx
  console/console-init/ui/src/modules/iot-project-detail/IoTProjectDetailPage.tsx
  console/console-init/ui/src/modules/project/components/ProjectList/ProjectList.test.tsx
  console/console-init/ui/src/schema/iot_device.ts
  console/console-init/ui/src/stories/DeviceList.stories.tsx
  console/console-init/ui/src/stories/DeviceListPage.stories.tsx
Labels: component/console-ui

#4974 upgrade to go 1.14
  Makefile
  Makefile.go.mk
  broker-plugin/Makefile
  console/console-server/Makefile
  go.mod
  hack/generate-groups.sh
  hack/verify-codegen.sh
  vendor/k8s.io/kube-aggregator/LICENSE
  vendor/k8s.io/kube-aggregator/pkg/apis/apiregistration/doc.go
  vendor/k8s.io/kube-aggregator/pkg/apis/apiregistration/helpers.go
  vendor/k8s.io/kube-aggregator/pkg/apis/apiregistration/register.go
  vendor/k8s.io/kube-aggregator/pkg/apis/apiregistration/types.go
  vendor/k8s.io/kube-aggregator/pkg/apis/apiregistration/v1/defaults.go
  vendor/k8s.io/kube-aggregator/pkg/apis/apiregistration/v1/doc.go
  vendor/k8s.io/kube-aggregator/pkg/apis/apiregistration/v1/generated.pb.go
  vendor/k8s.io/kube-aggregator/pkg/apis/apiregistration/v1/generated.proto
  vendor/k8s.io/kube-aggregator/pkg/apis/apiregistration/v1/register.go
  vendor/k8s.io/kube-aggregator/pkg/apis/apiregistration/v1/types.go
  vendor/k8s.io/kube-aggregator/pkg/apis/apiregistration/v1/zz_generated.conversion.go
  vendor/k8s.io/kube-aggregator/pkg/apis/apiregistration/v1/zz_generated.deepcopy.go
  vendor/k8s.io/kube-aggregator/pkg/apis/apiregistration/v1/zz_generated.defaults.go
  vendor/k8s.io/kube-aggregator/pkg/apis/apiregistration/v1beta1/defaults.go
  vendor/k8s.io/kube-aggregator/pkg/apis/apiregistration/v1beta1/doc.go
  vendor/k8s.io/kube-aggregator/pkg/apis/apiregistration/v1beta1/generated.pb.go
  vendor/k8s.io/kube-aggregator/pkg/apis/apiregistration/v1beta1/generated.proto
  vendor/k8s.io/kube-aggregator/pkg/apis/apiregistration/v1beta1/register.go
  vendor/k8s.io/kube-aggregator/pkg/apis/apiregistration/v1beta1/types.go
  vendor/k8s.io/kube-aggregator/pkg/apis/apiregistration/v1beta1/zz_generated.conversion.go
  vendor/k8s.io/kube-aggregator/pkg/apis/apiregistration/v1beta1/zz_generated.deepcopy.go
  vendor/k8s.io/kube-aggregator/pkg/apis/apiregistration/v1beta1/zz_generated.defaults.go
  vendor/k8s.io/kube-aggregator/pkg/apis/apiregistration/zz_generated.deepcopy.go
  vendor/k8s.io/kube-aggregator/pkg/client/clientset_generated/clientset/clientset.go
  vendor/k8s.io/kube-aggregator/pkg/client/clientset_generated/clientset/doc.go
  vendor/k8s.io/kube-aggregator/pkg/client/clientset_generated/clientset/scheme/doc.go
  vendor/k8s.io/kube-aggregator/pkg/client/clientset_generated/clientset/scheme/register.go
  vendor/k8s.io/kube-aggregator/pkg/client/clientset_generated/clientset/typed/apiregistration/v1/apiregistration_client.go
  vendor/k8s.io/kube-aggregator/pkg/client/clientset_generated/clientset/typed/apiregistration/v1/apiservice.go
  vendor/k8s.io/kube-aggregator/pkg/client/clientset_generated/clientset/typed/apiregistration/v1/doc.go
  vendor/k8s.io/kube-aggregator/pkg/client/clientset_generated/clientset/typed/apiregistration/v1/generated_expansion.go
  vendor/k8s.io/kube-aggregator/pkg/client/clientset_generated/clientset/typed/apiregistration/v1beta1/apiregistration_client.go
  vendor/k8s.io/kube-aggregator/pkg/client/clientset_generated/clientset/typed/apiregistration/v1beta1/apiservice.go
  vendor/k8s.io/kube-aggregator/pkg/client/clientset_generated/clientset/typed/apiregistration/v1beta1/doc.go
  vendor/k8s.io/kube-aggregator/pkg/client/clientset_generated/clientset/typed/apiregistration/v1beta1/generated_expansion.go
  vendor/k8s.io/utils/pointer/OWNERS
  vendor/k8s.io/utils/pointer/pointer.go
  vendor/modules.txt
Labels: lang/go

#4967 On OpenShift, use quay.io/openshift/origin-oauth-proxy:latest
  Makefile.env.mk
Labels: component/console-ui

#4979 Chore: add use-patternfly to dependencies and remove its source files
  console/console-init/ui/package.json
  console/console-init/ui/src/use-patternfly/AppLayout.tsx
  console/console-init/ui/src/use-patternfly/AppNavExpandable.tsx
  console/console-init/ui/src/use-patternfly/AppNavGroup.tsx
  console/console-init/ui/src/use-patternfly/AppNavItem.tsx
  console/console-init/ui/src/use-patternfly/FormatDate.tsx
  console/console-init/ui/src/use-patternfly/FormatDistance.tsx
  console/console-init/ui/src/use-patternfly/FormatRelative.tsx
  console/console-init/ui/src/use-patternfly/LazyRoute.tsx
  console/console-init/ui/src/use-patternfly/Loading.tsx
  console/console-init/ui/src/use-patternfly/NotFound.tsx
  console/console-init/ui/src/use-patternfly/SwitchWith404.tsx
  console/console-init/ui/src/use-patternfly/index.ts
  console/console-init/ui/src/use-patternfly/types.ts
  console/console-init/ui/src/use-patternfly/useA11yRoute.ts
  console/console-init/ui/src/use-patternfly/useBreadcrumb.tsx
  console/console-init/ui/src/use-patternfly/useDocumentTitle.ts
  console/console-init/ui/yarn.lock
Labels: component/console-ui

#4981 fix typo
  systemtests/src/main/java/io/enmasse/systemtest/messaginginfra/ResourceManager.java
Labels: component/systemtests

#4980 fix broken yaml
  templates/enmasse-operator/enmasse-operator.clusterrole.yaml
Labels: component/enmasse-operator

#4972 [Console-iot] Create Device Inpage Wizard
  console/console-init/ui/src/Routes.tsx
  console/console-init/ui/src/components/RootModal/RootModal.tsx
  console/console-init/ui/src/context-state-reducer/actions.ts
  console/console-init/ui/src/modules/iot-device/DeviceListPage.tsx
  console/console-init/ui/src/modules/iot-device/components/CreateDeviceButton/CreateDeviceButton.tsx
  console/console-init/ui/src/modules/iot-device/dialogs/CreateDevice/CreateDevicePage.tsx
  console/console-init/ui/src/modules/iot-device/dialogs/CreateDevice/DeviceInformation.tsx
  console/console-init/ui/src/modules/iot-device/dialogs/CreateDevice/index.ts
  console/console-init/ui/src/stories/CreateDevice.stories.tsx
Labels: component/console-ui

#4990 Docs:Fix config examples
  documentation/modules/proc-enable-tenant-metrics.adoc
  documentation/modules/proc-installing-using-ansible.adoc
Labels: component/documentation, status/SME Review Done

#4998 [Console-iot] fix applayout breaking changes due to PF upgrade
  console/console-init/ui/src/AppNavHeader.tsx
Labels: component/console-ui

#4999 [Console-iot UI] Include project list query changes in UI
  console/console-init/ui/src/containers/AdapterListContainer/AdapterListContainer.tsx
  console/console-init/ui/src/graphql-module/queries/iot_project.ts
  console/console-init/ui/src/modules/iot-project-detail/IoTProjectDetailInfoPage.tsx
  console/console-init/ui/src/modules/iot-project-detail/containers/IoTProjectDetailHeaderContainer/IoTProjectDetailHeaderContainer.tsx
  console/console-init/ui/src/modules/project/containers/ProjectListContainer/ProjectListContainer.tsx
  console/console-init/ui/src/schema/index.ts
  console/console-init/ui/src/schema/iot_project.ts
Labels: component/console-ui

#4997 Chore: modify device list and device detail queries according to the mock server
  console/console-init/ui/mock-console-server/mock-console-server.js
  console/console-init/ui/mock-console-server/schema.js
  console/console-init/ui/src/graphql-module/queries/iot_device.ts
  console/console-init/ui/src/modules/iot-device-detail/DeviceDetailPage.tsx
  console/console-init/ui/src/modules/iot-device-detail/containers/DeviceInfoContainer/DeviceInfoContainer.tsx
  console/console-init/ui/src/modules/iot-device/components/DeviceList/DeviceList.tsx
  console/console-init/ui/src/modules/iot-device/containers/DeviceListContainer/DeviceListContainer.tsx
  console/console-init/ui/src/modules/iot-device/containers/EditDeviceInJsonContainer/EditDeviceInJsonContainer.tsx
  console/console-init/ui/src/modules/iot-device/containers/EditGatewaysContainer/EditGatewaysContainer.tsx
  console/console-init/ui/src/modules/iot-device/utils/TableFormatter.tsx
  console/console-init/ui/src/schema/iot_device.ts
  console/console-init/ui/src/stories/DeviceList.stories.tsx
Labels: component/console-ui

#4965 Add iot job to smoke job
  .github/workflows/smoke.yml
  systemtests/src/main/java/io/enmasse/systemtest/iot/HttpAdapterClient.java
  systemtests/src/main/java/io/enmasse/systemtest/platform/Kind.java
  systemtests/src/main/java/io/enmasse/systemtest/platform/Kubernetes.java
  systemtests/src/main/java/io/enmasse/systemtest/platform/cluster/ClusterType.java
  systemtests/src/main/java/io/enmasse/systemtest/platform/cluster/KindCluster.java
  systemtests/src/main/java/io/enmasse/systemtest/platform/cluster/KubeCluster.java
  systemtests/src/test/java/io/enmasse/systemtest/iot/http/StandardIoTHttpTests.java
Labels: component/iot

#4994 Docs:Fix config examples
  documentation/modules/proc-enable-tenant-metrics.adoc
  documentation/modules/proc-installing-using-ansible.adoc
Labels: component/documentation, status/SME Review Done

#5010 Fix console-server docker entrypoint
  console/console-server/Dockerfile
Labels: component/console-backend

#5011 [Access Control] Remove Go-shim func now we are on Go 1.14
  HACKING.md
  pkg/accesscontrolserver/amqp/types.go
Labels: component/access-control

#5019 Ensure that IoT roles iot-tenant-service/iot-device-connection have distinct permission sets
  olm-manifest/src/main/resources/latest/enmasse.clusterserviceversion.yaml
Labels: component/olm

#4957 Drop dead code
  api-model/src/main/java/io/enmasse/iot/model/v1/CollectorConfig.java
  api-model/src/main/java/io/enmasse/iot/model/v1/ServicesConfig.java
  cmd/iot-proxy-configurator/configurator.go
  cmd/iot-proxy-configurator/main.go
Labels: component/iot

#5031 Bump postgresql-jdbc from 42.2.13 -> 42.2.14
  iot/pom.xml
Labels: component/iot

#5007 [console-iot] integrate create device using json component in page
  console/console-init/ui/src/Routes.tsx
  console/console-init/ui/src/modules/iot-device/DeviceListPage.tsx
  console/console-init/ui/src/modules/iot-device/components/AddDeviceWithJson/AddDeviceWithJson.tsx
  console/console-init/ui/src/modules/iot-device/components/AddDeviceWithJson/AddJsonUsingTemplate.tsx
  console/console-init/ui/src/modules/iot-device/components/index.ts
  console/console-init/ui/src/modules/iot-device/dialogs/CreateDevice/CreateDevicePage.tsx
  console/console-init/ui/src/modules/iot-device/dialogs/CreateDevice/CreateDeviceUsingJsonPage.tsx
  console/console-init/ui/src/stories/AddDeviceWithJson.stories.tsx
Labels: component/console-ui

#5037 [fix-id-issue] fix tests failing due to not finding element by id ("main-container")
  console/console-init/ui/src/AppLayout.tsx
Labels: component/console-ui

#5044 Chore: handle order by dates for DeviceList
  console/console-init/ui/src/graphql-module/queries/iot_device.ts
  console/console-init/ui/src/modules/iot-device/components/DeviceFilter/AddCriteria.tsx
  console/console-init/ui/src/modules/iot-device/components/DeviceList/DeviceList.tsx
Labels: component/console-ui

#5038 Bring back command and control tests
  systemtests/src/main/java/io/enmasse/systemtest/amqp/AmqpClient.java
  systemtests/src/main/java/io/enmasse/systemtest/framework/LoggerUtils.java
  systemtests/src/main/java/io/enmasse/systemtest/iot/AmqpAdapterClient.java
  systemtests/src/main/java/io/enmasse/systemtest/iot/CommandTester.java
  systemtests/src/main/java/io/enmasse/systemtest/iot/HttpAdapterClient.java
  systemtests/src/main/java/io/enmasse/systemtest/iot/IoTTestSession.java
  systemtests/src/main/java/io/enmasse/systemtest/iot/IoTUtils.java
  systemtests/src/main/java/io/enmasse/systemtest/iot/MessageSendTester.java
  systemtests/src/main/java/io/enmasse/systemtest/iot/MessageType.java
  systemtests/src/main/java/io/enmasse/systemtest/iot/MqttAdapterClient.java
  systemtests/src/main/java/io/enmasse/systemtest/utils/TestUtils.java
  systemtests/src/test/java/io/enmasse/systemtest/iot/CommandTesterTest.java
  systemtests/src/test/java/io/enmasse/systemtest/iot/CredentialsTest.java
  systemtests/src/test/java/io/enmasse/systemtest/iot/IoTTestSessionTest.java
  systemtests/src/test/java/io/enmasse/systemtest/iot/amqp/AmqpSubordinate.java
  systemtests/src/test/java/io/enmasse/systemtest/iot/amqp/StandardIoTAmqpTests.java
  systemtests/src/test/java/io/enmasse/systemtest/iot/http/HttpSubordinate.java
  systemtests/src/test/java/io/enmasse/systemtest/iot/http/StandardIoTHttpTests.java
  systemtests/src/test/java/io/enmasse/systemtest/iot/isolated/AbstractMaxPayloadSizeTest.java
  systemtests/src/test/java/io/enmasse/systemtest/iot/isolated/amqp/AmqpAdapterTest.java
  systemtests/src/test/java/io/enmasse/systemtest/iot/isolated/mqtt/MaxPayloadSizeTest.java
  systemtests/src/test/java/io/enmasse/systemtest/iot/isolated/mqtt/MqttAdapterTest.java
  systemtests/src/test/java/io/enmasse/systemtest/iot/isolated/tls/ReloadCertificatesTest.java
  systemtests/src/test/java/io/enmasse/systemtest/iot/isolated/tls/TlsVersionTest.java
  systemtests/src/test/java/io/enmasse/systemtest/iot/isolated/x509/StandardX509Cases.java
  systemtests/src/test/java/io/enmasse/systemtest/iot/isolated/x509/TrustAnchorTest.java
  systemtests/src/test/java/io/enmasse/systemtest/iot/isolated/x509/X509EcAuthenticationTest.java
  systemtests/src/test/java/io/enmasse/systemtest/iot/isolated/x509/X509RsaAuthenticationTest.java
  systemtests/src/test/java/io/enmasse/systemtest/iot/mqtt/MqttSubordinate.java
  systemtests/src/test/java/io/enmasse/systemtest/iot/mqtt/StandardIoTMqttTests.java
  templates/iot/examples/shared-infra/040-MessagingEndpoint.yaml
Labels: component/iot, component/systemtests

#5045 [Console-Iot] Allow user to edit msg project and download certificate in project list
  console/console-init/ui/src/components/RootModal/RootModal.tsx
  console/console-init/ui/src/context-state-reducer/actions.ts
  console/console-init/ui/src/graphql-module/queries/project.ts
  console/console-init/ui/src/modules/messaging-project/components/EditMsgProject/EditMsgProject.tsx
  console/console-init/ui/src/modules/messaging-project/components/EditMsgProject/index.ts
  console/console-init/ui/src/modules/messaging-project/components/index.ts
  console/console-init/ui/src/modules/messaging-project/index.ts
  console/console-init/ui/src/modules/project/components/ProjectList/ProjectList.test.tsx
  console/console-init/ui/src/modules/project/components/ProjectList/ProjectList.tsx
  console/console-init/ui/src/modules/project/containers/ProjectListContainer/ProjectListContainer.tsx
  console/console-init/ui/src/modules/project/dailogs/EditMsgProject/EditMsgProjectContainer.tsx
  console/console-init/ui/src/modules/project/dailogs/EditMsgProject/index.ts
  console/console-init/ui/src/modules/project/utils/ProjectFormatter.tsx
  console/console-init/ui/src/schema/iot_project.ts
Labels: component/console-ui

#5053 allow running finalizers in parallel
  pkg/util/finalizer/finalizer.go
  pkg/util/finalizer/finalizer_test.go
Labels: component/enmasse-operator

#5029 [Console-IoT]-Add ID to IoT project detail
  console/console-init/ui/src/modules/iot-project-detail/components/AccessCredentials/AccessCredentials.tsx
  console/console-init/ui/src/modules/iot-project-detail/components/DeviceRegistrationManagement/DeviceRegistrationManagement.tsx
  console/console-init/ui/src/modules/iot-project-detail/components/GeneralInfo/GeneralInfo.tsx
  console/console-init/ui/src/modules/iot-project-detail/components/IoTProjectDetailHeader/IoTProjectDetailHeader.tsx
  console/console-init/ui/src/modules/iot-project-detail/components/ProjectNavigation/ProjectNavigation.tsx
Labels: component/console-ui

#5058 improve GH test summary
  systemtests/scripts/build_pr_response.sh
Labels: component/systemtests

#5059 FirefoxConsoleTest.testOpenShiftWithCustomCert on OpenShift 4.5 - add extra Custom cert test logging
  systemtests/src/test/java/io/enmasse/systemtest/bases/web/ConsoleTest.java
Labels: component/systemtests

#5049 [Console-IoT] implement filter for project list
  console/console-init/ui/src/graphql-module/queries/project.ts
  console/console-init/ui/src/modules/address/dialogs/EditAddress/EditAddress.tsx
  console/console-init/ui/src/modules/iot-certificates/IoTCertificatesPage.tsx
  console/console-init/ui/src/modules/project/ProjectPage.tsx
  console/console-init/ui/src/modules/project/components/ProjectDatatoolbarToggleGroup/ProjectDataToolbarToggleGroup.tsx
  console/console-init/ui/src/modules/project/containers/ProjectListContainer/ProjectListContainer.tsx
  console/console-init/ui/src/modules/project/containers/ProjectToolbarContainer/ProjectToolbarContainer.tsx
  console/console-init/ui/src/modules/project/utils/utils.ts
  console/console-init/ui/src/schema/iot_project.ts
Labels: component/console-ui

#5063 Fix FirefoxConsoleTest#testOpenShiftWithCustomCert to work on newer OpenShift
  systemtests/src/test/java/io/enmasse/systemtest/bases/web/ConsoleTest.java
Labels: component/systemtests

#5064 [Console-Iot] add sorting and pagination for project list
  console/console-init/ui/src/graphql-module/queries/project.ts
  console/console-init/ui/src/modules/project/ProjectPage.tsx
  console/console-init/ui/src/modules/project/containers/ProjectListContainer/ProjectListContainer.tsx
Labels: component/console-ui

#5069 fix some testing issues
  systemtests/src/main/java/io/enmasse/systemtest/amqp/AmqpClient.java
  systemtests/src/main/java/io/enmasse/systemtest/amqp/ClientHandlerBase.java
  systemtests/src/main/java/io/enmasse/systemtest/amqp/Receiver.java
  systemtests/src/main/java/io/enmasse/systemtest/iot/CommandTester.java
  systemtests/src/main/java/io/enmasse/systemtest/iot/HttpAdapterClient.java
  systemtests/src/main/java/io/enmasse/systemtest/iot/IoTUtils.java
  systemtests/src/main/java/io/enmasse/systemtest/iot/MessageSendTester.java
  systemtests/src/main/java/io/enmasse/systemtest/platform/apps/SystemtestsKubernetesApps.java
  systemtests/src/test/java/io/enmasse/systemtest/iot/CommandTesterTest.java
  systemtests/src/test/java/io/enmasse/systemtest/iot/http/HttpSubordinate.java
Labels: component/iot, component/systemtests

#5066 Fix: resolve yarn test warnings
  console/console-init/ui/src/components/DropdownWithToggle/DropdownWithToggle.tsx
  console/console-init/ui/src/components/NavToolbar/NavToolbar.tsx
  console/console-init/ui/src/modules/iot-device/components/DeviceListToolbar/DeviceListToolbar.test.tsx
Labels: component/console-ui

#5017 Validate metadata value based on type
  console/console-init/ui/src/modules/iot-device/components/CreateMetadata/MetaDataRow.tsx
  console/console-init/ui/src/modules/iot-device/dialogs/CreateDevice/DeviceInformation.tsx
  console/console-init/ui/src/modules/iot-device/utils/constant.ts
Labels: component/console-ui

#5067 create review device component for create a device
  console/console-init/ui/src/modules/iot-device-detail/components/CredentialsView/CredentialsView.tsx
  console/console-init/ui/src/modules/iot-device-detail/components/CredentialsView/ExtensionsView/ExtensionsView.tsx
  console/console-init/ui/src/modules/iot-device-detail/components/CredentialsView/SecretsView/SecretsView.tsx
  console/console-init/ui/src/modules/iot-device/components/ConnectionTypeStep/ConnectionTypeStep.tsx
  console/console-init/ui/src/modules/iot-device/components/ReviewDevice/ReviewDevice.tsx
  console/console-init/ui/src/modules/iot-device/components/ReviewDevice/index.ts
  console/console-init/ui/src/modules/iot-device/components/index.ts
  console/console-init/ui/src/modules/iot-device/containers/ReviewDeviceContainer/ReviewDeviceContainer.tsx
  console/console-init/ui/src/modules/iot-device/containers/ReviewDeviceContainer/index.ts
  console/console-init/ui/src/modules/iot-device/containers/index.ts
  console/console-init/ui/src/modules/iot-device/dialogs/CreateDevice/CreateDevicePage.tsx
  console/console-init/ui/src/stories/ReviewDevice.stories.tsx
Labels: component/console-ui

#5075 [Console-IoT] remove error column in project list
  console/console-init/ui/src/graphql-module/queries/project.ts
  console/console-init/ui/src/modules/project/components/ProjectList/ProjectList.test.tsx
  console/console-init/ui/src/modules/project/components/ProjectList/ProjectList.tsx
  console/console-init/ui/src/modules/project/containers/ProjectListContainer/ProjectListContainer.tsx
  console/console-init/ui/src/schema/iot_project.ts
Labels: component/console-ui

#5071 Docs:Update procedures for creating custom resource
  documentation/modules/proc-create-address-plan-custom-resource-olm-ui.adoc
  documentation/modules/proc-create-address-space-plan-custom-resource-olm-ui.adoc
  documentation/modules/proc-create-auth-service-custom-resource-olm-ui.adoc
  documentation/modules/proc-create-infraconfig-custom-resource-olm-ui.adoc
  documentation/modules/proc-olm-installing-from-operatorhub-using-console.adoc
Labels: component/documentation, status/SME Review Needed

#4959 Switching to Infinispan 11
  pkg/controller/iotconfig/iotconfig_controller.go
  pkg/controller/iotproject/configuration.go
  pkg/controller/iotproject/iotproject_controller.go
  pkg/controller/messagingaddress/messagingaddress_controller.go
  pkg/controller/messagingendpoint/messagingendpoint_controller.go
  pkg/controller/messaginginfra/messaginginfra_controller.go
  pkg/controller/messagingproject/messagingproject_controller.go
  systemtests/src/main/java/io/enmasse/systemtest/iot/DefaultDeviceRegistry.java
  systemtests/src/main/java/io/enmasse/systemtest/iot/HttpAdapterClient.java
  systemtests/src/main/java/io/enmasse/systemtest/iot/IoTTestSession.java
  systemtests/src/main/java/io/enmasse/systemtest/iot/IoTUtils.java
  systemtests/src/main/java/io/enmasse/systemtest/logs/GlobalLogCollector.java
  systemtests/src/main/java/io/enmasse/systemtest/platform/Kubernetes.java
  systemtests/src/main/java/io/enmasse/systemtest/platform/apps/SystemtestsKubernetesApps.java
  systemtests/src/main/java/io/enmasse/systemtest/utils/Conditions.java
  templates/iot/examples/infinispan/010-Config.yaml
  templates/iot/examples/infinispan/010-Secret.yaml
  templates/iot/examples/infinispan/020-ServiceAccount.yaml
  templates/iot/examples/infinispan/030-Service-headless.yaml
  templates/iot/examples/infinispan/030-Service.yaml
  templates/iot/examples/infinispan/050-StatefulSet.yaml
  templates/iot/examples/infinispan/common/010-Config.yaml
  templates/iot/examples/infinispan/common/010-Secret-con.yaml
  templates/iot/examples/infinispan/common/010-Secret-mgmt.yaml
  templates/iot/examples/infinispan/common/030-Role.yaml
  templates/iot/examples/infinispan/common/030-Service.yaml
  templates/iot/examples/infinispan/common/040-RoleBinding.yaml
  templates/iot/examples/infinispan/common/050-StatefulSet.yaml
  templates/iot/examples/infinispan/kubernetes/060-LoadBalancer.yaml
  templates/iot/examples/infinispan/openshift/060-Route.yaml
Labels: component/iot

#5074 [Console-IoT] Rename use of 'dropdowntoggle' in ID to 'dropdown'
  console/console-init/ui/src/modules/address-detail/AddressDetailPage.tsx
  console/console-init/ui/src/modules/address-detail/components/AddressDetailHeader/AddressDetailHeader.tsx
  console/console-init/ui/src/modules/address-detail/components/AddressLinksToggleGroup/AddressLinksToggleGroup.tsx
  console/console-init/ui/src/modules/address/components/AddressConfiguration/AddressConfiguration.tsx
  console/console-init/ui/src/modules/address/components/AddressListKebab/AddressListKebab.tsx
  console/console-init/ui/src/modules/address/components/AddressToggleGroup/AddressToggleGroup.tsx
  console/console-init/ui/src/modules/connection-detail/ConnectionDetailPage.tsx
  console/console-init/ui/src/modules/connection-detail/components/ConnectionLinksToggleGroup/ConnectionLinksToggleGroup.tsx
  console/console-init/ui/src/modules/connection/components/ConnectionsToggleGroup/ConnectionsToggleGroup.tsx
  console/console-init/ui/src/modules/iot-device-detail/DeviceDetailPage.tsx
  console/console-init/ui/src/modules/iot-device-detail/components/DeviceDetailHeader/DeviceDetailHeader.tsx
  console/console-init/ui/src/modules/iot-device/components/DeviceFilter/DeviceFilter.tsx
  console/console-init/ui/src/modules/iot-device/components/DeviceFilter/LastSeenFilterSection.tsx
  console/console-init/ui/src/modules/iot-device/components/DeviceFilterCriteria/DeviceFilterCriteria.tsx
  console/console-init/ui/src/modules/iot-device/components/DeviceListToolbar/DeviceListToolbar.tsx
  console/console-init/ui/src/modules/iot-device/components/ExtensionList/ExtensionList.tsx
  console/console-init/ui/src/modules/iot-device/dialogs/CreateDevice/CreateDevicePage.tsx
  console/console-init/ui/src/modules/iot-device/dialogs/CreateDevice/CreateDeviceUsingJsonPage.tsx
  console/console-init/ui/src/modules/iot-project-detail/IoTProjectDetailPage.tsx
  console/console-init/ui/src/modules/iot-project-detail/components/DeviceRegistrationManagement/DeviceRegistrationManagement.tsx
  console/console-init/ui/src/modules/iot-project-detail/components/IoTProjectDetailHeader/IoTProjectDetailHeader.tsx
  console/console-init/ui/src/modules/project/components/IoTConfiguration/IoTConfiguration.tsx
  console/console-init/ui/src/modules/project/components/ProjectDatatoolbarToggleGroup/ProjectDataToolbarToggleGroup.tsx
Labels: component/console-ui

#5091 CVE-2020-14319: Deny mutation operations unless an existing session exists
  cmd/console-server/main.go
  pkg/consolegraphql/server/metrics.go
  pkg/consolegraphql/server/query/handler.go
  pkg/consolegraphql/server/query/handler_test.go
  pkg/consolegraphql/server/query/query.go
  pkg/consolegraphql/server/query/query_test.go
  pkg/consolegraphql/server/request_context.go
  pkg/consolegraphql/server/session.go
Labels: component/console-backend

#5077 use routes on OCP4
  systemtests/src/main/java/io/enmasse/systemtest/iot/IoTTestSession.java
Labels: component/iot, component/systemtests

#5087 Log executor only if logging is enabled
  systemtests/src/main/java/io/enmasse/systemtest/executor/Exec.java
  systemtests/src/main/java/io/enmasse/systemtest/platform/Kubernetes.java
Labels: Do Not Merge

#5099 disable test for now
  pkg/controller/iotinfra/adapter.go
  systemtests/src/main/java/io/enmasse/systemtest/iot/DefaultDeviceRegistry.java
  systemtests/src/main/java/io/enmasse/systemtest/iot/IoTTestSession.java
  systemtests/src/test/java/io/enmasse/systemtest/iot/IoTTestSessionTest.java
  systemtests/src/test/java/io/enmasse/systemtest/iot/tls/ReloadCertificatesTest.java
  systemtests/src/test/java/io/enmasse/systemtest/iot/tls/TlsVersionTest.java
Labels: component/iot, component/systemtests

#5086 Restructure metadata json to form parent and child hierarcies
  console/console-init/ui/src/graphql-module/queries/iot_project.ts
  console/console-init/ui/src/graphql-module/queries/project.ts
  console/console-init/ui/src/modules/iot-device-detail/containers/DeviceInfoContainer/DeviceInfoContainer.tsx
  console/console-init/ui/src/modules/iot-device/components/CreateMetadata/CreateMetadata.tsx
  console/console-init/ui/src/modules/iot-device/components/CreateMetadata/MetaDataProperty.tsx
  console/console-init/ui/src/modules/iot-device/components/CreateMetadata/MetaDataRow.tsx
  console/console-init/ui/src/modules/iot-device/components/CreateMetadata/MetaDataType.tsx
  console/console-init/ui/src/modules/iot-device/components/CreateMetadata/MetaDataValue.tsx
  console/console-init/ui/src/modules/iot-device/components/ReviewDevice/ReviewDevice.tsx
  console/console-init/ui/src/modules/iot-device/utils/constant.ts
  console/console-init/ui/src/modules/project/containers/ProjectListContainer/ProjectListContainer.tsx
  console/console-init/ui/src/modules/project/utils/ProjectFormatter.tsx
  console/console-init/ui/src/utils/utils.ts
Labels: component/console-ui

#5088 Fix: multiple select of device list and render id for TablePagination
  console/console-init/ui/src/components/TablePagination/TablePagination.tsx
  console/console-init/ui/src/modules/iot-device/DeviceListPage.tsx
  console/console-init/ui/src/modules/iot-device/containers/DeviceListContainer/DeviceListContainer.tsx
  console/console-init/ui/src/modules/project/ProjectPage.tsx
  console/console-init/ui/src/modules/project/containers/ProjectListContainer/ProjectListContainer.tsx
Labels: component/console-ui

#5089 Docs:Update procedures for creating custome resource
  documentation/modules/proc-create-address-plan-custom-resource-olm-ui.adoc
  documentation/modules/proc-create-address-space-plan-custom-resource-olm-ui.adoc
  documentation/modules/proc-create-auth-service-custom-resource-olm-ui.adoc
  documentation/modules/proc-create-infraconfig-custom-resource-olm-ui.adoc
  documentation/modules/proc-olm-installing-from-operatorhub-using-console.adoc
Labels: component/documentation

#5090 Docs:Update procedures for creating custome resource
  documentation/modules/proc-create-address-plan-custom-resource-olm-ui.adoc
  documentation/modules/proc-create-address-space-plan-custom-resource-olm-ui.adoc
  documentation/modules/proc-create-auth-service-custom-resource-olm-ui.adoc
  documentation/modules/proc-create-infraconfig-custom-resource-olm-ui.adoc
  documentation/modules/proc-olm-installing-from-operatorhub-using-console.adoc
Labels: component/documentation

#5096 Integrate change connection type flow
  console/console-init/ui/src/components/DialogPrompt/DialogPrompt.tsx
  console/console-init/ui/src/components/RootModal/RootModal.tsx
  console/console-init/ui/src/components/UpdatePassword/UpdatePassword.tsx
  console/console-init/ui/src/context-state-reducer/actions.ts
  console/console-init/ui/src/modules/iot-device-detail/components/ActionManager/ActionManager.tsx
  console/console-init/ui/src/modules/iot-device-detail/components/CredentialsView/CredentialsView.tsx
  console/console-init/ui/src/modules/iot-device-detail/components/DeviceDetailHeader/DeviceDetailHeader.tsx
  console/console-init/ui/src/modules/iot-device-detail/containers/SecretViewContainer/SecretViewContainer.tsx
  console/console-init/ui/src/modules/iot-device-detail/utils/utils.ts
  console/console-init/ui/src/utils/utils.ts
Labels: component/console-ui
