Repository EnMasseProject/enmasse, pull requests merged in 2020-08, with the labels that each got.

#5098 add visual component to clone a device
  console/console-init/ui/src/Routes.tsx
  console/console-init/ui/src/components/RootModal/RootModal.tsx
  console/console-init/ui/src/context-state-reducer/actions.ts
  console/console-init/ui/src/modules/iot-device-detail/DeviceDetailPage.tsx
  console/console-init/ui/src/modules/iot-device-detail/components/CloneDeviceDialog/CloneDeviceDialog.tsx
  console/console-init/ui/src/modules/iot-device-detail/components/CloneDeviceDialog/index.ts
  console/console-init/ui/src/modules/iot-device-detail/components/index.ts
  console/console-init/ui/src/modules/iot-device-detail/dialogs/CloneDevice/CloneDevicePage.tsx
  console/console-init/ui/src/modules/iot-device-detail/dialogs/CloneDevice/CloneDeviceUsingJsonPage.tsx
  console/console-init/ui/src/modules/iot-device/components/AddDeviceWithJson/AddDeviceWithJson.tsx
Labels: component/console-ui

#5060 Chore: modify AddGateway visual component
  console/console-init/ui/src/components/TypeAheadSelect/TypeAheadSelect.tsx
  console/console-init/ui/src/graphql-module/queries/iot_device.ts
  console/console-init/ui/src/mock-data/iot_device.ts
  console/console-init/ui/src/modules/iot-device/components/AddGateways/AddGateway.tsx
  console/console-init/ui/src/modules/iot-device/components/AddGateways/pf-overrides.css
  console/console-init/ui/src/modules/iot-device/containers/AddGatewaysContainer/AddGatewaysContainer.tsx
  console/console-init/ui/src/modules/iot-device/containers/EditGatewaysContainer/EditGatewaysContainer.tsx
  console/console-init/ui/src/modules/iot-device/dialogs/CreateDevice/CreateDevicePage.tsx
  console/console-init/ui/src/modules/iot-device/utils/constant.ts
Labels: Do Not Merge, component/console-ui

#5104 [Console-iot] Add manage columns in device list
  console/console-init/ui/src/modules/iot-device-detail/dialogs/CloneDevice/CloneDevicePage.tsx
  console/console-init/ui/src/modules/iot-device/DeviceListPage.tsx
  console/console-init/ui/src/modules/iot-device/components/DeviceListToolbar/DeviceListToolbar.tsx
  console/console-init/ui/src/modules/iot-device/components/MangeColumnModal/ManageColumnModal.tsx
  console/console-init/ui/src/modules/iot-device/components/MangeColumnModal/index.ts
  console/console-init/ui/src/modules/iot-device/components/index.ts
  console/console-init/ui/src/modules/iot-device/containers/DeviceListContainer/DeviceListContainer.tsx
  console/console-init/ui/src/modules/iot-device/utils/constant.ts
  console/console-init/ui/src/stories/DeviceList.stories.tsx
  console/console-init/ui/src/stories/DeviceListPage.stories.tsx
Labels: component/console-ui

#5106 Fix: change IDevice interface according to mock-server
  console/console-init/ui/src/graphql-module/queries/iot_device.ts
  console/console-init/ui/src/modules/iot-device/components/DeviceList/DeviceList.tsx
  console/console-init/ui/src/modules/iot-device/containers/DeviceListContainer/DeviceListContainer.tsx
  console/console-init/ui/src/modules/iot-device/utils/TableFormatter.tsx
  console/console-init/ui/src/schema/iot_device.ts
  console/console-init/ui/src/stories/DeviceList.stories.tsx
  console/console-init/ui/src/stories/DeviceListPage.stories.tsx
Labels: component/console-ui

#5105 [Console-Iot] integrate manage column toolbar in device list component and query
  console/console-init/ui/src/graphql-module/queries/iot_device.ts
  console/console-init/ui/src/modules/iot-device/DeviceListPage.tsx
  console/console-init/ui/src/modules/iot-device/components/DeviceList/DeviceList.test.tsx
  console/console-init/ui/src/modules/iot-device/components/DeviceList/DeviceList.tsx
  console/console-init/ui/src/modules/iot-device/components/MangeColumnModal/ManageColumnModal.tsx
  console/console-init/ui/src/modules/iot-device/containers/DeviceListContainer/DeviceListContainer.tsx
  console/console-init/ui/src/modules/iot-device/utils/TableFormatter.tsx
  console/console-init/ui/src/stories/DeviceList.stories.tsx
  console/console-init/ui/src/stories/DeviceListPage.stories.tsx
Labels: component/console-ui

#5108 Docs: Update wording for queue concept
  documentation/modules/con-standard-queue.adoc
Labels: component/documentation, status/SME Review Needed

#5123 Docs: Update wording for queue concept
  documentation/modules/con-standard-queue.adoc
Labels: component/documentation

#5110 [console-Iot] Integrate add device using json with mock server
  console/console-init/ui/src/graphql-module/queries/iot_device.ts
  console/console-init/ui/src/modules/iot-device/components/AddDeviceWithJson/AddJsonUsingTemplate.tsx
  console/console-init/ui/src/modules/iot-device/dialogs/CreateDevice/AddDeviceUsingJsonPage.tsx
  console/console-init/ui/src/modules/iot-device/utils/utils.ts
  console/console-init/ui/src/schema/iot_device.ts
Labels: component/console-ui

#5117 fix issue related to project list
  console/console-init/ui/src/components/DialogPrompt/DialogPrompt.tsx
  console/console-init/ui/src/components/RootModal/RootModal.tsx
  console/console-init/ui/src/context-state-reducer/actions.ts
  console/console-init/ui/src/graphql-module/queries/messaging_project.ts
  console/console-init/ui/src/modules/iot-project-detail/containers/IoTProjectDetailHeaderContainer/IoTProjectDetailHeaderContainer.tsx
  console/console-init/ui/src/modules/messaging-project/MessagingProjectDetailPage.tsx
  console/console-init/ui/src/modules/messaging-project/MessagingProjectPage.tsx
  console/console-init/ui/src/modules/messaging-project/containers/MessagingProjectListContainer/MessagingProjectListContainer.tsx
  console/console-init/ui/src/modules/project/ProjectPage.tsx
  console/console-init/ui/src/modules/project/components/IoTReview/IoTReview.tsx
  console/console-init/ui/src/modules/project/components/ProjectDatatoolbarToggleGroup/ProjectDataToolbarToggleGroup.tsx
  console/console-init/ui/src/modules/project/components/ProjectList/ProjectList.tsx
  console/console-init/ui/src/modules/project/containers/ProjectListContainer/ProjectListContainer.tsx
  console/console-init/ui/src/modules/project/utils/utils.ts
  console/console-init/ui/src/stories/ProjectList.stories.tsx
Labels: component/console-ui

#5126 Add console mock for DLQ/Expiry feature
  console/console-init/ui/mock-console-server/mock-console-server.js
  console/console-init/ui/mock-console-server/schema.js
  console/console-init/ui/mock-console-server/test/mock.js
Labels: component/console-ui

#5127 fix device list connection type
  console/console-init/ui/src/graphql-module/queries/iot_device.ts
  console/console-init/ui/src/modules/iot-device/containers/DeviceListContainer/DeviceListContainer.tsx
  console/console-init/ui/src/modules/iot-device/utils/TableFormatter.tsx
  console/console-init/ui/src/stories/DeviceList.stories.tsx
  console/console-init/ui/src/stories/DeviceListPage.stories.tsx
Labels: component/console-ui

#5129 [Console-Iot] Integrate clone device using json with mock server
  console/console-init/ui/src/components/Editor/Editor.tsx
  console/console-init/ui/src/components/JsonEditor/JsonEditor.tsx
  console/console-init/ui/src/modules/iot-device-detail/components/DeviceDetailHeader/DeviceDetailHeader.tsx
  console/console-init/ui/src/modules/iot-device-detail/dialogs/CloneDevice/CloneDeviceUsingJsonPage.tsx
  console/console-init/ui/src/modules/iot-device/components/AddDeviceWithJson/AddDeviceWithJson.tsx
  console/console-init/ui/src/modules/iot-device/dialogs/CreateDevice/AddDeviceUsingJsonPage.tsx
  console/console-init/ui/src/schema/iot_device.ts
  console/console-init/ui/src/stories/AddDeviceWithJson.stories.tsx
Labels: component/console-ui

#5132 [console-iot] add option to enable/disable multiple iot projects
  console/console-init/ui/src/modules/project/ProjectPage.tsx
  console/console-init/ui/src/modules/project/components/ProjectListKebab/ProjectListKebab.tsx
  console/console-init/ui/src/modules/project/components/ProjectToolbar/ProjectToolbar.tsx
  console/console-init/ui/src/modules/project/containers/ProjectToolbarContainer/ProjectToolbarContainer.tsx
  console/console-init/ui/src/modules/project/utils/utils.ts
Labels: component/console-ui

#5148 Feat: fetch gateway groups for device info
  console/console-init/ui/mock-console-server/mock-console-server.js
  console/console-init/ui/src/modules/iot-device-detail/components/ConnectionGateway/ConnectionGateway.tsx
  console/console-init/ui/src/modules/iot-device-detail/components/ConnectionGateway/GatewayItems.tsx
  console/console-init/ui/src/modules/iot-device-detail/components/ConnectionGateway/index.ts
  console/console-init/ui/src/modules/iot-device-detail/components/DeviceInfo/DeviceInfo.tsx
  console/console-init/ui/src/modules/iot-device-detail/components/GatewayMembership/GatewayMembership.tsx
  console/console-init/ui/src/modules/iot-device-detail/components/GatewayMembership/index.ts
  console/console-init/ui/src/modules/iot-device-detail/containers/DeviceInfoContainer/DeviceInfoContainer.tsx
  console/console-init/ui/src/modules/iot-device/components/AddGatewayGroupMembership/AddGatewayGroupMembership.tsx
  console/console-init/ui/src/stories/DeviceInfo.stories.tsx
Labels: component/console-ui

#5150 Feat: add gateway membership step for create device flow
  console/console-init/ui/src/modules/address-detail/containers/AddressLinksToolbarContainer/AddressLinksToolbarContainer.tsx
  console/console-init/ui/src/modules/address/containers/AddressToolbarContainer/AddressToolbarContainer.tsx
  console/console-init/ui/src/modules/connection-detail/containers/ConnectionLinksToolbarContainer/ConnectionLinksToolbarContainer.tsx
  console/console-init/ui/src/modules/connection/containers/ConnectionToolbarContainer/ConnectionToolbarContainer.tsx
  console/console-init/ui/src/modules/iot-device-detail/components/DeviceInfo/DeviceInfo.tsx
  console/console-init/ui/src/modules/iot-device/dialogs/CreateDevice/CreateDevicePage.tsx
  console/console-init/ui/src/modules/project/containers/ProjectToolbarContainer/ProjectToolbarContainer.tsx
Labels: component/console-ui

#5151 [Console-UI] remove blank string workaround for dropdown alignment issue
  console/console-init/ui/src/components/DropdownWithToggle/DropdownWithToggle.tsx
  console/console-init/ui/src/modules/address/components/AddressConfiguration/AddressConfiguration.tsx
  console/console-init/ui/src/modules/address/containers/AddressDefinitionContainer/AddressDefinitionContainer.tsx
  console/console-init/ui/src/modules/address/dialogs/CreateAddress/CreateAddress.tsx
Labels: component/console-ui

#5155 Feat: integrate create device wizard
  console/console-init/ui/src/modules/iot-device/components/CreateMetadata/CreateMetadata.tsx
  console/console-init/ui/src/modules/iot-device/dialogs/CreateDevice/CreateDevicePage.tsx
  console/console-init/ui/src/modules/iot-device/dialogs/CreateDevice/DeviceInformation.tsx
  console/console-init/ui/src/modules/iot-device/utils/utils.ts
Labels: component/console-ui

#5156 [console-iot] remove finish step from create project wizard
  console/console-init/ui/src/modules/project/dailogs/CreateProject/CreateProject.tsx
Labels: component/console-ui

#5143 [Console-UI] Make UI changes for DL and expiry queue
  console/console-init/ui/mock-console-server/mock-console-server.js
  console/console-init/ui/mock-console-server/test/mock.js
  console/console-init/ui/src/components/DropdownWithToggle/DropdownWithToggle.tsx
  console/console-init/ui/src/constant/constants.ts
  console/console-init/ui/src/graphql-module/queries/Address.ts
  console/console-init/ui/src/modules/address-detail/AddressDetailPage.tsx
  console/console-init/ui/src/modules/address-detail/components/AddressDetailHeader/AddressDetailHeader.tsx
  console/console-init/ui/src/modules/address/AddressPage.tsx
  console/console-init/ui/src/modules/address/components/AddressConfiguration/AddressConfiguration.tsx
  console/console-init/ui/src/modules/address/components/AddressList/AddressList.tsx
  console/console-init/ui/src/modules/address/components/AddressToggleGroup/AddressToggleGroup.tsx
  console/console-init/ui/src/modules/address/components/DeadLetterAddress/DeadLetterAddress.tsx
  console/console-init/ui/src/modules/address/components/DeadLetterAddress/index.ts
  console/console-init/ui/src/modules/address/components/ExpiryAddress/ExpiryAddress.tsx
  console/console-init/ui/src/modules/address/components/ExpiryAddress/index.ts
  console/console-init/ui/src/modules/address/components/index.ts
  console/console-init/ui/src/modules/address/containers/AddressDefinitionContainer/AddressDefinitionContainer.tsx
  console/console-init/ui/src/modules/address/containers/AddressListContainer/AddressListContainer.tsx
  console/console-init/ui/src/modules/address/dialogs/CreateAddress/CreateAddress.tsx
  console/console-init/ui/src/modules/address/dialogs/CreateAddress/Preview.tsx
  console/console-init/ui/src/modules/address/dialogs/EditAddress/EditAddress.tsx
  console/console-init/ui/src/modules/address/utils/utils.ts
  console/console-init/ui/src/schema/ResponseTypes.ts
  console/console-init/ui/src/utils/utils.ts
Labels: component/console-ui

#5163 Fix: error while creating a new IoT project
  console/console-init/ui/src/modules/project/dailogs/CreateProject/CreateProject.tsx
Labels: component/console-ui

#5162 Feat: device review page in create device review
  console/console-init/ui/src/modules/iot-device/components/AddGateways/AddGateway.tsx
  console/console-init/ui/src/modules/iot-device/dialogs/CreateDevice/CreateDevicePage.tsx
  console/console-init/ui/src/modules/iot-device/utils/utils.ts
  console/console-init/ui/src/utils/utils.ts
Labels: component/console-ui

#5160 Implemented toast alert for success and failed queries
  console/console-init/ui/src/components/DialogPrompt/DialogPrompt.tsx
  console/console-init/ui/src/components/ServerMessageAlert/ServerMessageAlert.tsx
  console/console-init/ui/src/constant/constants.ts
  console/console-init/ui/src/context-state-reducer/reducer.ts
  console/console-init/ui/src/graphql-module/error-helper.ts
  console/console-init/ui/src/hooks/useMutationQuery.ts
  console/console-init/ui/src/modules/iot-device/components/AddGatewayGroupMembership/AddGatewayGroupMembership.tsx
  console/console-init/ui/src/modules/iot-device/containers/EditGatewayGroupMembershipContainer/EditGatewayGroupMembershipContainer.tsx
  console/console-init/ui/src/utils/utils.ts
Labels: component/console-ui

#5170 Fix defect that prevented expiry address being assigned correctly
  agent/lib/artemis.js
  agent/lib/broker_controller.js
Labels: kind/bug

#5169 [console-iot] add Json Editor in create device using form
  console/console-init/ui/src/App.css
  console/console-init/ui/src/modules/iot-device-detail/dialogs/CloneDevice/CloneDevicePage.tsx
  console/console-init/ui/src/modules/iot-device/components/AddDeviceWithJson/AddDeviceWithJson.tsx
  console/console-init/ui/src/modules/iot-device/components/ReviewDevice/ReviewDevice.tsx
  console/console-init/ui/src/modules/iot-device/components/ViewMetaData/ViewMetaData.tsx
  console/console-init/ui/src/modules/iot-device/containers/ReviewDeviceContainer/ReviewDeviceContainer.tsx
  console/console-init/ui/src/modules/iot-device/dialogs/CreateDevice/CreateDevicePage.tsx
  console/console-init/ui/src/modules/iot-device/utils/utils.ts
  console/console-init/ui/src/stories/ReviewDevice.stories.tsx
  console/console-init/ui/src/utils/utils.ts
Labels: component/console-ui
