Repository EnMasseProject/enmasse, pull requests merged in 2020-06, with the labels that each got.

#4587 [Console-UI] Add status as filter in toolbar for address space list
  console/console-init/ui/mock-console-server/mock-console-server.js
  console/console-init/ui/src/graphql-module/queries/Address.ts
  console/console-init/ui/src/graphql-module/queries/AddressSpace.ts
  console/console-init/ui/src/modules/address-space/AddressSpacePage.tsx
  console/console-init/ui/src/modules/address-space/components/MessagingDatatoolbarToggleGroup/MessagingDataToolbarToggleGroup.tsx
  console/console-init/ui/src/modules/address-space/components/MessagingToolbar/MessagingToolbar.tsx
  console/console-init/ui/src/modules/address-space/containers/AddressSpaceListContainer/AddressSpaceListContainer.tsx
  console/console-init/ui/src/modules/address-space/containers/MessagingToolbarContainer/MessagingToolbarContainer.tsx
  console/console-init/ui/src/modules/address-space/utils/AddressSpaceFormatter.tsx
  console/console-init/ui/src/modules/address/components/AddressToggleGroup/AddressToggleGroup.tsx
Labels: component/console-ui

#4639 Docs:Add procedure for viewing endpoint console
  documentation/_images/console-screenshot-endpoints.png
  documentation/assemblies/assembly-using-console.adoc
  documentation/common/attributes.adoc
  documentation/modules/proc-create-address-space-console.adoc
  documentation/modules/ref-view-endpoint-info.adoc
  documentation/modules/ref-view-message-conn-stats-table.adoc
Labels: component/documentation, status/SME Review Needed

#4652 Docs:Update IoT logging procedures
  documentation/assemblies/assembly-iot-service-admin-guide.adoc
  documentation/modules/con-iot-logging.adoc
  documentation/modules/proc-iot-logging.adoc
Labels: component/documentation, status/SME Review Needed

#4662 Docs: Fix iot broken links
  documentation/assemblies/assembly-iot-configuring-sigfox.adoc
  documentation/assemblies/assembly-iot-creating-device.adoc
  documentation/modules/proc-iot-creating-new-sigfox-callback.adoc
  documentation/modules/proc-iot-installing-cli.adoc
  documentation/modules/proc-iot-register-sigfox-backend-gateway-device.adoc
  documentation/modules/proc-iot-register-sigfox-device.adoc
Labels: component/documentation, status/SME Review Needed

#4665 Fix infinite call recursion
  pkg/util/install/utils.go
Labels: component/enmasse-operator

#4670 Docs:Fix callout format in code blocks
  documentation/modules/proc-iot-logging.adoc
Labels: Peer Review Needed, component/documentation

#4592 Externalize credentials into secrets
  api-model/src/main/java/io/enmasse/iot/model/v1/AdapterStatus.java
  api-model/src/main/java/io/enmasse/iot/model/v1/IoTConfigStatus.java
  api-model/src/test/java/io/enmasse/iot/model/v1/IoTConfigTest.java
  api-model/src/test/resources/io/enmasse/iot/model/v1/resources/iot-config.json
  pkg/apis/iot/v1alpha1/types_config.go
  pkg/apis/iot/v1alpha1/zz_generated.deepcopy.go
  pkg/controller/iotconfig/adapter.go
  pkg/controller/iotconfig/auth.go
  pkg/controller/iotconfig/auth_service.go
  pkg/controller/iotconfig/auth_test.go
  pkg/controller/iotconfig/device_connection.go
  pkg/controller/iotconfig/device_registry.go
  pkg/controller/iotconfig/infinispan_device_connection.go
  pkg/controller/iotconfig/infinispan_device_registry.go
  pkg/controller/iotconfig/inter_service.go
  pkg/controller/iotconfig/iotconfig_controller.go
  pkg/controller/iotconfig/jdbc_device_connection.go
  pkg/controller/iotconfig/jdbc_device_registry.go
  pkg/controller/iotconfig/tenant_service.go
  pkg/controller/iotconfig/utils.go
  pkg/util/cchange/change.go
  pkg/util/password.go
  pkg/util/password_test.go
Labels: component/iot

#4664 Test: unit tests for IoTCertificates and IoTDeviceList visual components
  console/console-init/ui/src/modules/iot-certificates/components/CertificateCard/CertificateCard.test.tsx
  console/console-init/ui/src/modules/iot-certificates/components/CertificateCard/CertificateCard.tsx
  console/console-init/ui/src/modules/iot-certificates/components/CertificateForm/CertificateForm.test.tsx
  console/console-init/ui/src/modules/iot-certificates/components/CertificateForm/CertificateForm.tsx
  console/console-init/ui/src/modules/iot-certificates/components/IoTCertificate/IoTCertificate.test.tsx
  console/console-init/ui/src/modules/iot-certificates/components/IoTCertificate/IoTCertificate.tsx
  console/console-init/ui/src/modules/iot-certificates/components/IoTCertificateList/IoTCertificateList.tsx
  console/console-init/ui/src/modules/iot-certificates/components/IoTCertificateToolbar/IoTCertificateToolbar.test.tsx
  console/console-init/ui/src/modules/iot-certificates/components/IoTCertificateToolbar/IoTCertificateToolbar.tsx
  console/console-init/ui/src/modules/iot-device/components/DeviceList/DeviceList.test.tsx
  console/console-init/ui/src/modules/iot-device/components/DeviceList/DeviceList.tsx
  console/console-init/ui/src/modules/iot-device/utils/TableFormatter.tsx
  console/console-init/ui/src/stories/DeviceList.stories.tsx
  console/console-init/ui/src/stories/IoTCertificates.stories.tsx
  console/console-init/ui/src/stories/ProjectCertificates.stories.tsx
Labels: component/console-ui

#4600 Allow configuring Pod affinities for IoT
  api-model/src/main/java/io/enmasse/iot/model/v1/ServiceConfig.java
  pkg/apis/iot/v1alpha1/types_config.go
  pkg/apis/iot/v1alpha1/zz_generated.deepcopy.go
  pkg/controller/iotconfig/utils.go
Labels: component/iot

#4593 Changes of IoT components
  CHANGELOG.md
Labels: component/documentation, component/iot

#4680 Reduce log output for systemtests
  systemtests/src/main/java/io/enmasse/systemtest/iot/IoTTestSession.java
Labels: component/iot, component/systemtests

#4679 Add a bit more information to the log
  systemtests/src/main/java/io/enmasse/systemtest/utils/AddressSpaceUtils.java
Labels: component/iot, component/systemtests

#4682 Avoid race when processing Artemis response when connecting to broker
  agent/lib/artemis.js
Labels: component/agent

#4617 Try fixing IoT tests
  systemtests/src/main/java/io/enmasse/systemtest/info/TestInfo.java
  systemtests/src/main/java/io/enmasse/systemtest/iot/IoTTests.java
  systemtests/src/main/java/io/enmasse/systemtest/iot/MqttAdapterClient.java
  systemtests/src/main/java/io/enmasse/systemtest/listener/JunitCallbackListener.java
  systemtests/src/main/java/io/enmasse/systemtest/logs/GlobalLogCollector.java
  systemtests/src/test/java/io/enmasse/systemtest/iot/isolated/http/HttpAdapterTest.java
  systemtests/src/test/java/io/enmasse/systemtest/iot/isolated/mqtt/MqttAdapterTest.java
  systemtests/src/test/java/io/enmasse/systemtest/iot/mqtt/StandardIoTMqttTests.java
Labels: component/iot

#4688 Add missing case of future validity
  systemtests/src/test/java/io/enmasse/systemtest/iot/isolated/x509/StandardX509Cases.java
Labels: component/iot

#4690 Add some missing changelog entries
  CHANGELOG.md
Labels: component/iot

#4668 Drop cleaning up device connection entries with Infinispan
  iot/iot-tenant-cleaner/src/main/java/io/enmasse/iot/tools/cleanup/Application.java
  iot/iot-tenant-cleaner/src/main/java/io/enmasse/iot/tools/cleanup/InfinispanDeviceRegistryCleaner.java
  pkg/controller/iotproject/tenant_cleanup.go
Labels: component/iot

#4691 Add documentation for enabling tracing
  documentation/assemblies/assembly-iot-service-admin-guide.adoc
  documentation/modules/con-iot-tracing.adoc
  documentation/modules/proc-iot-tracing.adoc
Labels: component/iot

#4698 Document address canary metrics
  documentation/modules/ref-metrics-standard-controller-agent.adoc
  standard-controller/src/main/java/io/enmasse/controller/standard/AddressCanaryHealth.java
  standard-controller/src/main/java/io/enmasse/controller/standard/StandardController.java
Labels: component/documentation

#4700 Fix deploying Infinispan on plain Kubernetes
  systemtests/src/main/java/io/enmasse/systemtest/iot/IoTTestSession.java
  systemtests/src/main/java/io/enmasse/systemtest/platform/apps/SystemtestsKubernetesApps.java
Labels: component/iot

#4702 Fix deployment of secrets for plain Kubernetes
  api-model/src/main/java/io/enmasse/iot/model/v1/DeviceRegistryServiceConfig.java
  api-model/src/main/java/io/enmasse/iot/model/v1/ManagementConfig.java
  pkg/controller/iotconfig/adapter.go
  systemtests/src/main/java/io/enmasse/systemtest/bases/JUnitWorkaround.java
  systemtests/src/main/java/io/enmasse/systemtest/iot/DefaultDeviceRegistry.java
  systemtests/src/main/java/io/enmasse/systemtest/iot/IoTTestSession.java
  systemtests/src/main/java/io/enmasse/systemtest/iot/IoTTests.java
Labels: component/iot

#4707 Gracefully handle missing Prometheus CRDs in some cases
  pkg/controller/iotconfig/monitoring.go
  pkg/util/install/delete.go
  pkg/util/templatehelper.go
  systemtests/src/main/java/io/enmasse/systemtest/operator/EnmasseOperatorManager.java
Labels: component/iot

#4712 Docs:Fix typo in procedure for configuring IoT tracing
  documentation/modules/proc-iot-tracing.adoc
Labels: component/documentation, status/SME Review Needed

#4714 Do not overwrite the NodePort when running on plain Kubernetes
  pkg/controller/iotconfig/device_registry.go
Labels: component/iot

#4733 [System tests] SupportToolingTest - Log the stdout/stderr if support tool invocation fails
  systemtests/src/test/java/io/enmasse/systemtest/isolated/support/SupportToolingTest.java
Labels: component/systemtests

#4723 Ensure that addresses_ready event does not include addresses belonging to other address spaces.
  CHANGELOG.md
  agent/lib/internal_address_source.js
  agent/package.json
  agent/test/internal_address_source.js
  agent/yarn.lock
Labels: component/agent, component/standard-address-space

#4725 Docs: Add address sizing module
  documentation/assemblies/assembly-configuration-sizing-guide.adoc
  documentation/modules/ref-address-sizing.adoc
Labels: component/documentation, status/SME Review Needed

#4726 Docs:Update config resources image
  documentation/_images/config_relationships.png
  documentation/modules/con-configuring.adoc
Labels: component/documentation, status/SME Review Needed

#4715 Wrap remaining @BeforeAll methods
  systemtests/src/main/java/io/enmasse/systemtest/bases/JUnitWorkaround.java
  systemtests/src/main/java/io/enmasse/systemtest/bases/ThrowableRunner.java
  systemtests/src/main/java/io/enmasse/systemtest/info/TestInfo.java
  systemtests/src/main/java/io/enmasse/systemtest/iot/HttpAdapterClient.java
  systemtests/src/main/java/io/enmasse/systemtest/iot/IoTTestSession.java
  systemtests/src/main/java/io/enmasse/systemtest/iot/IoTTests.java
  systemtests/src/main/java/io/enmasse/systemtest/iot/KeyStoreCreator.java
  systemtests/src/main/java/io/enmasse/systemtest/listener/JunitCallbackListener.java
  systemtests/src/main/java/io/enmasse/systemtest/mqtt/MqttClientFactory.java
  systemtests/src/main/java/io/enmasse/systemtest/utils/IoTUtils.java
  systemtests/src/test/java/io/enmasse/systemtest/iot/DeviceSupplier.java
  systemtests/src/test/java/io/enmasse/systemtest/iot/KeyStoreCreatorTest.java
  systemtests/src/test/java/io/enmasse/systemtest/iot/StandardIoTTests.java
  systemtests/src/test/java/io/enmasse/systemtest/iot/http/StandardIoTHttpTests.java
  systemtests/src/test/java/io/enmasse/systemtest/iot/isolated/MultipleProjectsTest.java
  systemtests/src/test/java/io/enmasse/systemtest/iot/isolated/http/HttpAdapterTest.java
  systemtests/src/test/java/io/enmasse/systemtest/iot/isolated/mqtt/MqttAdapterTest.java
  systemtests/src/test/java/io/enmasse/systemtest/iot/isolated/project/ManagedTest.java
  systemtests/src/test/java/io/enmasse/systemtest/iot/isolated/registry/DeviceRegistryTest.java
  systemtests/src/test/java/io/enmasse/systemtest/iot/isolated/x509/StandardX509Cases.java
  systemtests/src/test/java/io/enmasse/systemtest/iot/isolated/x509/X509EcAuthenticationTests.java
  systemtests/src/test/java/io/enmasse/systemtest/iot/isolated/x509/X509RsaAuthenticationTests.java
  systemtests/src/test/java/io/enmasse/systemtest/iot/mqtt/StandardIoTMqttTests.java
  systemtests/src/test/java/io/enmasse/systemtest/iot/shared/control/CommandAndControlTest.java
  templates/iot/examples/h2/create.sql
  templates/iot/examples/postgresql/create.sql
Labels: component/iot

#4743 Update Console Endpoint Image.
  documentation/_images/console-screenshot-endpoints.png
Labels: component/documentation

#4730 Enhance brokered address space's address controller (agent) to populate address plan status
  CHANGELOG.md
  agent/bin/agent.js
  agent/lib/internal_address_source.js
  agent/lib/internal_addressplan_source.js
  agent/lib/internal_addressspaceplan_source.js
  agent/lib/kubernetes.js
  agent/test/internal_address_source.js
  agent/test/internal_addressplan_source.js
  agent/test/internal_addressspaceplan_source.js
  agent/test/ragent.js
  agent/testlib/mock_resource_server.js
  systemtests/src/test/java/io/enmasse/systemtest/bases/plans/PlansTestBase.java
  systemtests/src/test/java/io/enmasse/systemtest/isolated/plans/brokered/PlansTestBrokered.java
  systemtests/src/test/java/io/enmasse/systemtest/isolated/plans/standard/PlansTestStandard.java
Labels: component/agent

#4737 Upgrade to Hono version 1.2.3
  iot/pom.xml
Labels: component/iot

#4747 Delete second IoTProject during cleanup
  systemtests/src/main/java/io/enmasse/systemtest/iot/IoTTestSession.java
  systemtests/src/main/java/io/enmasse/systemtest/utils/IoTUtils.java
  systemtests/src/test/java/io/enmasse/systemtest/iot/isolated/x509/TrustAnchorTests.java
Labels: component/iot, component/systemtests

#4742 Feat: wizards for device list page
  console/console-init/ui/src/components/RootModal/RootModal.tsx
  console/console-init/ui/src/constant/constants.ts
  console/console-init/ui/src/context-state-reducer/actions.ts
  console/console-init/ui/src/modules/address/AddressPage.tsx
  console/console-init/ui/src/modules/address/utils/utils.ts
  console/console-init/ui/src/modules/iot-certificates/components/CertificateForm/CertificateForm.tsx
  console/console-init/ui/src/modules/iot-device/DeviceListPage.tsx
  console/console-init/ui/src/modules/iot-device/containers/DeviceListContainer/DeviceListContainer.tsx
  console/console-init/ui/src/modules/iot-device/utils/TableFormatter.tsx
  console/console-init/ui/src/modules/iot-device/utils/constant.ts
  console/console-init/ui/src/modules/iot-device/utils/index.ts
  console/console-init/ui/src/modules/iot-device/utils/utils.ts
Labels: component/console-ui

#4757 Fix testing IoT on Minikube
  systemtests/src/main/java/io/enmasse/systemtest/apiclients/ApiClient.java
  systemtests/src/main/java/io/enmasse/systemtest/apiclients/PrometheusApiClient.java
  systemtests/src/main/java/io/enmasse/systemtest/bases/iot/ITestIoTBase.java
  systemtests/src/main/java/io/enmasse/systemtest/iot/CredentialsRegistryClient.java
  systemtests/src/main/java/io/enmasse/systemtest/iot/DeviceManagementApi.java
  systemtests/src/main/java/io/enmasse/systemtest/iot/DeviceRegistryClient.java
  systemtests/src/main/java/io/enmasse/systemtest/iot/HonoApiClient.java
  systemtests/src/main/java/io/enmasse/systemtest/iot/HttpAdapterClient.java
  systemtests/src/main/java/io/enmasse/systemtest/iot/IoTTestSession.java
  systemtests/src/main/java/io/enmasse/systemtest/iot/IoTTests.java
  systemtests/src/main/java/io/enmasse/systemtest/platform/Kubernetes.java
  systemtests/src/test/java/io/enmasse/systemtest/shared/standard/api/UserApiTest.java
Labels: component/iot, component/systemtests

#4744 Fix IoT tests and Go subject DN handling
  iot/iot-tenant-service/src/main/java/io/enmasse/iot/tenant/impl/AbstractTenantService.java
  iot/iot-tenant-service/src/main/java/io/enmasse/iot/tenant/impl/TenantServiceImpl.java
  iot/iot-tenant-service/src/test/java/io/enmasse/iot/tenant/impl/TenantServiceImplTest.java
  pkg/controller/iotproject/configuration.go
  pkg/controller/iotproject/configuration_test.go
  pkg/util/x500.go
  pkg/util/x500_test.go
  systemtests/src/main/java/io/enmasse/systemtest/iot/DeviceCertificateManager.java
  systemtests/src/main/java/io/enmasse/systemtest/iot/HttpAdapterClient.java
  systemtests/src/main/java/io/enmasse/systemtest/iot/IoTTestSession.java
  systemtests/src/main/java/io/enmasse/systemtest/iot/KeyStoreCreator.java
  systemtests/src/test/java/io/enmasse/systemtest/iot/DeviceCertificateManagerTest.java
  systemtests/src/test/java/io/enmasse/systemtest/iot/KeyStoreCreatorTest.java
  systemtests/src/test/java/io/enmasse/systemtest/iot/http/StandardIoTHttpTests.java
  systemtests/src/test/java/io/enmasse/systemtest/iot/isolated/x509/StandardX509Cases.java
  systemtests/src/test/java/io/enmasse/systemtest/iot/isolated/x509/TrustAnchorTests.java
  systemtests/src/test/java/io/enmasse/systemtest/iot/isolated/x509/X509EcAuthenticationTests.java
  systemtests/src/test/java/io/enmasse/systemtest/iot/isolated/x509/X509RsaAuthenticationTests.java
  systemtests/src/test/java/io/enmasse/systemtest/iot/mqtt/StandardIoTMqttTests.java
Labels: component/iot, component/systemtests

#4762 Revert "Prevent the router from racing with the agent and causing addresses/queues to be autocreated. (#4739)"
  agent/lib/broker_controller.js
  broker-plugin/plugin/src/main/resources/standard/login.config
  broker-plugin/sasl-delegation/src/main/java/io/enmasse/artemis/sasl_delegation/SaslGroupBasedSecuritySettingsPlugin.java
Labels: kind/bug

#4768 Switch back to service CA for testing certificate re-creation
  systemtests/src/test/java/io/enmasse/systemtest/iot/isolated/tls/ReloadCertificatesTest.java
Labels: component/iot, component/systemtests

#4770 Reduce number of expected exceptions in the log
  systemtests/src/main/java/io/enmasse/systemtest/iot/HttpAdapterClient.java
  systemtests/src/test/java/io/enmasse/systemtest/iot/http/StandardIoTHttpTests.java
  systemtests/src/test/java/io/enmasse/systemtest/iot/isolated/http/MaxPayloadSizeTest.java
  systemtests/src/test/java/io/enmasse/systemtest/iot/mqtt/StandardIoTMqttTests.java
Labels: component/iot, component/systemtests

#4772 Refactor: device alert and empty device according to reviews
  console/console-init/ui/src/graphql-module/queries/iot_device.ts
  console/console-init/ui/src/modules/iot-device/DeviceListPage.tsx
  console/console-init/ui/src/modules/iot-device/containers/EmptyDeviceContainer/EmptyDeviceContainer.tsx
  console/console-init/ui/src/modules/iot-device/utils/constant.ts
  console/console-init/ui/src/schema/iot_device.ts
Labels: component/console-ui

#4789 Fix missing images
  pkg/util/images/mapping.go
Labels: component/iot

#4785 Message TTL
  documentation/assemblies/assembly-managing-addresses.adoc
  documentation/common/address-example-ttl.yaml
  documentation/modules/con-address-plans.adoc
  documentation/modules/ref-address-example-ttl.adoc
  documentation/modules/ref-ttl.adoc
Labels: component/documentation

#4798 Add validation in Create device
  console/console-init/ui/src/modules/iot-device/components/CreateMetadata/CreateMetadata.tsx
  console/console-init/ui/src/modules/iot-device/components/CreateMetadata/MetaDataRow.tsx
  console/console-init/ui/src/modules/iot-device/dialogs/CreateDevice/DeviceInformation.tsx
  console/console-init/ui/src/modules/iot-device/utils/constant.ts
  console/console-init/ui/src/stories/CreateDevice.stories.tsx
Labels: component/console-ui

#4800 Missed the renaming of the ttl field in the address status section
  templates/crds/addresses.crd.yaml
Labels: kind/bug

#4797 [systemtests] Investigate ApiServerTest failure on CRC
  systemtests/src/test/java/io/enmasse/systemtest/isolated/api/ApiServerTest.java
  systemtests/src/test/java/io/enmasse/systemtest/isolated/api/CustomResourceDefinitionAddressSpacesTest.java
  systemtests/src/test/java/io/enmasse/systemtest/isolated/api/CustomResourceDefinitionAddressesTest.java
Labels: component/systemtests

#4810 [system tests] address settings / messaging ttl tests - fail early if test observation getAddressSettingsAsJSON fails
  systemtests/src/main/java/io/enmasse/systemtest/broker/ArtemisUtils.java
Labels: component/systemtests

#4811 Fix condition value: OK is "true"
  pkg/controller/iotproject/configuration.go
Labels: component/iot

#4808 Fix appending content
  pkg/util/install/utils.go
  pkg/util/install/utils_test.go
Labels: component/enmasse-operator

#4807 Fix: undesired behavior of CreateAddress wizard
  console/console-init/ui/src/Routes.tsx
  console/console-init/ui/src/modules/address-detail/components/AddressDetailHeader/AddressDetailHeader.test.tsx
  console/console-init/ui/src/modules/address/containers/AddressDefinitionContainer/AddressDefinitionContainer.tsx
Labels: component/console-ui

#4750 Add a note about choosing a namespace when deploying test certificates
  documentation/modules/proc-iot-installing-services.adoc
Labels: Peer Review Needed, component/documentation, component/iot

#4799 Fix #3560: Add securityContext field to the brokered/standard infra config tables
  documentation/kubernetes/master.adoc
  documentation/modules/ref-brokered-infra-config-fields.adoc
  documentation/modules/ref-standard-infra-config-fields.adoc
  documentation/openshift/master.adoc
Labels: component/documentation

#4812 Fix alignment of Address Space table
  console/console-init/ui/src/modules/address-space/utils/TableFormatter.tsx
Labels: component/console-ui

#4814 Console-UI Filter on type and status in address space list is not working when combined together
  console/console-init/ui/src/graphql-module/queries/AddressSpace.ts
  console/console-init/ui/src/modules/address-space/containers/MessagingToolbarContainer/MessagingToolbarContainer.tsx
Labels: component/console-ui

#4783 Add help about getting an authentication token
  documentation/assemblies/assembly-iot-creating-device.adoc
  documentation/assemblies/assembly-iot-device-manager-guide.adoc
  documentation/modules/proc-iot-management-token.adoc
Labels: component/documentation, component/iot

#4831 Fix issue with wrong connection pool, enforce using C3P0.
  iot/iot-jdbc-base/pom.xml
  iot/iot-jdbc-base/src/main/java/io/enmasse/iot/jdbc/config/JdbcProperties.java
  iot/pom.xml
Labels: component/iot

#4832 Docs: Fix typo in procedure for obtaining auth token
  documentation/modules/proc-iot-management-token.adoc
Labels: component/documentation, status/SME Review Done

#4834 Docs: Remove note about DLQs
  documentation/modules/con-standard-queue.adoc
Labels: component/documentation, status/SME Review Needed

#4484 Adopt the new messaging infrastructure
  documentation/design/iot/README.adoc
Labels: component/iot

#4848 Use defaults in tests
  systemtests/pom.xml
  systemtests/src/test/java/io/enmasse/systemtest/sharedinfra/MessagingAddressPerfTest.java
  systemtests/src/test/java/io/enmasse/systemtest/sharedinfra/MessagingTenantTest.java
Labels: component/systemtests
