Repository EnMasseProject/enmasse, pull requests merged in 2020-09, with the labels that each got.

#5181 Docs: Update supported features table
  documentation/modules/ref-supported-table.adoc
Labels: component/documentation

#5184 Fixed issues for device detail page
  console/console-init/ui/src/modules/iot-device-detail/components/ActionManager/ActionManager.tsx
  console/console-init/ui/src/modules/iot-device-detail/components/DeviceDetailHeader/DeviceDetailHeader.tsx
  console/console-init/ui/src/modules/iot-device-detail/components/GatewayMembership/GatewayMembership.tsx
  console/console-init/ui/src/modules/iot-device/components/AddGateways/AddGateway.tsx
  console/console-init/ui/src/modules/iot-device/containers/AddCredentialsContainer/AddCredentialsContainer.tsx
  console/console-init/ui/src/modules/iot-device/containers/AddGatewaysContainer/AddGatewaysContainer.tsx
  console/console-init/ui/src/modules/iot-device/containers/EditDeviceInJsonContainer/EditDeviceInJsonContainer.tsx
  console/console-init/ui/src/modules/iot-device/containers/EditGatewayGroupMembershipContainer/EditGatewayGroupMembershipContainer.tsx
  console/console-init/ui/src/modules/iot-device/containers/EditGatewaysContainer/EditGatewaysContainer.tsx
  console/console-init/ui/src/modules/iot-device/containers/EditMetadataContainer/EditMetadataContainer.tsx
  console/console-init/ui/src/utils/index.ts
  console/console-init/ui/src/utils/messages.ts
  console/console-init/ui/src/utils/utils.ts
Labels: component/console-ui

#5179 Docs: Update OCP Prerequisites
  documentation/common/snip-prerequisites-openshift.adoc
Labels: component/documentation

#5180 [console-iot] integrate view metadata in device info
  console/console-init/ui/src/containers/GatewayGroupTypeAheadSelect/GatewayGroupTypeAheadSelect.tsx
  console/console-init/ui/src/modules/iot-device-detail/components/DeviceInfo/DeviceInfo.tsx
  console/console-init/ui/src/modules/iot-device-detail/containers/DeviceInfoContainer/DeviceInfoContainer.tsx
  console/console-init/ui/src/modules/iot-device/components/AddGateways/AddGateway.tsx
  console/console-init/ui/src/modules/iot-device/components/ReviewDevice/ReviewDevice.tsx
  console/console-init/ui/src/modules/iot-device/components/ViewMetaData/MetaDataReviewRows.tsx
  console/console-init/ui/src/modules/iot-device/components/ViewMetadata/MetadataReviewRow.tsx
  console/console-init/ui/src/modules/iot-device/components/ViewMetadata/MetadataReviewRows.tsx
  console/console-init/ui/src/modules/iot-device/components/ViewMetadata/ViewMetadata.tsx
  console/console-init/ui/src/modules/iot-device/components/ViewMetadata/index.ts
  console/console-init/ui/src/modules/iot-device/components/index.ts
  console/console-init/ui/src/utils/utils.ts
Labels: component/console-ui

#5190 Docs: fix module id for ttl and deadletter examples
  documentation/modules/ref-address-example-message-redelivery.adoc
  documentation/modules/ref-address-example-message-ttl.adoc
Labels: component/documentation

#5192 Docs:Update broker logging level module
  documentation/modules/proc-change-logging-level-broker.adoc
Labels: component/documentation, status/SME Review Done

#5193 Docs:update links and punctuation
  documentation/modules/proc-change-address-space-auth-service-console.adoc
  documentation/modules/proc-change-address-space-plan-console.adoc
  documentation/modules/proc-create-address-console.adoc
  documentation/modules/proc-enable-ocp4-monitoring.adoc
  documentation/modules/proc-managing-user-permissions-cli.adoc
  documentation/modules/proc-olm-installing-from-operatorhub-using-console.adoc
  documentation/modules/ref-address-example.adoc
  documentation/modules/ref-address-space-example-exporting-endpoints.adoc
  documentation/modules/ref-brokered-infra-config-override-probe-timeout.adoc
  documentation/modules/ref-standard-infra-config-override-probe-timeout.adoc
Labels: component/documentation

#5194 Docs: Add Module for deleting addresses
  documentation/assemblies/assembly-managing-addresses.adoc
  documentation/modules/proc-create-address-console.adoc
  documentation/modules/proc-delete-address-console.adoc
Labels: component/documentation, status/SME Review Needed
