Repository EnMasseProject/enmasse, pull requests merged in 2020-01, with the labels that each got.

#3668 [IoT] Prevent tenant cleaner to update caches schema
  iot/iot-device-registry-infinispan/src/main/java/io/enmasse/iot/registry/infinispan/health/AbstractCacheHealthCheck.java
  iot/iot-device-registry-infinispan/src/main/java/io/enmasse/iot/registry/infinispan/health/AbstractSyncHealthCheck.java
  iot/iot-infinispan-base/src/main/java/io/enmasse/iot/infinispan/cache/DeviceManagementCacheProvider.java
  iot/iot-service-base/src/main/java/io/enmasse/iot/service/base/AbstractProjectBasedService.java
  iot/iot-tenant-cleaner/src/main/java/io/enmasse/iot/tools/cleanup/InfinispanTenantCleaner.java
Labels: component/iot

#3664 Add uninstall procedure for OLM uninstall
  documentation/assemblies/assembly-uninstalling.adoc
  documentation/modules/proc-uninstalling-using-olm-console.adoc
  documentation/modules/proc-uninstalling-using-olm.adoc
  documentation/modules/proc-uninstalling.adoc
Labels: Peer Review Needed, component/documentation

#3640 Initial troubleshooting guide
  documentation/assemblies/assembly-troubleshooting-guide.adoc
  documentation/master-kubernetes.adoc
  documentation/master-openshift.adoc
  documentation/modules/proc-troubleshooting.adoc
Labels: Peer Review Needed, component/documentation

#3699 Fix uploading release assets
  .github/workflows/release.yml
Labels: status/Ready for Merge

#3604 Docs: metrics and alerts
  documentation/assemblies/assembly-metrics-rules.adoc
  documentation/assemblies/assembly-monitoring.adoc
  documentation/assemblies/assembly-rules.adoc
  documentation/modules/ref-metrics-address-space-controller.adoc
  documentation/modules/ref-metrics-common.adoc
  documentation/modules/ref-metrics-standard-controller-agent.adoc
  documentation/modules/ref-rules-alerts.adoc
  documentation/modules/ref-rules-records.adoc
Labels: component/documentation, status/SME Review Needed

#3701 Let the tenant cleaner upload, but not override the protobuf schema
  iot/iot-infinispan-base/src/main/java/io/enmasse/iot/infinispan/cache/AbstractCacheProvider.java
  iot/iot-infinispan-base/src/main/java/io/enmasse/iot/infinispan/cache/DeviceConnectionCacheProvider.java
  iot/iot-infinispan-base/src/main/java/io/enmasse/iot/infinispan/cache/DeviceManagementCacheProvider.java
  iot/iot-infinispan-base/src/main/java/io/enmasse/iot/infinispan/config/InfinispanProperties.java
  iot/iot-tenant-cleaner/src/main/java/io/enmasse/iot/tools/cleanup/InfinispanTenantCleaner.java
  systemtests/src/main/java/io/enmasse/systemtest/iot/MessageSendTester.java
  systemtests/src/main/java/io/enmasse/systemtest/utils/IoTUtils.java
Labels: component/iot, component/systemtests

#3733 Re-add verify codegen script to the CI
  .gitignore
  Makefile
  hack/generate-groups.sh
  hack/verify-codegen.sh
Labels: lang/go

#3775 Wait for deletion of address space
  pkg/controller/iotproject/finalizers.go
  pkg/util/install/delete.go
Labels: component/iot

#3679 System test to validate multiple projects to a single address space
  address-space-controller/src/main/java/io/enmasse/controller/AppliedConfig.java
  address-space-controller/src/main/java/io/enmasse/controller/ControllerChain.java
  address-space-controller/src/main/java/io/enmasse/controller/EndpointController.java
  address-space-controller/src/main/java/io/enmasse/controller/StatusController.java
  address-space-controller/src/test/java/io/enmasse/controller/EqualityTest.java
  api-model/src/main/java/io/enmasse/address/model/AddressSpace.java
  api-model/src/main/java/io/enmasse/address/model/AddressSpaceSpec.java
  api-model/src/main/java/io/enmasse/address/model/AddressSpaceSpecConnector.java
  api-model/src/main/java/io/enmasse/address/model/AddressSpaceStatus.java
  api-model/src/main/java/io/enmasse/address/model/AddressSpaceStatusConnector.java
  api-model/src/main/java/io/enmasse/address/model/AddressSpec.java
  api-model/src/main/java/io/enmasse/address/model/AddressStatus.java
  api-model/src/main/java/io/enmasse/address/model/AddressStatusForwarder.java
  api-model/src/main/java/io/enmasse/address/model/EndpointSpec.java
  api-model/src/main/java/io/enmasse/address/model/ExposeSpec.java
  api-model/src/main/java/io/enmasse/admin/model/v1/AddressPlanSpec.java
  api-model/src/main/java/io/enmasse/admin/model/v1/AddressSpacePlan.java
  api-model/src/main/java/io/enmasse/admin/model/v1/AddressSpacePlanSpec.java
  api-model/src/test/java/io/enmasse/address/model/AddressSpaceTest.java
  api-model/src/test/java/io/enmasse/address/model/v1/address/AddressSpaceStatusTest.java
  api-model/src/test/java/io/enmasse/address/model/v1/address/SerializationTest.java
  api-model/src/test/resources/io/enmasse/address/model/v1/address/resources/testDeserializeAddressSpaceWithMissingFields-1.json
  k8s-api/src/main/java/io/enmasse/k8s/api/AddressSpaceApi.java
  k8s-api/src/main/java/io/enmasse/k8s/api/CachingSchemaProvider.java
  k8s-api/src/main/java/io/enmasse/k8s/api/KubeAddressSpaceApi.java
  k8s-api/src/main/java/io/enmasse/k8s/api/cache/EventCache.java
  k8s-api/src/main/java/io/enmasse/k8s/api/cache/FieldExtractor.java
  k8s-api/src/main/java/io/enmasse/k8s/api/cache/HasMetadataFieldExtractor.java
  k8s-api/src/main/java/io/enmasse/k8s/api/cache/Reflector.java
  pkg/apis/enmasse/v1beta1/types.go
  standard-controller/src/main/java/io/enmasse/controller/standard/AddressController.java
  standard-controller/src/main/java/io/enmasse/controller/standard/AddressProvisioner.java
  standard-controller/src/main/java/io/enmasse/controller/standard/RouterStatus.java
  standard-controller/src/test/java/io/enmasse/controller/standard/AddressControllerTest.java
  systemtests/src/main/java/io/enmasse/systemtest/amqp/ClientHandlerBase.java
  systemtests/src/main/java/io/enmasse/systemtest/platform/KubeCMDClient.java
  systemtests/src/main/java/io/enmasse/systemtest/platform/Kubernetes.java
  systemtests/src/main/java/io/enmasse/systemtest/resources/CliOutputData.java
  systemtests/src/main/java/io/enmasse/systemtest/utils/AddressSpaceUtils.java
  systemtests/src/main/java/io/enmasse/systemtest/utils/IoTUtils.java
  systemtests/src/test/java/io/enmasse/systemtest/iot/isolated/project/ManagedTest.java
  systemtests/src/test/java/io/enmasse/systemtest/isolated/CommonTest.java
  systemtests/src/test/java/io/enmasse/systemtest/isolated/api/CustomResourceDefinitionAddressSpacesTest.java
  systemtests/src/test/java/io/enmasse/systemtest/resources/CliOutputDataTest.java
Labels: component/iot

#3695 Improve IoT project reconciliation;
  pkg/controller/iotconfig/iotconfig_controller.go
  pkg/controller/iotproject/iotproject_controller.go
Labels: component/iot

#3796 Fix code generation locally
  hack/run-codegen.sh
  hack/update-codegen.sh
  hack/verify-codegen.sh
Labels: lang/go

#3620 [iot] Add tenant validation to the registry auth layer
  iot/iot-device-registry-base/src/main/java/io/enmasse/iot/registry/tenant/KubernetesTenantInformationService.java
  iot/iot-device-registry-base/src/main/java/io/enmasse/iot/registry/tenant/TenantInformation.java
  iot/iot-device-registry-base/src/main/java/io/enmasse/iot/registry/util/DeviceRegistryTokenAuthProvider.java
  iot/iot-device-registry-infinispan/src/main/java/io/enmasse/iot/registry/infinispan/config/DeviceServiceConfiguration.java
  systemtests/src/main/java/io/enmasse/systemtest/iot/DeviceRegistryClient.java
  systemtests/src/test/java/io/enmasse/systemtest/iot/isolated/registry/DeviceRegistryTest.java
  systemtests/src/test/java/io/enmasse/systemtest/iot/isolated/registry/InfinispanDeviceRegistryTest.java
Labels: component/iot
