Repository EnMasseProject/enmasse, pull requests merged in 2021-02, with the labels that each got.

#5237 Modified OLM install
  .jenkins/Jenkinsfile-pr
  systemtests/olm/subscription.yaml
  systemtests/src/main/java/io/enmasse/systemtest/Environment.java
  systemtests/src/main/java/io/enmasse/systemtest/operator/OLMOperatorManager.java
Labels: component/systemtests

#5244 [System tests] Avoid NPE if test user is not defined
  systemtests/src/test/java/io/enmasse/systemtest/bases/web/ConsoleTest.java
Labels: component/systemtests

#5243 Fix #5228: Guard MIN_LARGE_MESSAGE_SIZE II
  broker-plugin/amqp-connector/src/main/java/org/apache/activemq/artemis/integration/amqp/AMQPConnectorServiceFactory.java
Labels: kind/bug

#5250 [Tests] Fix TopicTest.testSharedDurableSubscription
  systemtests/src/test/java/io/enmasse/systemtest/shared/brokered/TopicTest.java
Labels: component/systemtests

#5251 Docs:update broker component config example
  documentation/modules/ref-broker-component-sizing.adoc
Labels: component/documentation

#5254 added subscription source var
  systemtests/olm/subscription.yaml
  systemtests/src/main/java/io/enmasse/systemtest/Environment.java
  systemtests/src/main/java/io/enmasse/systemtest/operator/OLMOperatorManager.java
Labels: component/systemtests

#5255 Make add-crc-insecure-registry support id_ecdsa ssh identities
  scripts/add-crc-insecure-registry.sh
Labels: component/systemtests

#5257 Remove some IoT related test methods
  systemtests/src/main/java/io/enmasse/systemtest/platform/apps/SystemtestsKubernetesApps.java
Labels: component/systemtests

#5259 Docs:update links
  documentation/common/snip-prerequisites-openshift.adoc
  documentation/modules/proc-enable-ocp4-monitoring.adoc
  documentation/modules/proc-olm-installing-from-operatorhub-using-console.adoc
  documentation/modules/ref-brokered-infra-config-override-probe-timeout.adoc
  documentation/modules/ref-standard-infra-config-override-probe-timeout.adoc
Labels: component/documentation

#5261 Docs: fix typo
  documentation/common/snip-prerequisites-openshift.adoc
Labels: component/documentation
